# Miniprojeto Pandas

1) Juntar as bases, observe as colunas coincidentes, caso não exista utilize o indice.  

2) Faca um relatório no qual cada variável quantitativa deve ter:
- Mínimo
- Primeiro Quartil
- Mediana
- Terceiro Quartil
- Máximo
- Média  
  
3) Trate os dados Outliers como faltantes e crie novamente o relatório para observarmos a diferenca:  
<img src="https://escoladedados.org/wp-content/uploads/2019/06/Captura-de-Tela-2019-06-13-a%CC%80s-14.46.46-1024x498.png" width=350>
  
4) Trate os dados Outliers inserindo no lugar a mediana e crie novamente o relatório para observarmos a diferenca:
  
5) Faca um relatório no qual cada variável qualitativa deve ter:
- Frequência Absoluta
- Frequência Acumulada
- Frequência Relativa
- Frequência Relativa Acumulada  
   
6) Separe os 10% com maior renda(Ordem decrescente) em um novo csv  
  
7) Criar os dummies para pelo menos 3 das variáveis qualitativas  
  
8) Compare a média das variáveis(Quantitativos + 3 Qualitativas) da populacão dos 10% com maior renda vs o restante

### Importando as bibliotecas a serem usadas

In [210]:
import numpy as np
import pandas as pd
import math

### Carregando as bases e conhecendo os datasets

In [259]:
df_demografico = pd.read_csv('1_demografico.csv', sep=';')
df_renda = pd.read_csv('2_renda_gastos.csv', sep=';')
df_bens = pd.read_csv('3_bens.csv', sep=';')

In [11]:
df_demografico.head()

,ID,Region,Main Source of Income,Agricultural Household indicator,Household Head Sex,Household Head Age,Household Head Marital Status,Household Head Class of Worker,Type of Household,Total Number of Family members,Members with age less than 5 year old,Members with age 5 - 17 years old,Total number of family members employed,Type of Building/House,Type of Walls,House Floor Area,House Age,Number of bedrooms,Electricity
0,1,A,Wage/Salaries,0,Female,49,Single,Worked for government/government corporation,Extended Family,4,0,1,1,Single house,Strong,80,75,3,1
1,2,A,Wage/Salaries,0,Male,40,Married,Worked for private establishment,Single Family,3,0,1,2,Single house,Strong,42,15,2,1
2,3,A,Wage/Salaries,1,Male,39,Married,Worked for private establishment,Single Family,6,0,4,3,Single house,Light,35,12,1,0
3,4,A,Wage/Salaries,0,Male,52,Married,Employer in own family-operated farm or business,Single Family,3,0,3,2,Single house,Light,30,15,1,1
4,5,A,Wage/Salaries,0,Male,65,Married,Self-employed wihout any employee,Single Family,4,0,0,2,Single house,Quite Strong,54,16,3,1

In [24]:
df_demografico.tail()

,ID,Region,Main Source of Income,Agricultural Household indicator,Household Head Sex,Household Head Age,Household Head Marital Status,Household Head Class of Worker,Type of Household,Total Number of Family members,Members with age less than 5 year old,Members with age 5 - 17 years old,Total number of family members employed,Type of Building/House,Type of Walls,House Floor Area,House Age,Number of bedrooms,Electricity
41539,1784,Q,Enterpreneurial Activities,2,Male,62,Married,Employer in own family-operated farm or business,Extended Family,6,0,2,0,Single house,Strong,25,18,2,1
41540,1785,Q,Wage/Salaries,2,Male,55,Married,Worked for private establishment,Single Family,5,1,1,2,Single house,Strong,40,19,2,1
41541,1786,Q,Enterpreneurial Activities,2,Male,51,Married,Employer in own family-operated farm or business,Single Family,7,0,3,0,Single house,Strong,40,22,2,1
41542,1787,Q,Enterpreneurial Activities,2,Male,30,Married,Self-employed wihout any employee,Extended Family,12,2,1,1,Single house,Strong,20,35,2,1
41543,1788,Q,Other sources of Income,2,Female,42,Single,Self-employed wihout any employee,Extended Family,5,0,1,0,Multi-unit residential,Strong,43,35,2,1

In [12]:
df_renda.head()

,ID,Region,Total Household Income,Total Food Expenditure,Bread and Cereals Expenditure,Total Rice Expenditure,Meat Expenditure,Total Fish and marine products Expenditure,Fruit Expenditure,Vegetables Expenditure,...,Housing and water Expenditure,Imputed House Rental Value,Medical Care Expenditure,Transportation Expenditure,Communication Expenditure,Education Expenditure,Miscellaneous Goods and Services Expenditure,Special Occasions Expenditure,Crop Farming and Gardening expenses,Total Income from Entrepreneurial Acitivites
0,1,A,480332,117848,42140,38300,24676,16806,3325,13460,...,63636,30000,3457,4776,2880,36200,34056,7200,19370,44370
1,2,A,198235,67766,17329,13008,17434,11073,2035,7833,...,41370,27000,3520,12900,5700,29300,9150,1500,0,0
2,3,A,82785,61609,34182,32001,7783,2590,1730,3795,...,14340,7200,70,324,420,425,6450,500,0,0
3,4,A,107589,78189,34030,28659,10914,10812,690,7887,...,16638,6600,60,6840,660,300,3762,500,15580,15580
4,5,A,189322,94625,34820,30167,18391,11309,1395,11260,...,31122,16800,140,6996,2100,0,8472,1000,18887,75687

In [13]:
df_bens.head()

,Number of Television,Number of CD/VCD/DVD,Number of Component/Stereo set,Number of Refrigerator/Freezer,Number of Washing Machine,Number of Airconditioner,"Number of Car, Jeep, Van",Number of Landline/wireless telephones,Number of Cellular phone,Number of Personal Computer,Number of Stove with Oven/Gas Range,Number of Motorized Banca,Number of Motorcycle/Tricycle
0,1,1,0,1,1,0,0,0,2,1,0,0,1
1,1,1,1,0,1,0,0,0,3,1,0,0,2
2,0,0,0,0,0,0,0,0,0,0,0,0,0
3,1,0,0,0,0,0,0,0,1,0,0,0,0
4,1,0,0,1,0,0,0,0,3,0,0,0,1

In [28]:
df_bens.tail()

,Number of Television,Number of CD/VCD/DVD,Number of Component/Stereo set,Number of Refrigerator/Freezer,Number of Washing Machine,Number of Airconditioner,"Number of Car, Jeep, Van",Number of Landline/wireless telephones,Number of Cellular phone,Number of Personal Computer,Number of Stove with Oven/Gas Range,Number of Motorized Banca,Number of Motorcycle/Tricycle
41539,1,0,0,0,1,0,0,0,4,0,0,0,0
41540,1,0,0,1,0,0,0,0,1,0,0,0,0
41541,1,1,0,0,0,0,0,0,3,0,0,0,1
41542,1,0,0,0,0,0,0,0,4,0,0,0,0
41543,1,0,0,1,0,0,0,0,0,0,1,0,1

In [16]:
df_demografico.dtypes

ID                                          int64
Region                                     object
Main Source of Income                      object
Agricultural Household indicator            int64
Household Head Sex                         object
Household Head Age                          int64
Household Head Marital Status              object
Household Head Class of Worker             object
Type of Household                          object
Total Number of Family members              int64
Members with age less than 5 year old       int64
Members with age 5 - 17 years old           int64
Total number of family members employed     int64
Type of Building/House                     object
Type of Walls                              object
House Floor Area                            int64
House Age                                   int64
Number of bedrooms                          int64
Electricity                                 int64
dtype: object

In [17]:
df_renda.dtypes

ID                                                int64
Region                                           object
Total Household Income                            int64
Total Food Expenditure                            int64
Bread and Cereals Expenditure                     int64
Total Rice Expenditure                            int64
Meat Expenditure                                  int64
Total Fish and  marine products Expenditure       int64
Fruit Expenditure                                 int64
Vegetables Expenditure                            int64
Restaurant and hotels Expenditure                 int64
Alcoholic Beverages Expenditure                   int64
Tobacco Expenditure                               int64
Clothing, Footwear and Other Wear Expenditure     int64
Housing and water Expenditure                     int64
Imputed House Rental Value                        int64
Medical Care Expenditure                          int64
Transportation Expenditure                        int64
Communication Expenditure                         int64
Education Expenditure                             int64
Miscellaneous Goods and Services Expenditure      int64
Special Occasions Expenditure                     int64
Crop Farming and Gardening expenses               int64
Total Income from Entrepreneurial Acitivites      int64
dtype: object

In [18]:
df_bens.dtypes

Number of Television                      int64
Number of CD/VCD/DVD                      int64
Number of Component/Stereo set            int64
Number of Refrigerator/Freezer            int64
Number of Washing Machine                 int64
Number of Airconditioner                  int64
Number of Car, Jeep, Van                  int64
Number of Landline/wireless telephones    int64
Number of Cellular phone                  int64
Number of Personal Computer               int64
Number of Stove with Oven/Gas Range       int64
Number of Motorized Banca                 int64
Number of Motorcycle/Tricycle             int64
dtype: object

In [19]:
df_demografico.shape

(41544, 19)

In [22]:
df_demografico.nunique()

ID                                         4162
Region                                       17
Main Source of Income                         3
Agricultural Household indicator              3
Household Head Sex                            2
Household Head Age                           89
Household Head Marital Status                 6
Household Head Class of Worker                7
Type of Household                             3
Total Number of Family members               21
Members with age less than 5 year old         6
Members with age 5 - 17 years old             9
Total number of family members employed       9
Type of Building/House                        6
Type of Walls                                 6
House Floor Area                            313
House Age                                   111
Number of bedrooms                           10
Electricity                                   2
dtype: int64

In [20]:
df_renda.shape

(41544, 24)

In [23]:
df_renda.nunique()

ID                                                4162
Region                                              17
Total Household Income                           38670
Total Food Expenditure                           35776
Bread and Cereals Expenditure                    26082
Total Rice Expenditure                           16145
Meat Expenditure                                 18619
Total Fish and  marine products Expenditure      18014
Fruit Expenditure                                 7140
Vegetables Expenditure                           10599
Restaurant and hotels Expenditure                12367
Alcoholic Beverages Expenditure                   4084
Tobacco Expenditure                               3118
Clothing, Footwear and Other Wear Expenditure     9819
Housing and water Expenditure                    13243
Imputed House Rental Value                         266
Medical Care Expenditure                         11887
Transportation Expenditure                        7435
Communication Expenditure                         3826
Education Expenditure                             6893
Miscellaneous Goods and Services Expenditure      7669
Special Occasions Expenditure                     3412
Crop Farming and Gardening expenses               9961
Total Income from Entrepreneurial Acitivites     20204
dtype: int64

##### df_demografico e df_renda têm o mesmo número de linhas e a mesma quantidade de valores únicos para as colunas 'ID' e 'Region'. O que indica que estas são as chaves para combinar os dois dataframes

In [260]:
df_demografico_renda = pd.merge(df_demografico, df_renda, how = 'inner', on = ['ID','Region'])

In [27]:
df_demografico_renda.nunique()

ID                                                4162
Region                                              17
Main Source of Income                                3
Agricultural Household indicator                     3
Household Head Sex                                   2
Household Head Age                                  89
Household Head Marital Status                        6
Household Head Class of Worker                       7
Type of Household                                    3
Total Number of Family members                      21
Members with age less than 5 year old                6
Members with age 5 - 17 years old                    9
Total number of family members employed              9
Type of Building/House                               6
Type of Walls                                        6
House Floor Area                                   313
House Age                                          111
Number of bedrooms                                  10
Electricity                                          2
Total Household Income                           38670
Total Food Expenditure                           35776
Bread and Cereals Expenditure                    26082
Total Rice Expenditure                           16145
Meat Expenditure                                 18619
Total Fish and  marine products Expenditure      18014
Fruit Expenditure                                 7140
Vegetables Expenditure                           10599
Restaurant and hotels Expenditure                12367
Alcoholic Beverages Expenditure                   4084
Tobacco Expenditure                               3118
Clothing, Footwear and Other Wear Expenditure     9819
Housing and water Expenditure                    13243
Imputed House Rental Value                         266
Medical Care Expenditure                         11887
Transportation Expenditure                        7435
Communication Expenditure                         3826
Education Expenditure                             6893
Miscellaneous Goods and Services Expenditure      7669
Special Occasions Expenditure                     3412
Crop Farming and Gardening expenses               9961
Total Income from Entrepreneurial Acitivites     20204
dtype: int64

In [26]:
df_demografico_renda.shape

(41544, 41)

In [319]:
df_bens.nunique()

Number of Television                       7
Number of CD/VCD/DVD                       6
Number of Component/Stereo set             6
Number of Refrigerator/Freezer             6
Number of Washing Machine                  4
Number of Airconditioner                   6
Number of Car, Jeep, Van                   6
Number of Landline/wireless telephones     5
Number of Cellular phone                  11
Number of Personal Computer                7
Number of Stove with Oven/Gas Range        4
Number of Motorized Banca                  4
Number of Motorcycle/Tricycle              6
dtype: int64

In [21]:
df_bens.shape

(41544, 13)

##### Como df_bens não tem chaves para o merge, faremos a combinação deste dataframe através do index, usando o join.

In [261]:
df_final = df_demografico_renda.join(df_bens)

In [30]:
df_final.head()

,ID,Region,Main Source of Income,Agricultural Household indicator,Household Head Sex,Household Head Age,Household Head Marital Status,Household Head Class of Worker,Type of Household,Total Number of Family members,...,Number of Refrigerator/Freezer,Number of Washing Machine,Number of Airconditioner,"Number of Car, Jeep, Van",Number of Landline/wireless telephones,Number of Cellular phone,Number of Personal Computer,Number of Stove with Oven/Gas Range,Number of Motorized Banca,Number of Motorcycle/Tricycle
0,1,A,Wage/Salaries,0,Female,49,Single,Worked for government/government corporation,Extended Family,4,...,1,1,0,0,0,2,1,0,0,1
1,2,A,Wage/Salaries,0,Male,40,Married,Worked for private establishment,Single Family,3,...,0,1,0,0,0,3,1,0,0,2
2,3,A,Wage/Salaries,1,Male,39,Married,Worked for private establishment,Single Family,6,...,0,0,0,0,0,0,0,0,0,0
3,4,A,Wage/Salaries,0,Male,52,Married,Employer in own family-operated farm or business,Single Family,3,...,0,0,0,0,0,1,0,0,0,0
4,5,A,Wage/Salaries,0,Male,65,Married,Self-employed wihout any employee,Single Family,4,...,1,0,0,0,0,3,0,0,0,1

In [31]:
df_final.shape

(41544, 54)

In [32]:
df_final.nunique()

ID                                                4162
Region                                              17
Main Source of Income                                3
Agricultural Household indicator                     3
Household Head Sex                                   2
Household Head Age                                  89
Household Head Marital Status                        6
Household Head Class of Worker                       7
Type of Household                                    3
Total Number of Family members                      21
Members with age less than 5 year old                6
Members with age 5 - 17 years old                    9
Total number of family members employed              9
Type of Building/House                               6
Type of Walls                                        6
House Floor Area                                   313
House Age                                          111
Number of bedrooms                                  10
Electricity                                          2
Total Household Income                           38670
Total Food Expenditure                           35776
Bread and Cereals Expenditure                    26082
Total Rice Expenditure                           16145
Meat Expenditure                                 18619
Total Fish and  marine products Expenditure      18014
Fruit Expenditure                                 7140
Vegetables Expenditure                           10599
Restaurant and hotels Expenditure                12367
Alcoholic Beverages Expenditure                   4084
Tobacco Expenditure                               3118
Clothing, Footwear and Other Wear Expenditure     9819
Housing and water Expenditure                    13243
Imputed House Rental Value                         266
Medical Care Expenditure                         11887
Transportation Expenditure                        7435
Communication Expenditure                         3826
Education Expenditure                             6893
Miscellaneous Goods and Services Expenditure      7669
Special Occasions Expenditure                     3412
Crop Farming and Gardening expenses               9961
Total Income from Entrepreneurial Acitivites     20204
Number of Television                                 7
Number of CD/VCD/DVD                                 6
Number of Component/Stereo set                       6
Number of Refrigerator/Freezer                       6
Number of Washing Machine                            4
Number of Airconditioner                             6
Number of Car, Jeep, Van                             6
Number of Landline/wireless telephones               5
Number of Cellular phone                            11
Number of Personal Computer                          7
Number of Stove with Oven/Gas Range                  4
Number of Motorized Banca                            4
Number of Motorcycle/Tricycle                        6
dtype: int64

##### Checando os NaN

In [34]:
df_final.isna().sum()

ID                                                  0
Region                                              0
Main Source of Income                               0
Agricultural Household indicator                    0
Household Head Sex                                  0
Household Head Age                                  0
Household Head Marital Status                       0
Household Head Class of Worker                   7536
Type of Household                                   0
Total Number of Family members                      0
Members with age less than 5 year old               0
Members with age 5 - 17 years old                   0
Total number of family members employed             0
Type of Building/House                              0
Type of Walls                                       0
House Floor Area                                    0
House Age                                           0
Number of bedrooms                                  0
Electricity                                         0
Total Household Income                              0
Total Food Expenditure                              0
Bread and Cereals Expenditure                       0
Total Rice Expenditure                              0
Meat Expenditure                                    0
Total Fish and  marine products Expenditure         0
Fruit Expenditure                                   0
Vegetables Expenditure                              0
Restaurant and hotels Expenditure                   0
Alcoholic Beverages Expenditure                     0
Tobacco Expenditure                                 0
Clothing, Footwear and Other Wear Expenditure       0
Housing and water Expenditure                       0
Imputed House Rental Value                          0
Medical Care Expenditure                            0
Transportation Expenditure                          0
Communication Expenditure                           0
Education Expenditure                               0
Miscellaneous Goods and Services Expenditure        0
Special Occasions Expenditure                       0
Crop Farming and Gardening expenses                 0
Total Income from Entrepreneurial Acitivites        0
Number of Television                                0
Number of CD/VCD/DVD                                0
Number of Component/Stereo set                      0
Number of Refrigerator/Freezer                      0
Number of Washing Machine                           0
Number of Airconditioner                            0
Number of Car, Jeep, Van                            0
Number of Landline/wireless telephones              0
Number of Cellular phone                            0
Number of Personal Computer                         0
Number of Stove with Oven/Gas Range                 0
Number of Motorized Banca                           0
Number of Motorcycle/Tricycle                       0
dtype: int64

##### Obtendo os relatórios das variáveis numéricas, excluindo o ID

In [262]:
pd.set_option('display.max_columns', 50)
relatorio1 = df_final.iloc[:,1:].describe()

In [263]:
relatorio1

,Agricultural Household indicator,Household Head Age,Total Number of Family members,Members with age less than 5 year old,Members with age 5 - 17 years old,Total number of family members employed,House Floor Area,House Age,Number of bedrooms,Electricity,Total Household Income,Total Food Expenditure,Bread and Cereals Expenditure,Total Rice Expenditure,Meat Expenditure,Total Fish and marine products Expenditure,Fruit Expenditure,Vegetables Expenditure,Restaurant and hotels Expenditure,Alcoholic Beverages Expenditure,Tobacco Expenditure,"Clothing, Footwear and Other Wear Expenditure",Housing and water Expenditure,Imputed House Rental Value,Medical Care Expenditure,Transportation Expenditure,Communication Expenditure,Education Expenditure,Miscellaneous Goods and Services Expenditure,Special Occasions Expenditure,Crop Farming and Gardening expenses,Total Income from Entrepreneurial Acitivites,Number of Television,Number of CD/VCD/DVD,Number of Component/Stereo set,Number of Refrigerator/Freezer,Number of Washing Machine,Number of Airconditioner,"Number of Car, Jeep, Van",Number of Landline/wireless telephones,Number of Cellular phone,Number of Personal Computer,Number of Stove with Oven/Gas Range,Number of Motorized Banca,Number of Motorcycle/Tricycle
count,41544.000000,41544.000000,41544.000000,41544.000000,41544.000000,41544.000000,41544.000000,41544.000000,41544.000000,41544.000000,4.154400e+04,41544.000000,41544.000000,41544.000000,41544.000000,41544.000000,41544.000000,41544.000000,41544.000000,41544.000000,41544.000000,41544.000000,4.154400e+04,4.154400e+04,4.154400e+04,41544.000000,41544.000000,41544.000000,41544.000000,41544.000000,4.154400e+04,4.154400e+04,41544.000000,41544.000000,41544.000000,41544.000000,41544.000000,41544.000000,41544.000000,41544.000000,41544.000000,41544.000000,41544.000000,41544.000000,41544.000000
mean,0.429858,51.381451,4.635182,0.410216,1.362579,1.272699,55.603360,20.125505,1.788008,0.890815,2.475556e+05,85099.158194,25133.723642,18195.825005,10540.072574,10529.318337,2550.474990,5006.918568,15436.566075,1085.068121,2294.736183,4954.621076,3.837547e+04,2.092154e+04,7.160231e+03,11806.344454,4095.492057,7473.500481,12522.071635,5265.726001,1.381686e+04,5.437624e+04,0.856875,0.435225,0.162141,0.394184,0.319806,0.129814,0.081215,0.060610,1.905738,0.315015,0.135038,0.013119,0.289885
std,0.676666,14.166081,2.280252,0.694390,1.408000,1.149152,55.023165,14.295452,1.105664,0.311875,2.868805e+05,51637.947682,13466.482984,11727.224350,10497.727757,7812.201613,2969.752879,3300.175236,23705.195929,2174.431913,3998.977131,7496.500945,5.311168e+04,3.937152e+04,2.690200e+04,19351.213715,7298.822614,21219.170907,17547.027921,13279.593681,4.764378e+04,1.471428e+05,0.646306,0.560125,0.389108,0.537025,0.478482,0.448673,0.346786,0.276732,1.558130,0.739698,0.354083,0.127171,0.558408
min,0.000000,9.000000,1.000000,0.000000,0.000000,0.000000,5.000000,0.000000,0.000000,0.000000,1.128500e+04,2947.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.950000e+03,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,41.000000,3.000000,0.000000,0.000000,0.000000,25.000000,10.000000,1.000000,1.000000,1.048950e+05,51017.250000,16556.000000,11020.000000,3353.750000,5504.000000,1024.750000,2873.000000,1930.000000,0.000000,0.000000,1365.000000,1.308000e+04,6.000000e+03,3.000000e+02,2412.000000,564.000000,0.000000,3792.000000,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,51.000000,4.000000,0.000000,1.000000,1.000000,40.000000,17.000000,2.000000,1.000000,1.640795e+05,72985.500000,23324.000000,16620.000000,7332.500000,8695.000000,1820.000000,4314.000000,7314.000000,270.000000,300.000000,2740.000000,2.299200e+04,1.080000e+04,1.125000e+03,6036.000000,1506.000000,880.000000,6804.000000,1500.000000,0.000000e+00,1.922200e+04,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000,0.000000,0.000000,0.000000,0.000000
75%,1.000000,61.000000,6.000000,1.000000,2.000000,2.000000,70.000000,26.000000,2.000000,1.000000,2.911385e+05,105635.500000,31439.000000,23920.000000,14292.000000,13388.000000,3100.000000,6304.250000,19921.250000,1299.250000,3146.500000,5580.000000,4.594800e+04,2.400000e+04,4.680000e+03,13776.000000,3900.000000,4060.000000,14154.000000,5000.000000,6.312750e+03,6.596875e+04,1.000000,1.000000,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000,3.000000,0.000000,0.000000,0.000000,0.000000
max,2.000000,99.000000,26.000000,5.000000,8.000000,8.000000,998.000000,200.000000,9.000000,1.000000,1.181599e+07,827565.000000,765864.000000,758326.000000,261566.000000,188208.000000,273769.000000,74800.000000,725296.000000,59592.000000,139370.000000,356750.000000,2.188560e+06,1.920000e+06,1.049275e+06,834996.000000,149940.000000,731000.000000,553560.000000,556700.000000,3.729973e+06,9.234485e+06,6.000000,5.000000,5.000000,5.000000,3.000000,5.000000,5.000000,4.000000,10.000000,6.000000,3.000000,3.000000,5.000000

##### Calculando as métricas para identificação dos outliers

In [264]:
outliers_metrics = pd.DataFrame(relatorio1.loc['75%'] - relatorio1.loc['25%'], columns=['IQR'])

In [266]:
outliers_metrics = pd.concat([outliers_metrics, relatorio1.loc['25%'] - 1.5*outliers_metrics['IQR']],axis=1)

In [267]:
outliers_metrics = pd.concat([outliers_metrics, relatorio1.loc['75%'] + 1.5*outliers_metrics['IQR']],axis=1)

In [268]:
outliers_metrics = pd.concat([outliers_metrics, relatorio1.loc['50%']], axis=1)

In [270]:
outliers_metrics.columns = ['IQR','Minimum','Maximum', 'Median']

In [269]:
outliers_metrics

,IQR,0,0,50%
Agricultural Household indicator,1.00,-1.500,2.500,0.0
Household Head Age,20.00,11.000,91.000,51.0
Total Number of Family members,3.00,-1.500,10.500,4.0
Members with age less than 5 year old,1.00,-1.500,2.500,0.0
Members with age 5 - 17 years old,2.00,-3.000,5.000,1.0
Total number of family members employed,2.00,-3.000,5.000,1.0
House Floor Area,45.00,-42.500,137.500,40.0
House Age,16.00,-14.000,50.000,17.0
Number of bedrooms,1.00,-0.500,3.500,2.0
Electricity,0.00,1.000,1.000,1.0
Total Household Income,186243.50,-174470.250,570503.750,164079.5
Total Food Expenditure,54618.25,-30910.125,187562.875,72985.5
Bread and Cereals Expenditure,14883.00,-5768.500,53763.500,23324.0
Total Rice Expenditure,12900.00,-8330.000,43270.000,16620.0
Meat Expenditure,10938.25,-13053.625,30699.375,7332.5
Total Fish and marine products Expenditure,7884.00,-6322.000,25214.000,8695.0
Fruit Expenditure,2075.25,-2088.125,6212.875,1820.0
Vegetables Expenditure,3431.25,-2273.875,11451.125,4314.0
Restaurant and hotels Expenditure,17991.25,-25056.875,46908.125,7314.0
Alcoholic Beverages Expenditure,1299.25,-1948.875,3248.125,270.0
Tobacco Expenditure,3146.50,-4719.750,7866.250,300.0
"Clothing, Footwear and Other Wear Expenditure",4215.00,-4957.500,11902.500,2740.0
Housing and water Expenditure,32868.00,-36222.000,95250.000,22992.0
Imputed House Rental Value,18000.00,-21000.000,51000.000,10800.0
Medical Care Expenditure,4380.00,-6270.000,11250.000,1125.0
Transportation Expenditure,11364.00,-14634.000,30822.000,6036.0
Communication Expenditure,3336.00,-4440.000,8904.000,1506.0
Education Expenditure,4060.00,-6090.000,10150.000,880.0
Miscellaneous Goods and Services Expenditure,10362.00,-11751.000,29697.000,6804.0
Special Occasions Expenditure,5000.00,-7500.000,12500.000,1500.0
Crop Farming and Gardening expenses,6312.75,-9469.125,15781.875,0.0
Total Income from Entrepreneurial Acitivites,65968.75,-98953.125,164921.875,19222.0
Number of Television,1.00,-1.500,2.500,1.0
Number of CD/VCD/DVD,1.00,-1.500,2.500,0.0
Number of Component/Stereo set,0.00,0.000,0.000,0.0
Number of Refrigerator/Freezer,1.00,-1.500,2.500,0.0
Number of Washing Machine,1.00,-1.500,2.500,0.0
Number of Airconditioner,0.00,0.000,0.000,0.0
"Number of Car, Jeep, Van",0.00,0.000,0.000,0.0
Number of Landline/wireless telephones,0.00,0.000,0.000,0.0
Number of Cellular phone,2.00,-2.000,6.000,2.0
Number of Personal Computer,0.00,0.000,0.000,0.0
Number of Stove with Oven/Gas Range,0.00,0.000,0.000,0.0
Number of Motorized Banca,0.00,0.000,0.000,0.0
Number of Motorcycle/Tricycle,0.00,0.000,0.000,0.0

In [271]:
outliers_metrics = outliers_metrics.T
outliers_metrics

,Agricultural Household indicator,Household Head Age,Total Number of Family members,Members with age less than 5 year old,Members with age 5 - 17 years old,Total number of family members employed,House Floor Area,House Age,Number of bedrooms,Electricity,Total Household Income,Total Food Expenditure,Bread and Cereals Expenditure,Total Rice Expenditure,Meat Expenditure,Total Fish and marine products Expenditure,Fruit Expenditure,Vegetables Expenditure,Restaurant and hotels Expenditure,Alcoholic Beverages Expenditure,Tobacco Expenditure,"Clothing, Footwear and Other Wear Expenditure",Housing and water Expenditure,Imputed House Rental Value,Medical Care Expenditure,Transportation Expenditure,Communication Expenditure,Education Expenditure,Miscellaneous Goods and Services Expenditure,Special Occasions Expenditure,Crop Farming and Gardening expenses,Total Income from Entrepreneurial Acitivites,Number of Television,Number of CD/VCD/DVD,Number of Component/Stereo set,Number of Refrigerator/Freezer,Number of Washing Machine,Number of Airconditioner,"Number of Car, Jeep, Van",Number of Landline/wireless telephones,Number of Cellular phone,Number of Personal Computer,Number of Stove with Oven/Gas Range,Number of Motorized Banca,Number of Motorcycle/Tricycle
IQR,1.0,20.0,3.0,1.0,2.0,2.0,45.0,16.0,1.0,0.0,186243.50,54618.250,14883.0,12900.0,10938.250,7884.0,2075.250,3431.250,17991.250,1299.250,3146.50,4215.0,32868.0,18000.0,4380.0,11364.0,3336.0,4060.0,10362.0,5000.0,6312.750,65968.750,1.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0
Minimum,-1.5,11.0,-1.5,-1.5,-3.0,-3.0,-42.5,-14.0,-0.5,1.0,-174470.25,-30910.125,-5768.5,-8330.0,-13053.625,-6322.0,-2088.125,-2273.875,-25056.875,-1948.875,-4719.75,-4957.5,-36222.0,-21000.0,-6270.0,-14634.0,-4440.0,-6090.0,-11751.0,-7500.0,-9469.125,-98953.125,-1.5,-1.5,0.0,-1.5,-1.5,0.0,0.0,0.0,-2.0,0.0,0.0,0.0,0.0
Maximum,2.5,91.0,10.5,2.5,5.0,5.0,137.5,50.0,3.5,1.0,570503.75,187562.875,53763.5,43270.0,30699.375,25214.0,6212.875,11451.125,46908.125,3248.125,7866.25,11902.5,95250.0,51000.0,11250.0,30822.0,8904.0,10150.0,29697.0,12500.0,15781.875,164921.875,2.5,2.5,0.0,2.5,2.5,0.0,0.0,0.0,6.0,0.0,0.0,0.0,0.0
Median,0.0,51.0,4.0,0.0,1.0,1.0,40.0,17.0,2.0,1.0,164079.50,72985.500,23324.0,16620.0,7332.500,8695.0,1820.000,4314.000,7314.000,270.000,300.00,2740.0,22992.0,10800.0,1125.0,6036.0,1506.0,880.0,6804.0,1500.0,0.000,19222.000,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0

In [181]:
df_final

,ID,Region,Main Source of Income,Agricultural Household indicator,Household Head Sex,Household Head Age,Household Head Marital Status,Household Head Class of Worker,Type of Household,Total Number of Family members,Members with age less than 5 year old,Members with age 5 - 17 years old,Total number of family members employed,Type of Building/House,Type of Walls,House Floor Area,House Age,Number of bedrooms,Electricity,Total Household Income,Total Food Expenditure,Bread and Cereals Expenditure,Total Rice Expenditure,Meat Expenditure,Total Fish and marine products Expenditure,...,Tobacco Expenditure,"Clothing, Footwear and Other Wear Expenditure",Housing and water Expenditure,Imputed House Rental Value,Medical Care Expenditure,Transportation Expenditure,Communication Expenditure,Education Expenditure,Miscellaneous Goods and Services Expenditure,Special Occasions Expenditure,Crop Farming and Gardening expenses,Total Income from Entrepreneurial Acitivites,Number of Television,Number of CD/VCD/DVD,Number of Component/Stereo set,Number of Refrigerator/Freezer,Number of Washing Machine,Number of Airconditioner,"Number of Car, Jeep, Van",Number of Landline/wireless telephones,Number of Cellular phone,Number of Personal Computer,Number of Stove with Oven/Gas Range,Number of Motorized Banca,Number of Motorcycle/Tricycle
0,1,A,Wage/Salaries,0,Female,49,Single,Worked for government/government corporation,Extended Family,4,0,1,1,Single house,Strong,80,75,3,1,480332,117848,42140,38300,24676,16806,...,0,4607,63636,30000,3457,4776,2880,36200,34056,7200,19370,44370,1,1,0,1,1,0,0,0,2,1,0,0,1
1,2,A,Wage/Salaries,0,Male,40,Married,Worked for private establishment,Single Family,3,0,1,2,Single house,Strong,42,15,2,1,198235,67766,17329,13008,17434,11073,...,2132,8230,41370,27000,3520,12900,5700,29300,9150,1500,0,0,1,1,1,0,1,0,0,0,3,1,0,0,2
2,3,A,Wage/Salaries,1,Male,39,Married,Worked for private establishment,Single Family,6,0,4,3,Single house,Light,35,12,1,0,82785,61609,34182,32001,7783,2590,...,4525,2735,14340,7200,70,324,420,425,6450,500,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,4,A,Wage/Salaries,0,Male,52,Married,Employer in own family-operated farm or business,Single Family,3,0,3,2,Single house,Light,30,15,1,1,107589,78189,34030,28659,10914,10812,...,0,1390,16638,6600,60,6840,660,300,3762,500,15580,15580,1,0,0,0,0,0,0,0,1,0,0,0,0
4,5,A,Wage/Salaries,0,Male,65,Married,Self-employed wihout any employee,Single Family,4,0,0,2,Single house,Quite Strong,54,16,3,1,189322,94625,34820,30167,18391,11309,...,0,4620,31122,16800,140,6996,2100,0,8472,1000,18887,75687,1,0,0,1,0,0,0,0,3,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41539,1784,Q,Enterpreneurial Activities,2,Male,62,Married,Employer in own family-operated farm or business,Extended Family,6,0,2,0,Single house,Strong,25,18,2,1,163444,80172,31579,24560,3770,13249,...,0,5000,18948,10800,8520,16440,3900,4610,4794,0,67544,127544,1,0,0,0,1,0,0,0,4,0,0,0,0
41540,1785,Q,Wage/Salaries,2,Male,55,Married,Worked for private establishment,Single Family,5,1,1,2,Single house,Strong,40,19,2,1,203560,82482,26199,20014,3153,16088,...,1170,2155,19260,8400,39706,22980,2040,1840,9390,0,0,48000,1,0,0,1,0,0,0,0,1,0,0,0,0
41541,1786,Q,Enterpreneurial Activities,2,Male,51,Married,Employer in own family-operated farm or business,Single Family,7,0,3,0,Single house,Strong,40,22,2,1,246510,109521,30913,16182,7120,22297,...,4810,3442,20448,15000,557,9912,3000,3440,7674,41000,0,115100,1,1,0,0,0,0,0,0,3,0,0,0,1
41542,1787,Q,Enterpreneurial Activities,2,Male,30,Married,Self-employed wihout any employee,Extended Family,12,2,1,1,Single house,Strong,20,35,2,1,285300,149327,43182,25360,6980,32613,...,7800,6945,26580,16200,2104,16200,4440,16260,9036,1000,0,195000,1,0,0,0,0,0,0,0,4,0,0,0,0
41543,1788,Q,Other sources of Income,2,Female,42,Single,Self-employed wihout any employee,Extended Family,5,0,1,0,Multi-unit residential,Strong,43,35,2,1,205590,83441,16297,10232,6826,8744,...,0,5090,29208,15000,1691,16050,6000,24000,9330,2600,0,72500,1,0,0,1,0,0,0,0,0,0,1,0,1

##### Realizando uma cópia do dataframe final em que os outliers serão substituídos por NaN

In [272]:
df2= df_final.copy()

In [273]:
df2 = df2.append(outliers_metrics)

In [276]:
df2

,ID,Region,Main Source of Income,Agricultural Household indicator,Household Head Sex,Household Head Age,Household Head Marital Status,Household Head Class of Worker,Type of Household,Total Number of Family members,Members with age less than 5 year old,Members with age 5 - 17 years old,Total number of family members employed,Type of Building/House,Type of Walls,House Floor Area,House Age,Number of bedrooms,Electricity,Total Household Income,Total Food Expenditure,Bread and Cereals Expenditure,Total Rice Expenditure,Meat Expenditure,Total Fish and marine products Expenditure,...,Tobacco Expenditure,"Clothing, Footwear and Other Wear Expenditure",Housing and water Expenditure,Imputed House Rental Value,Medical Care Expenditure,Transportation Expenditure,Communication Expenditure,Education Expenditure,Miscellaneous Goods and Services Expenditure,Special Occasions Expenditure,Crop Farming and Gardening expenses,Total Income from Entrepreneurial Acitivites,Number of Television,Number of CD/VCD/DVD,Number of Component/Stereo set,Number of Refrigerator/Freezer,Number of Washing Machine,Number of Airconditioner,"Number of Car, Jeep, Van",Number of Landline/wireless telephones,Number of Cellular phone,Number of Personal Computer,Number of Stove with Oven/Gas Range,Number of Motorized Banca,Number of Motorcycle/Tricycle
0,1.0,A,Wage/Salaries,0.0,Female,49.0,Single,Worked for government/government corporation,Extended Family,4.0,0.0,1.0,1.0,Single house,Strong,80.0,75.0,3.0,1.0,480332.00,117848.000,42140.0,38300.0,24676.000,16806.0,...,0.00,4607.0,63636.0,30000.0,3457.0,4776.0,2880.0,36200.0,34056.0,7200.0,19370.000,44370.000,1.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,2.0,1.0,0.0,0.0,1.0
1,2.0,A,Wage/Salaries,0.0,Male,40.0,Married,Worked for private establishment,Single Family,3.0,0.0,1.0,2.0,Single house,Strong,42.0,15.0,2.0,1.0,198235.00,67766.000,17329.0,13008.0,17434.000,11073.0,...,2132.00,8230.0,41370.0,27000.0,3520.0,12900.0,5700.0,29300.0,9150.0,1500.0,0.000,0.000,1.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,3.0,1.0,0.0,0.0,2.0
2,3.0,A,Wage/Salaries,1.0,Male,39.0,Married,Worked for private establishment,Single Family,6.0,0.0,4.0,3.0,Single house,Light,35.0,12.0,1.0,0.0,82785.00,61609.000,34182.0,32001.0,7783.000,2590.0,...,4525.00,2735.0,14340.0,7200.0,70.0,324.0,420.0,425.0,6450.0,500.0,0.000,0.000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,4.0,A,Wage/Salaries,0.0,Male,52.0,Married,Employer in own family-operated farm or business,Single Family,3.0,0.0,3.0,2.0,Single house,Light,30.0,15.0,1.0,1.0,107589.00,78189.000,34030.0,28659.0,10914.000,10812.0,...,0.00,1390.0,16638.0,6600.0,60.0,6840.0,660.0,300.0,3762.0,500.0,15580.000,15580.000,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
4,5.0,A,Wage/Salaries,0.0,Male,65.0,Married,Self-employed wihout any employee,Single Family,4.0,0.0,0.0,2.0,Single house,Quite Strong,54.0,16.0,3.0,1.0,189322.00,94625.000,34820.0,30167.0,18391.000,11309.0,...,0.00,4620.0,31122.0,16800.0,140.0,6996.0,2100.0,0.0,8472.0,1000.0,18887.000,75687.000,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41543,1788.0,Q,Other sources of Income,2.0,Female,42.0,Single,Self-employed wihout any employee,Extended Family,5.0,0.0,1.0,0.0,Multi-unit residential,Strong,43.0,35.0,2.0,1.0,205590.00,83441.000,16297.0,10232.0,6826.000,8744.0,...,0.00,5090.0,29208.0,15000.0,1691.0,16050.0,6000.0,24000.0,9330.0,2600.0,0.000,72500.000,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0
IQR,NaN,NaN,NaN,1.0,NaN,20.0,NaN,NaN,NaN,3.0,1.0,2.0,2.0,NaN,NaN,45.0,16.0,1.0,0.0,186243.50,54618.250,14883.0,12900.0,10938.250,7884.0,...,3146.50,4215.0,32868.0,18000.0,4380.0,11364.0,3336.0,4060.0,10362.0,5000.0,6312.750,65968.750,1.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0
Minimum,NaN,NaN,NaN,-1.5,NaN,11.0,NaN,NaN,NaN,-1.5,-1.5,-3.0,-3.0,NaN,NaN,-42.5,-14.0,-0.5,1.0,-174470.25,-30910.125,-5768.5,-8330.0,-13053.625,-6322.0,...,-4719.75,-4957.5,-36222.0,-21000.0,-6270.0,-14634.0,-4440.0,-6090.0,-11751.0,-7500.0,-9469.125,-98953.125,-1.5,-1.5,0.0,-1.5,-1.5,0.0,0.0,0.0,-2.0,0.0,0.0,0.0,0.0
Maximum,NaN,NaN,NaN,2.5,NaN,91.0,NaN,NaN,NaN,10.5,2.5,5.0,5.0,NaN,NaN,137.5,50.0,3.5,1.0,570503.75,187562.875,53763.5,43270.0,30699.375,25214.0,...,7866.25,11902.5,95250.0,51000.0,11250.0,30822.0,8904.0,10150.0,29697.0,12500.0,15781.875,164921.875,2.5,2.5,0.0,2.5,2.5,0.0,0.0,0.0,6.0,0.0,0.0,0.0,0.0
Median,NaN,NaN,NaN,0.0,NaN,51.0,NaN,NaN,NaN,4.0,0.0,1.0,1.0,NaN,NaN,40.0,17.0,2.0,1.0,164079.50,72985.500,23324.0,16620.0,7332.500,8695.0,...,300.00,2740.0,22992.0,10800.0,1125.0,6036.0,1506.0,880.0,6804.0,1500.0,0.000,19222.000,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0

##### Substituindo os outliers identificados pelo critério do +- 1.5*IQR por NaN

In [277]:
for column in df2.columns:
    if math.isnan(df2[column].loc['IQR']):
        continue
    else:
        mask = (df2[column] < df2[column].loc['Minimum']) | (df2[column] > df2[column].loc['Maximum'])
        df2.loc[mask, column] = np.nan

In [278]:
df2 = df2.drop(df2.tail(4).index)
df2

,ID,Region,Main Source of Income,Agricultural Household indicator,Household Head Sex,Household Head Age,Household Head Marital Status,Household Head Class of Worker,Type of Household,Total Number of Family members,Members with age less than 5 year old,Members with age 5 - 17 years old,Total number of family members employed,Type of Building/House,Type of Walls,House Floor Area,House Age,Number of bedrooms,Electricity,Total Household Income,Total Food Expenditure,Bread and Cereals Expenditure,Total Rice Expenditure,Meat Expenditure,Total Fish and marine products Expenditure,...,Tobacco Expenditure,"Clothing, Footwear and Other Wear Expenditure",Housing and water Expenditure,Imputed House Rental Value,Medical Care Expenditure,Transportation Expenditure,Communication Expenditure,Education Expenditure,Miscellaneous Goods and Services Expenditure,Special Occasions Expenditure,Crop Farming and Gardening expenses,Total Income from Entrepreneurial Acitivites,Number of Television,Number of CD/VCD/DVD,Number of Component/Stereo set,Number of Refrigerator/Freezer,Number of Washing Machine,Number of Airconditioner,"Number of Car, Jeep, Van",Number of Landline/wireless telephones,Number of Cellular phone,Number of Personal Computer,Number of Stove with Oven/Gas Range,Number of Motorized Banca,Number of Motorcycle/Tricycle
0,1.0,A,Wage/Salaries,0.0,Female,49.0,Single,Worked for government/government corporation,Extended Family,4.0,0.0,1.0,1.0,Single house,Strong,80.0,NaN,3.0,1.0,480332.0,117848.0,42140.0,38300.0,24676.0,16806.0,...,0.0,4607.0,63636.0,30000.0,3457.0,4776.0,2880.0,NaN,NaN,7200.0,NaN,44370.0,1.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,2.0,NaN,0.0,0.0,NaN
1,2.0,A,Wage/Salaries,0.0,Male,40.0,Married,Worked for private establishment,Single Family,3.0,0.0,1.0,2.0,Single house,Strong,42.0,15.0,2.0,1.0,198235.0,67766.0,17329.0,13008.0,17434.0,11073.0,...,2132.0,8230.0,41370.0,27000.0,3520.0,12900.0,5700.0,NaN,9150.0,1500.0,0.0,0.0,1.0,1.0,NaN,0.0,1.0,0.0,0.0,0.0,3.0,NaN,0.0,0.0,NaN
2,3.0,A,Wage/Salaries,1.0,Male,39.0,Married,Worked for private establishment,Single Family,6.0,0.0,4.0,3.0,Single house,Light,35.0,12.0,1.0,NaN,82785.0,61609.0,34182.0,32001.0,7783.0,2590.0,...,4525.0,2735.0,14340.0,7200.0,70.0,324.0,420.0,425.0,6450.0,500.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,4.0,A,Wage/Salaries,0.0,Male,52.0,Married,Employer in own family-operated farm or business,Single Family,3.0,0.0,3.0,2.0,Single house,Light,30.0,15.0,1.0,1.0,107589.0,78189.0,34030.0,28659.0,10914.0,10812.0,...,0.0,1390.0,16638.0,6600.0,60.0,6840.0,660.0,300.0,3762.0,500.0,15580.0,15580.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
4,5.0,A,Wage/Salaries,0.0,Male,65.0,Married,Self-employed wihout any employee,Single Family,4.0,0.0,0.0,2.0,Single house,Quite Strong,54.0,16.0,3.0,1.0,189322.0,94625.0,34820.0,30167.0,18391.0,11309.0,...,0.0,4620.0,31122.0,16800.0,140.0,6996.0,2100.0,0.0,8472.0,1000.0,NaN,75687.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41539,1784.0,Q,Enterpreneurial Activities,2.0,Male,62.0,Married,Employer in own family-operated farm or business,Extended Family,6.0,0.0,2.0,0.0,Single house,Strong,25.0,18.0,2.0,1.0,163444.0,80172.0,31579.0,24560.0,3770.0,13249.0,...,0.0,5000.0,18948.0,10800.0,8520.0,16440.0,3900.0,4610.0,4794.0,0.0,NaN,127544.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0
41540,1785.0,Q,Wage/Salaries,2.0,Male,55.0,Married,Worked for private establishment,Single Family,5.0,1.0,1.0,2.0,Single house,Strong,40.0,19.0,2.0,1.0,203560.0,82482.0,26199.0,20014.0,3153.0,16088.0,...,1170.0,2155.0,19260.0,8400.0,NaN,22980.0,2040.0,1840.0,9390.0,0.0,0.0,48000.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
41541,1786.0,Q,Enterpreneurial Activities,2.0,Male,51.0,Married,Employer in own family-operated farm or business,Single Family,7.0,0.0,3.0,0.0,Single house,Strong,40.0,22.0,2.0,1.0,246510.0,109521.0,30913.0,16182.0,7120.0,22297.0,...,4810.0,3442.0,20448.0,15000.0,557.0,9912.0,3000.0,3440.0,7674.0,NaN,0.0,115100.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,NaN
41542,1787.0,Q,Enterpreneurial Activities,2.0,Male,30.0,Married,Self-employed wihout any employee,Extended Family,NaN,2.0,1.0,1.0,Single house,Strong,20.0,35.0,2.0,1.0,285300.0,149327.0,43182.0,25360.0,6980.0,NaN,...,7800.0,6945.0,26580.0,16200.0,2104.0,16200.0,4440.0,NaN,9036.0,1000.0,0.0,NaN,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0
41543,1788.0,Q,Other sources of Income,2.0,Female,42.0,Single,Self-employed wihout any employee,Extended Family,5.0,0.0,1.0,0.0,Multi-unit residential,Strong,43.0,35.0,2.0,1.0,205590.0,83441.0,16297.0,10232.0,6826.0,8744.0,...,0.0,5090.0,29208.0,15000.0,1691.0,16050.0,6000.0,NaN,9330.0,2600.0,0.0,72500.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,NaN

In [241]:
df2.isna().sum()

ID                                                   0
Region                                               0
Main Source of Income                                0
Agricultural Household indicator                     0
Household Head Sex                                   0
Household Head Age                                  68
Household Head Marital Status                        0
Household Head Class of Worker                    7536
Type of Household                                    0
Total Number of Family members                     667
Members with age less than 5 year old              589
Members with age 5 - 17 years old                  434
Total number of family members employed            161
Type of Building/House                               0
Type of Walls                                        0
House Floor Area                                  2547
House Age                                         1583
Number of bedrooms                                2616
Electricity                                       4536
Total Household Income                            3151
Total Food Expenditure                            1849
Bread and Cereals Expenditure                     1024
Total Rice Expenditure                             999
Meat Expenditure                                  2124
Total Fish and  marine products Expenditure       1878
Fruit Expenditure                                 2833
Vegetables Expenditure                            1716
Restaurant and hotels Expenditure                 3093
Alcoholic Beverages Expenditure                   3705
Tobacco Expenditure                               3613
Clothing, Footwear and Other Wear Expenditure     3764
Housing and water Expenditure                     2954
Imputed House Rental Value                        3379
Medical Care Expenditure                          5413
Transportation Expenditure                        3422
Communication Expenditure                         5226
Education Expenditure                             7217
Miscellaneous Goods and Services Expenditure      3955
Special Occasions Expenditure                     4201
Crop Farming and Gardening expenses               8297
Total Income from Entrepreneurial Acitivites      2660
Number of Television                               783
Number of CD/VCD/DVD                               188
Number of Component/Stereo set                    6486
Number of Refrigerator/Freezer                     104
Number of Washing Machine                           11
Number of Airconditioner                          4087
Number of Car, Jeep, Van                          2668
Number of Landline/wireless telephones            2242
Number of Cellular phone                           510
Number of Personal Computer                       8556
Number of Stove with Oven/Gas Range               5443
Number of Motorized Banca                          489
Number of Motorcycle/Tricycle                    10262
dtype: int64

##### Obtendo o relatório das medidas de posição e dispersão dos dados sem os outliers

In [279]:
relatorio2 = df2.iloc[:,1:].describe()

In [280]:
relatorio2

,Agricultural Household indicator,Household Head Age,Total Number of Family members,Members with age less than 5 year old,Members with age 5 - 17 years old,Total number of family members employed,House Floor Area,House Age,Number of bedrooms,Electricity,Total Household Income,Total Food Expenditure,Bread and Cereals Expenditure,Total Rice Expenditure,Meat Expenditure,Total Fish and marine products Expenditure,Fruit Expenditure,Vegetables Expenditure,Restaurant and hotels Expenditure,Alcoholic Beverages Expenditure,Tobacco Expenditure,"Clothing, Footwear and Other Wear Expenditure",Housing and water Expenditure,Imputed House Rental Value,Medical Care Expenditure,Transportation Expenditure,Communication Expenditure,Education Expenditure,Miscellaneous Goods and Services Expenditure,Special Occasions Expenditure,Crop Farming and Gardening expenses,Total Income from Entrepreneurial Acitivites,Number of Television,Number of CD/VCD/DVD,Number of Component/Stereo set,Number of Refrigerator/Freezer,Number of Washing Machine,Number of Airconditioner,"Number of Car, Jeep, Van",Number of Landline/wireless telephones,Number of Cellular phone,Number of Personal Computer,Number of Stove with Oven/Gas Range,Number of Motorized Banca,Number of Motorcycle/Tricycle
count,41544.000000,41476.000000,40877.000000,40955.000000,41110.000000,41383.000000,38997.000000,39961.000000,38928.000000,37008.0,38393.000000,39695.000000,40520.000000,40545.000000,39420.000000,39666.000000,38711.000000,39828.000000,38451.000000,37839.000000,37931.000000,37780.000000,38590.000000,38165.000000,36131.000000,38122.000000,36318.000000,34327.000000,37589.000000,37343.000000,33247.000000,38884.000000,40761.000000,41356.000000,35058.0,41440.000000,41533.000000,37457.0,38876.0,39302.0,41034.000000,32988.0,36101.0,41055.0,31282.0
mean,0.429858,51.314278,4.511094,0.370724,1.310314,1.252930,45.176834,18.441981,1.610049,1.0,189885.704556,77789.375916,24035.446224,17296.558959,8855.653907,9381.854687,2011.625507,4558.640780,10464.450001,576.789979,1335.506815,3235.638301,28434.724851,13555.664876,1918.836262,7680.944966,1880.531637,1303.191307,8265.863790,2329.450125,843.744789,32419.743648,0.809573,0.422841,0.0,0.386559,0.319096,0.0,0.0,0.0,1.831481,0.0,0.0,0.0,0.0
std,0.676666,14.067675,2.067887,0.613618,1.318580,1.106062,28.071511,11.521568,0.868207,0.0,120551.516456,37316.995001,10380.466363,9117.539107,7143.494113,5310.160214,1350.383941,2361.458774,11275.061923,797.736712,2017.484244,2648.092922,20944.863654,11659.407904,2493.490102,7067.026467,1963.042881,2030.443120,6482.916646,2982.668813,2808.008389,40373.838461,0.546958,0.529547,0.0,0.514392,0.476553,0.0,0.0,0.0,1.412590,0.0,0.0,0.0,0.0
min,0.000000,13.000000,1.000000,0.000000,0.000000,0.000000,5.000000,0.000000,0.000000,1.0,11285.000000,2947.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1950.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0
25%,0.000000,41.000000,3.000000,0.000000,0.000000,0.000000,24.000000,10.000000,1.000000,1.0,101150.000000,49957.500000,16373.750000,10880.000000,3181.750000,5376.000000,975.000000,2810.000000,1668.000000,0.000000,0.000000,1260.000000,12577.500000,5400.000000,245.000000,2220.000000,480.000000,0.000000,3564.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.0,1.000000,0.0,0.0,0.0,0.0
50%,0.000000,51.000000,4.000000,0.000000,1.000000,1.000000,40.000000,16.000000,2.000000,1.0,153175.000000,70885.000000,22989.500000,16290.000000,6810.000000,8374.000000,1691.000000,4185.000000,6204.000000,170.000000,0.000000,2435.000000,21102.000000,9000.000000,800.000000,5304.000000,1200.000000,510.000000,6084.000000,1000.000000,0.000000,14828.500000,1.000000,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.0,2.000000,0.0,0.0,0.0,0.0
75%,1.000000,61.000000,6.000000,1.000000,2.000000,2.000000,60.000000,25.000000,2.000000,1.0,250795.000000,99962.500000,30732.250000,23332.000000,12900.000000,12539.750000,2740.500000,5980.000000,15931.000000,942.500000,2080.000000,4515.000000,39004.500000,18000.000000,2590.500000,11124.000000,2616.000000,1600.000000,11100.000000,3500.000000,0.000000,54426.250000,1.000000,1.000000,0.0,1.000000,1.000000,0.0,0.0,0.0,3.000000,0.0,0.0,0.0,0.0
max,2.000000,91.000000,10.000000,2.000000,5.000000,5.000000,136.000000,50.000000,3.000000,1.0,570492.000000,187504.000000,53758.000000,43260.000000,30696.000000,25200.000000,6212.000000,11450.000000,46900.000000,3248.000000,7864.000000,11900.000000,95250.000000,51000.000000,11250.000000,30822.000000,8904.000000,10150.000000,29688.000000,12500.000000,15780.000000,164918.000000,2.000000,2.000000,0.0,2.000000,2.000000,0.0,0.0,0.0,6.000000,0.0,0.0,0.0,0.0

##### Fazendo uma cópia do dataframe final em que os outliers serão substituídos pela mediana dos dados

In [286]:
df3= df_final.copy()
df3 = df3.append(outliers_metrics)

for column in df3.columns:
    if math.isnan(df3[column].loc['IQR']):
        continue
    else:
        mask = (df3[column] < df3[column].loc['Minimum']) | (df3[column] > df3[column].loc['Maximum'])
        df3.loc[mask, column] = df3[column].loc['Median']

df3 = df3.drop(df3.tail(4).index)

##### Obtendo o relatório com as medidas de posição e dispersão após a substituição dos outliers pela mediana de cada coluna

In [287]:
relatorio3 = df3.iloc[:,1:].describe()

In [288]:
relatorio3

,Agricultural Household indicator,Household Head Age,Total Number of Family members,Members with age less than 5 year old,Members with age 5 - 17 years old,Total number of family members employed,House Floor Area,House Age,Number of bedrooms,Electricity,Total Household Income,Total Food Expenditure,Bread and Cereals Expenditure,Total Rice Expenditure,Meat Expenditure,Total Fish and marine products Expenditure,Fruit Expenditure,Vegetables Expenditure,Restaurant and hotels Expenditure,Alcoholic Beverages Expenditure,Tobacco Expenditure,"Clothing, Footwear and Other Wear Expenditure",Housing and water Expenditure,Imputed House Rental Value,Medical Care Expenditure,Transportation Expenditure,Communication Expenditure,Education Expenditure,Miscellaneous Goods and Services Expenditure,Special Occasions Expenditure,Crop Farming and Gardening expenses,Total Income from Entrepreneurial Acitivites,Number of Television,Number of CD/VCD/DVD,Number of Component/Stereo set,Number of Refrigerator/Freezer,Number of Washing Machine,Number of Airconditioner,"Number of Car, Jeep, Van",Number of Landline/wireless telephones,Number of Cellular phone,Number of Personal Computer,Number of Stove with Oven/Gas Range,Number of Motorized Banca,Number of Motorcycle/Tricycle
count,41544.000000,41544.000000,41544.000000,41544.000000,41544.000000,41544.000000,41544.000000,41544.000000,41544.000000,41544.0,41544.000000,41544.000000,41544.000000,41544.000000,41544.000000,41544.000000,41544.000000,41544.000000,41544.000000,41544.000000,41544.000000,41544.000000,41544.000000,41544.000000,41544.000000,41544.000000,41544.000000,41544.000000,41544.000000,41544.000000,41544.000000,41544.000000,41544.000000,41544.000000,41544.0,41544.000000,41544.000000,41544.0,41544.0,41544.0,41544.000000,41544.0,41544.0,41544.0,41544.0
mean,0.429858,51.313764,4.502889,0.365468,1.307072,1.251950,44.859450,18.387035,1.634604,1.0,187928.373760,77575.569673,24017.910095,17280.289885,8777.780353,9350.805363,1998.558035,4548.535745,10229.895268,549.429665,1245.450823,3190.732115,28047.718082,13331.531629,1815.402898,7545.450029,1833.417678,1229.674754,8126.693963,2245.574716,675.235485,31574.711920,0.813162,0.420927,0.0,0.385591,0.319011,0.0,0.0,0.0,1.833550,0.0,0.0,0.0,0.0
std,0.676666,14.056162,2.052225,0.610827,1.312054,1.104028,27.225709,11.303293,0.845748,0.0,116090.737303,36490.538625,10252.326723,9007.841884,6966.565594,5190.708010,1304.421384,2312.684990,10878.694303,766.337801,1949.717598,2529.284427,20234.875805,11200.538089,2340.678084,6784.797217,1839.619204,1852.618838,6181.512654,2838.876211,2534.544690,39193.284516,0.542398,0.529109,0.0,0.514111,0.476518,0.0,0.0,0.0,1.404015,0.0,0.0,0.0,0.0
min,0.000000,13.000000,1.000000,0.000000,0.000000,0.000000,5.000000,0.000000,0.000000,1.0,11285.000000,2947.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1950.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0
25%,0.000000,41.000000,3.000000,0.000000,0.000000,0.000000,25.000000,10.000000,1.000000,1.0,104895.000000,51017.250000,16556.000000,11020.000000,3353.750000,5504.000000,1024.750000,2873.000000,1930.000000,0.000000,0.000000,1365.000000,13080.000000,6000.000000,300.000000,2412.000000,564.000000,0.000000,3792.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.0,1.000000,0.0,0.0,0.0,0.0
50%,0.000000,51.000000,4.000000,0.000000,1.000000,1.000000,40.000000,17.000000,2.000000,1.0,164079.250000,72985.250000,23324.000000,16620.000000,7332.250000,8695.000000,1820.000000,4314.000000,7314.000000,270.000000,300.000000,2740.000000,22992.000000,10800.000000,1125.000000,6036.000000,1506.000000,880.000000,6804.000000,1500.000000,0.000000,19218.000000,1.000000,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.0,2.000000,0.0,0.0,0.0,0.0
75%,1.000000,61.000000,6.000000,1.000000,2.000000,2.000000,60.000000,25.000000,2.000000,1.0,238776.750000,98095.000000,30510.000000,23130.000000,12446.250000,12285.250000,2640.000000,5885.000000,14822.500000,840.000000,1810.000000,4204.250000,37080.000000,18000.000000,2150.000000,10404.000000,2340.000000,1290.000000,10320.000000,3000.000000,0.000000,51030.500000,1.000000,1.000000,0.0,1.000000,1.000000,0.0,0.0,0.0,3.000000,0.0,0.0,0.0,0.0
max,2.000000,91.000000,10.000000,2.000000,5.000000,5.000000,136.000000,50.000000,3.000000,1.0,570492.000000,187504.000000,53758.000000,43260.000000,30696.000000,25200.000000,6212.000000,11450.000000,46900.000000,3248.000000,7864.000000,11900.000000,95250.000000,51000.000000,11250.000000,30822.000000,8904.000000,10150.000000,29688.000000,12500.000000,15780.000000,164918.000000,2.000000,2.000000,0.0,2.000000,2.000000,0.0,0.0,0.0,6.000000,0.0,0.0,0.0,0.0

In [281]:
relatorio1

,Agricultural Household indicator,Household Head Age,Total Number of Family members,Members with age less than 5 year old,Members with age 5 - 17 years old,Total number of family members employed,House Floor Area,House Age,Number of bedrooms,Electricity,Total Household Income,Total Food Expenditure,Bread and Cereals Expenditure,Total Rice Expenditure,Meat Expenditure,Total Fish and marine products Expenditure,Fruit Expenditure,Vegetables Expenditure,Restaurant and hotels Expenditure,Alcoholic Beverages Expenditure,Tobacco Expenditure,"Clothing, Footwear and Other Wear Expenditure",Housing and water Expenditure,Imputed House Rental Value,Medical Care Expenditure,Transportation Expenditure,Communication Expenditure,Education Expenditure,Miscellaneous Goods and Services Expenditure,Special Occasions Expenditure,Crop Farming and Gardening expenses,Total Income from Entrepreneurial Acitivites,Number of Television,Number of CD/VCD/DVD,Number of Component/Stereo set,Number of Refrigerator/Freezer,Number of Washing Machine,Number of Airconditioner,"Number of Car, Jeep, Van",Number of Landline/wireless telephones,Number of Cellular phone,Number of Personal Computer,Number of Stove with Oven/Gas Range,Number of Motorized Banca,Number of Motorcycle/Tricycle
count,41544.000000,41544.000000,41544.000000,41544.000000,41544.000000,41544.000000,41544.000000,41544.000000,41544.000000,41544.000000,4.154400e+04,41544.000000,41544.000000,41544.000000,41544.000000,41544.000000,41544.000000,41544.000000,41544.000000,41544.000000,41544.000000,41544.000000,4.154400e+04,4.154400e+04,4.154400e+04,41544.000000,41544.000000,41544.000000,41544.000000,41544.000000,4.154400e+04,4.154400e+04,41544.000000,41544.000000,41544.000000,41544.000000,41544.000000,41544.000000,41544.000000,41544.000000,41544.000000,41544.000000,41544.000000,41544.000000,41544.000000
mean,0.429858,51.381451,4.635182,0.410216,1.362579,1.272699,55.603360,20.125505,1.788008,0.890815,2.475556e+05,85099.158194,25133.723642,18195.825005,10540.072574,10529.318337,2550.474990,5006.918568,15436.566075,1085.068121,2294.736183,4954.621076,3.837547e+04,2.092154e+04,7.160231e+03,11806.344454,4095.492057,7473.500481,12522.071635,5265.726001,1.381686e+04,5.437624e+04,0.856875,0.435225,0.162141,0.394184,0.319806,0.129814,0.081215,0.060610,1.905738,0.315015,0.135038,0.013119,0.289885
std,0.676666,14.166081,2.280252,0.694390,1.408000,1.149152,55.023165,14.295452,1.105664,0.311875,2.868805e+05,51637.947682,13466.482984,11727.224350,10497.727757,7812.201613,2969.752879,3300.175236,23705.195929,2174.431913,3998.977131,7496.500945,5.311168e+04,3.937152e+04,2.690200e+04,19351.213715,7298.822614,21219.170907,17547.027921,13279.593681,4.764378e+04,1.471428e+05,0.646306,0.560125,0.389108,0.537025,0.478482,0.448673,0.346786,0.276732,1.558130,0.739698,0.354083,0.127171,0.558408
min,0.000000,9.000000,1.000000,0.000000,0.000000,0.000000,5.000000,0.000000,0.000000,0.000000,1.128500e+04,2947.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.950000e+03,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,41.000000,3.000000,0.000000,0.000000,0.000000,25.000000,10.000000,1.000000,1.000000,1.048950e+05,51017.250000,16556.000000,11020.000000,3353.750000,5504.000000,1024.750000,2873.000000,1930.000000,0.000000,0.000000,1365.000000,1.308000e+04,6.000000e+03,3.000000e+02,2412.000000,564.000000,0.000000,3792.000000,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,51.000000,4.000000,0.000000,1.000000,1.000000,40.000000,17.000000,2.000000,1.000000,1.640795e+05,72985.500000,23324.000000,16620.000000,7332.500000,8695.000000,1820.000000,4314.000000,7314.000000,270.000000,300.000000,2740.000000,2.299200e+04,1.080000e+04,1.125000e+03,6036.000000,1506.000000,880.000000,6804.000000,1500.000000,0.000000e+00,1.922200e+04,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000,0.000000,0.000000,0.000000,0.000000
75%,1.000000,61.000000,6.000000,1.000000,2.000000,2.000000,70.000000,26.000000,2.000000,1.000000,2.911385e+05,105635.500000,31439.000000,23920.000000,14292.000000,13388.000000,3100.000000,6304.250000,19921.250000,1299.250000,3146.500000,5580.000000,4.594800e+04,2.400000e+04,4.680000e+03,13776.000000,3900.000000,4060.000000,14154.000000,5000.000000,6.312750e+03,6.596875e+04,1.000000,1.000000,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000,3.000000,0.000000,0.000000,0.000000,0.000000
max,2.000000,99.000000,26.000000,5.000000,8.000000,8.000000,998.000000,200.000000,9.000000,1.000000,1.181599e+07,827565.000000,765864.000000,758326.000000,261566.000000,188208.000000,273769.000000,74800.000000,725296.000000,59592.000000,139370.000000,356750.000000,2.188560e+06,1.920000e+06,1.049275e+06,834996.000000,149940.000000,731000.000000,553560.000000,556700.000000,3.729973e+06,9.234485e+06,6.000000,5.000000,5.000000,5.000000,3.000000,5.000000,5.000000,4.000000,10.000000,6.000000,3.000000,3.000000,5.000000

##### Obtendo as colunas qualitativas do dataframe final

In [292]:
object_columns = df_final.select_dtypes(include=['object']).columns

##### Exibindo relatório com as frequências (absoluta, acumulada, relativa e relativa acumulada) para cada variável qualitativa

In [318]:
for column in object_columns:
    display(pd.concat(
        [pd.crosstab(index=df_final[column], columns='Frequency'),
         pd.crosstab(index=df_final[column], columns='Cumulative Frequency').cumsum(),
         (pd.crosstab(index=df_final[column], columns='% Frequency', normalize='columns')*100).round(2),
         (pd.crosstab(index=df_final[column], columns='Cumulative % Frequency', normalize='columns')*100).cumsum().round(2)],
         axis=1))

col_0   Frequency  Cumulative Frequency  % Frequency  Cumulative % Frequency
Region
A            1725                  1725         4.15                    4.15
B            1782                  3507         4.29                    8.44
C            2851                  6358         6.86                   15.30
D            2472                  8830         5.95                   21.25
E            2248                 11078         5.41                   26.67
F            3237                 14315         7.79                   34.46
G            2219                 16534         5.34                   39.80
H            4162                 20696        10.02                   49.82
I            2541                 23237         6.12                   55.93
J            1887                 25124         4.54                   60.48
K            2446                 27570         5.89                   66.36
L            2337                 29907         5.63                   71.99
M            2348                 32255         5.65                   77.64
N            4130                 36385         9.94                   87.58
O            1249                 37634         3.01                   90.59
P            2122                 39756         5.11                   95.70
Q            1788                 41544         4.30                  100.00

col_0,Frequency,Cumulative Frequency,% Frequency,Cumulative % Frequency
Main Source of Income,,,,
Enterpreneurial Activities,10320,10320,24.84,24.84
Other sources of Income,10836,21156,26.08,50.92
Wage/Salaries,20388,41544,49.08,100.00

col_0,Frequency,Cumulative Frequency,% Frequency,Cumulative % Frequency
Household Head Sex,,,,
Female,9061,9061,21.81,21.81
Male,32483,41544,78.19,100.00

col_0,Frequency,Cumulative Frequency,% Frequency,Cumulative % Frequency
Household Head Marital Status,,,,
Annulled,11,11,0.03,0.03
Divorced/Separated,1425,1436,3.43,3.46
Married,31347,32783,75.45,78.91
Single,1942,34725,4.67,83.59
Unknown,1,34726,0.00,83.59
Widowed,6818,41544,16.41,100.00

col_0,Frequency,Cumulative Frequency,% Frequency,Cumulative % Frequency
Household Head Class of Worker,,,,
Employer in own family-operated farm or business,2581,2581,7.59,7.59
Self-employed wihout any employee,13766,16347,40.48,48.07
Worked for government/government corporation,2820,19167,8.29,56.36
Worked for private establishment,13731,32898,40.38,96.74
Worked for private household,811,33709,2.38,99.12
Worked with pay in own family-operated farm or business,14,33723,0.04,99.16
Worked without pay in own family-operated farm or business,285,34008,0.84,100.00

col_0,Frequency,Cumulative Frequency,% Frequency,Cumulative % Frequency
Type of Household,,,,
Extended Family,12932,12932,31.13,31.13
Single Family,28445,41377,68.47,99.60
Two or More Nonrelated Persons/Members,167,41544,0.40,100.00

col_0,Frequency,Cumulative Frequency,% Frequency,Cumulative % Frequency
Type of Building/House,,,,
Commercial/industrial/agricultural building,51,51,0.12,0.12
Duplex,1084,1135,2.61,2.73
Institutional living quarter,9,1144,0.02,2.75
Multi-unit residential,1329,2473,3.20,5.95
Other building unit,2,2475,0.00,5.96
Single house,39069,41544,94.04,100.00

col_0,Frequency,Cumulative Frequency,% Frequency,Cumulative % Frequency
Type of Walls,,,,
Light,8267,8267,19.90,19.90
NOt applicable,12,8279,0.03,19.93
Quite Strong,3487,11766,8.39,28.32
Salvaged,456,12222,1.10,29.42
Strong,27739,39961,66.77,96.19
Very Light,1583,41544,3.81,100.00

In [ ]:
teste