# Miniprojeto Pandas
  
Você vai receber 3 bases para carregar, manipular e gerar novas bases.  
- 1_demografico.csv  
- 2_renda_gastos.csv  
- 3_bens.csv 
  
As bases tem dados demográficos, renda/gastos e bens de famílias da Filipinas.

```
Renda familiar total
Região
Despesa Total de Alimentos
Principal fonte de renda
Indicador Agrícola Doméstico
Despesas com Pão e Cereais
Despesa total de arroz
Gastos com carne
Despesas totais com peixes e produtos marinhos
Despesas com frutas
Gastos com vegetais
Despesas com restaurantes e hotéis
Despesas com bebidas alcoólicas
Despesas com tabaco
Despesas com roupas, calçados e outras despesas
Despesas com habitação e água
Valor imputado do aluguel da casa
Despesas com cuidados médicos
Despesas de transporte
Despesas de comunicação
Despesas com educação
Despesas com bens e serviços diversos
Despesas para ocasiões especiais
Despesas de cultivo agrícola e jardinagem
Renda total de atividades empreendedoras
Sexo Chefe da Família
Idade do chefe da família
Estado civil do chefe da família
Nível mais alto de chefe de família concluído
Indicador de emprego ou negócio de chefe de família
Ocupação do chefe da família
Chefe de família da classe de trabalhador
Tipo de família
Número total de membros da família
Membros com idade inferior a 5 anos
Membros com idade de 5 a 17 anos
Número total de membros da família empregados
Tipo de construção / casa
Tipo de telhado
Tipo de paredes
Área do piso da casa
House Age
Numero de quartos
Status de posse
Instalações sanitárias
Eletricidade
Fonte Principal de Abastecimento de Água
Número de televisão
Número de CD / VCD / DVD
Número de conjunto de componente / estéreo
Número de geladeira / freezer
Número da máquina de lavar
Número do ar condicionado
Número de carro, jipe, van
Número de telefones fixos / sem fio
Número de telefone celular
Número do computador pessoal
Número de fogão com forno / fogão a gás
Número de banco motorizado
Número de motocicleta / triciclo
```
  
#### Você deve:  
1) Juntar as bases, observe as colunas coincidentes, caso não exista utilize o indice.  

2) Faca um relatório no qual cada variável quantitativa deve ter:
- Mínimo
- Primeiro Quartil
- Mediana
- Terceiro Quartil
- Máximo
- Média  
  
3) Trate os dados Outliers como faltantes e crie novamente o relatório para observarmos a diferenca:  
<img src="https://escoladedados.org/wp-content/uploads/2019/06/Captura-de-Tela-2019-06-13-a%CC%80s-14.46.46-1024x498.png" width=500>
  
4) Trate os dados Outliers inserindo no lugar a mediana e crie novamente o relatório para observarmos a diferenca:
  
5) Faca um relatório no qual cada variável qualitativa deve ter:
- Frequência Absoluta
- Frequência Acumulada
- Frequência Relativa
- Frequência Relativa Acumulada  
  
**Exemplo:**  
<img src="http://umolharmatematico.weebly.com/uploads/2/5/7/9/25795733/8634702_orig.png " width=450>
   
6) Separe os 10% com maior renda(Ordem decrescente) em um novo csv  
  
7) Criar os dummies para pelo menos 3 das variáveis qualitativas  
  
8) Compare a média das variáveis(Quantitativos + 3 Qualitativas) da populacão dos 10% com maior renda vs o restante
  
## Não se esqueca assim de acabar de realizar o projeto responder:  
https://forms.gle/JRtrHrrSdoq65yDm8

In [39]:
import pandas as pd
import numpy as np

In [40]:
demografico_df = pd.read_csv("1_demografico.csv", sep=';')
renda_df = pd.read_csv("2_renda_gastos.csv", sep=';')
bens_df = pd.read_csv("3_bens.csv", sep=';')

## 1

``` sql
select * from demografico_df d
inner join rendas_df r on d.ID = r.ID
```

> Note o use de dois parametros no join, aperentemente os datasets possuem primary key composta

In [41]:
demografico_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41544 entries, 0 to 41543
Data columns (total 19 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   ID                                       41544 non-null  int64
 1   Region                                   41544 non-null  object
 2   Main Source of Income                    41544 non-null  object
 3   Agricultural Household indicator         41544 non-null  int64
 4   Household Head Sex                       41544 non-null  object
 5   Household Head Age                       41544 non-null  int64
 6   Household Head Marital Status            41544 non-null  object
 7   Household Head Class of Worker           34008 non-null  object
 8   Type of Household                        41544 non-null  object
 9   Total Number of Family members           41544 non-null  int64
 10  Members with age less than 5 year old    41544 non-null  int64
 11  Members with age 5 - 17 years old        41544 non-null  int64
 12  Total number of family members employed  41544 non-null  int64
 13  Type of Building/House                   41544 non-null  object
 14  Type of Walls                            41544 non-null  object
 15  House Floor Area                         41544 non-null  int64
 16  House Age                                41544 non-null  int64
 17  Number of bedrooms                       41544 non-null  int64
 18  Electricity                              41544 non-null  int64
dtypes: int64(11), object(8)
memory usage: 6.0+ MB

In [42]:
df = demografico_df.merge(renda_df,how='inner',left_on=['ID','Region'],right_on=['ID','Region']).merge(bens_df, left_index=True, right_index=True)
# df = first_merge

## 2

In [43]:
stats_report = df.describe().drop('ID',axis=1).T

In [44]:
stats_report.head()

,count,mean,std,min,25%,50%,75%,max
Agricultural Household indicator,41544.0,0.429858,0.676666,0.0,0.0,0.0,1.0,2.0
Household Head Age,41544.0,51.381451,14.166081,9.0,41.0,51.0,61.0,99.0
Total Number of Family members,41544.0,4.635182,2.280252,1.0,3.0,4.0,6.0,26.0
Members with age less than 5 year old,41544.0,0.410216,0.694390,0.0,0.0,0.0,1.0,5.0
Members with age 5 - 17 years old,41544.0,1.362579,1.408000,0.0,0.0,1.0,2.0,8.0

## 3

In [45]:
stats_report['IQR'] = stats_report['75%'] - stats_report['25%']
stats_report['minimun_wo_outlier'] = stats_report['25%'] - 1.5* stats_report['IQR']
stats_report['maximun_wo_outlier'] = stats_report['75%'] + 1.5* stats_report['IQR']

In [46]:
stats_report.head()

,count,mean,std,min,25%,50%,75%,max,IQR,minimun_wo_outlier,maximun_wo_outlier
Agricultural Household indicator,41544.0,0.429858,0.676666,0.0,0.0,0.0,1.0,2.0,1.0,-1.5,2.5
Household Head Age,41544.0,51.381451,14.166081,9.0,41.0,51.0,61.0,99.0,20.0,11.0,91.0
Total Number of Family members,41544.0,4.635182,2.280252,1.0,3.0,4.0,6.0,26.0,3.0,-1.5,10.5
Members with age less than 5 year old,41544.0,0.410216,0.694390,0.0,0.0,0.0,1.0,5.0,1.0,-1.5,2.5
Members with age 5 - 17 years old,41544.0,1.362579,1.408000,0.0,0.0,1.0,2.0,8.0,2.0,-3.0,5.0

In [47]:
new_stats_df = df.copy()
new_stats_df = new_stats_df.select_dtypes(include='number').drop('ID',axis=1)

In [48]:
new_stats_df.head()

,Agricultural Household indicator,Household Head Age,Total Number of Family members,Members with age less than 5 year old,Members with age 5 - 17 years old,Total number of family members employed,House Floor Area,House Age,Number of bedrooms,Electricity,...,Number of Refrigerator/Freezer,Number of Washing Machine,Number of Airconditioner,"Number of Car, Jeep, Van",Number of Landline/wireless telephones,Number of Cellular phone,Number of Personal Computer,Number of Stove with Oven/Gas Range,Number of Motorized Banca,Number of Motorcycle/Tricycle
0,0,49,4,0,1,1,80,75,3,1,...,1,1,0,0,0,2,1,0,0,1
1,0,40,3,0,1,2,42,15,2,1,...,0,1,0,0,0,3,1,0,0,2
2,1,39,6,0,4,3,35,12,1,0,...,0,0,0,0,0,0,0,0,0,0
3,0,52,3,0,3,2,30,15,1,1,...,0,0,0,0,0,1,0,0,0,0
4,0,65,4,0,0,2,54,16,3,1,...,1,0,0,0,0,3,0,0,0,1

In [49]:
mascara_min = new_stats_df >= stats_report['minimun_wo_outlier']
mascara_max = new_stats_df <= stats_report['maximun_wo_outlier']
new_stats_df = new_stats_df[mascara_min & mascara_max]

In [50]:
# Forma alternativa 'ok' mas que usa um for...

# for index, row in stats_report.iterrows():
#     minimum_mask = new_stats_df[index] < row['minimun_wo_outlier']
#     maximun_max = new_stats_df[index] > row['maximun_wo_outlier']
#     new_stats_df.loc[(minimum_mask | maximun_max), index] = np.nan

#     Forma alternativa porem PESSIMA --> new_stats_df[index] = new_stats_df[index].apply(lambda x: np.nan if x< row['minimun_wo_outlier'] or x> row['maximun_wo_outlier'] else x)

In [51]:
new_stats_df

,Agricultural Household indicator,Household Head Age,Total Number of Family members,Members with age less than 5 year old,Members with age 5 - 17 years old,Total number of family members employed,House Floor Area,House Age,Number of bedrooms,Electricity,...,Number of Refrigerator/Freezer,Number of Washing Machine,Number of Airconditioner,"Number of Car, Jeep, Van",Number of Landline/wireless telephones,Number of Cellular phone,Number of Personal Computer,Number of Stove with Oven/Gas Range,Number of Motorized Banca,Number of Motorcycle/Tricycle
0,0,49.0,4.0,0.0,1.0,1.0,80.0,NaN,3.0,1.0,...,1.0,1.0,0.0,0.0,0.0,2.0,NaN,0.0,0.0,NaN
1,0,40.0,3.0,0.0,1.0,2.0,42.0,15.0,2.0,1.0,...,0.0,1.0,0.0,0.0,0.0,3.0,NaN,0.0,0.0,NaN
2,1,39.0,6.0,0.0,4.0,3.0,35.0,12.0,1.0,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0,52.0,3.0,0.0,3.0,2.0,30.0,15.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
4,0,65.0,4.0,0.0,0.0,2.0,54.0,16.0,3.0,1.0,...,1.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41539,2,62.0,6.0,0.0,2.0,0.0,25.0,18.0,2.0,1.0,...,0.0,1.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0
41540,2,55.0,5.0,1.0,1.0,2.0,40.0,19.0,2.0,1.0,...,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
41541,2,51.0,7.0,0.0,3.0,0.0,40.0,22.0,2.0,1.0,...,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,NaN
41542,2,30.0,NaN,2.0,1.0,1.0,20.0,35.0,2.0,1.0,...,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0
41543,2,42.0,5.0,0.0,1.0,0.0,43.0,35.0,2.0,1.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,NaN

In [52]:
new_stats_report = new_stats_df.describe().T

In [53]:
stats_report.head(10)

,count,mean,std,min,25%,50%,75%,max,IQR,minimun_wo_outlier,maximun_wo_outlier
Agricultural Household indicator,41544.0,0.429858,0.676666,0.0,0.0,0.0,1.0,2.0,1.0,-1.5,2.5
Household Head Age,41544.0,51.381451,14.166081,9.0,41.0,51.0,61.0,99.0,20.0,11.0,91.0
Total Number of Family members,41544.0,4.635182,2.280252,1.0,3.0,4.0,6.0,26.0,3.0,-1.5,10.5
Members with age less than 5 year old,41544.0,0.410216,0.694390,0.0,0.0,0.0,1.0,5.0,1.0,-1.5,2.5
Members with age 5 - 17 years old,41544.0,1.362579,1.408000,0.0,0.0,1.0,2.0,8.0,2.0,-3.0,5.0
Total number of family members employed,41544.0,1.272699,1.149152,0.0,0.0,1.0,2.0,8.0,2.0,-3.0,5.0
House Floor Area,41544.0,55.603360,55.023165,5.0,25.0,40.0,70.0,998.0,45.0,-42.5,137.5
House Age,41544.0,20.125505,14.295452,0.0,10.0,17.0,26.0,200.0,16.0,-14.0,50.0
Number of bedrooms,41544.0,1.788008,1.105664,0.0,1.0,2.0,2.0,9.0,1.0,-0.5,3.5
Electricity,41544.0,0.890815,0.311875,0.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0

In [54]:
new_stats_report.tail()

,count,mean,std,min,25%,50%,75%,max
Number of Cellular phone,41034.0,1.831481,1.41259,0.0,1.0,2.0,3.0,6.0
Number of Personal Computer,32988.0,0.000000,0.00000,0.0,0.0,0.0,0.0,0.0
Number of Stove with Oven/Gas Range,36101.0,0.000000,0.00000,0.0,0.0,0.0,0.0,0.0
Number of Motorized Banca,41055.0,0.000000,0.00000,0.0,0.0,0.0,0.0,0.0
Number of Motorcycle/Tricycle,31282.0,0.000000,0.00000,0.0,0.0,0.0,0.0,0.0

## 4

In [55]:
median_stats_df = new_stats_df.copy()

In [56]:
median_stats_df = median_stats_df.fillna(stats_report['50%'])
# for index, row in stats_report.iterrows():
#     minimum_mask = median_stats_df[index] < row['minimun_wo_outlier']
#     maximun_max = median_stats_df[index] > row['maximun_wo_outlier']
#     median_stats_df.loc[(minimum_mask | maximun_max), index] = row['50%']

In [57]:
median_stats_report = median_stats_df.describe().T

In [58]:
median_stats_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 41544 entries, 0 to 41543
Data columns (total 45 columns):
 #   Column                                         Non-Null Count  Dtype
---  ------                                         --------------  -----
 0   Agricultural Household indicator               41544 non-null  int64
 1   Household Head Age                             41544 non-null  float64
 2   Total Number of Family members                 41544 non-null  float64
 3   Members with age less than 5 year old          41544 non-null  float64
 4   Members with age 5 - 17 years old              41544 non-null  float64
 5   Total number of family members employed        41544 non-null  float64
 6   House Floor Area                               41544 non-null  float64
 7   House Age                                      41544 non-null  float64
 8   Number of bedrooms                             41544 non-null  float64
 9   Electricity                                    41544 non-null  float64
 10  Total Household Income                         41544 non-null  float64
 11  Total Food Expenditure                         41544 non-null  float64
 12  Bread and Cereals Expenditure                  41544 non-null  float64
 13  Total Rice Expenditure                         41544 non-null  float64
 14  Meat Expenditure                               41544 non-null  float64
 15  Total Fish and  marine products Expenditure    41544 non-null  float64
 16  Fruit Expenditure                              41544 non-null  float64
 17  Vegetables Expenditure                         41544 non-null  float64
 18  Restaurant and hotels Expenditure              41544 non-null  float64
 19  Alcoholic Beverages Expenditure                41544 non-null  float64
 20  Tobacco Expenditure                            41544 non-null  float64
 21  Clothing, Footwear and Other Wear Expenditure  41544 non-null  float64
 22  Housing and water Expenditure                  41544 non-null  float64
 23  Imputed House Rental Value                     41544 non-null  float64
 24  Medical Care Expenditure                       41544 non-null  float64
 25  Transportation Expenditure                     41544 non-null  float64
 26  Communication Expenditure                      41544 non-null  float64
 27  Education Expenditure                          41544 non-null  float64
 28  Miscellaneous Goods and Services Expenditure   41544 non-null  float64
 29  Special Occasions Expenditure                  41544 non-null  float64
 30  Crop Farming and Gardening expenses            41544 non-null  float64
 31  Total Income from Entrepreneurial Acitivites   41544 non-null  float64
 32  Number of Television                           41544 non-null  float64
 33  Number of CD/VCD/DVD                           41544 non-null  float64
 34  Number of Component/Stereo set                 41544 non-null  float64
 35  Number of Refrigerator/Freezer                 41544 non-null  float64
 36  Number of Washing Machine                      41544 non-null  float64
 37  Number of Airconditioner                       41544 non-null  float64
 38  Number of Car, Jeep, Van                       41544 non-null  float64
 39  Number of Landline/wireless telephones         41544 non-null  float64
 40  Number of Cellular phone                       41544 non-null  float64
 41  Number of Personal Computer                    41544 non-null  float64
 42  Number of Stove with Oven/Gas Range            41544 non-null  float64
 43  Number of Motorized Banca                      41544 non-null  float64
 44  Number of Motorcycle/Tricycle                  41544 non-null  float64
dtypes: float64(44), int64(1)
memory usage: 15.6 MB

In [59]:
median_stats_report.head()

,count,mean,std,min,25%,50%,75%,max
Agricultural Household indicator,41544.0,0.429858,0.676666,0.0,0.0,0.0,1.0,2.0
Household Head Age,41544.0,51.313764,14.056162,13.0,41.0,51.0,61.0,91.0
Total Number of Family members,41544.0,4.502889,2.052225,1.0,3.0,4.0,6.0,10.0
Members with age less than 5 year old,41544.0,0.365468,0.610827,0.0,0.0,0.0,1.0,2.0
Members with age 5 - 17 years old,41544.0,1.307072,1.312054,0.0,0.0,1.0,2.0,5.0

In [60]:
new_stats_report.head()

,count,mean,std,min,25%,50%,75%,max
Agricultural Household indicator,41544.0,0.429858,0.676666,0.0,0.0,0.0,1.0,2.0
Household Head Age,41476.0,51.314278,14.067675,13.0,41.0,51.0,61.0,91.0
Total Number of Family members,40877.0,4.511094,2.067887,1.0,3.0,4.0,6.0,10.0
Members with age less than 5 year old,40955.0,0.370724,0.613618,0.0,0.0,0.0,1.0,2.0
Members with age 5 - 17 years old,41110.0,1.310314,1.318580,0.0,0.0,1.0,2.0,5.0

## 5

In [61]:
qualitative_df = df.select_dtypes(exclude=['number'])

In [62]:
report_dict = {}

In [63]:
for col in qualitative_df.columns:
    temp_df = qualitative_df[col].value_counts().to_frame()
    temp_df['Freq. Abs. Ac.'] = temp_df[col].cumsum()
    temp_df['Freq. Rel.'] = temp_df[col] / temp_df[col].sum()
    temp_df['Freq. Rel(%)'] = temp_df['Freq. Rel.'] * 100
    temp_df['Freq. Rel. Ac.'] = temp_df['Freq. Rel(%)'].cumsum()
    report_dict[col] = temp_df

In [64]:
qualitative_df.columns

Index(['Region', 'Main Source of Income', 'Household Head Sex',
       'Household Head Marital Status', 'Household Head Class of Worker',
       'Type of Household', 'Type of Building/House', 'Type of Walls'],
      dtype='object')

In [65]:
report_dict['Type of Walls']

,Type of Walls,Freq. Abs. Ac.,Freq. Rel.,Freq. Rel(%),Freq. Rel. Ac.
Strong,27739,27739,0.667702,66.770171,66.770171
Light,8267,36006,0.198994,19.899384,86.669555
Quite Strong,3487,39493,0.083935,8.393510,95.063066
Very Light,1583,41076,0.038104,3.810418,98.873484
Salvaged,456,41532,0.010976,1.097631,99.971115
NOt applicable,12,41544,0.000289,0.028885,100.000000

## 6

In [66]:
quantil_90 = df['Total Household Income'].quantile([0.9])[0.9]

In [67]:
top_dez_porcento = df[df['Total Household Income'] >= quantil_90]

In [68]:
top_dez_porcento.to_csv('./dez_porcento.csv')

## 7

- Main Source of Income
- Household Head Sex
- Household Head Class of Worker

In [69]:
dummied_df = pd.concat([df, pd.get_dummies(df[['Main Source of Income', 'Household Head Sex', 'Household Head Class of Worker']])], axis = 1)

In [70]:
dummied_top_dez_porcento = pd.concat([top_dez_porcento, pd.get_dummies(top_dez_porcento[['Main Source of Income', 'Household Head Sex', 'Household Head Class of Worker']])], axis = 1)

## 8

In [71]:
pd.concat([dummied_df.mean().to_frame('full_data'), dummied_top_dez_porcento.mean().to_frame('top_ten_percent')], axis=1)

C:\Users\henri\anaconda3\envs\santander\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

,full_data,top_ten_percent
ID,1341.966638,1504.668111
Agricultural Household indicator,0.429858,0.481588
Household Head Age,51.381451,54.527557
Total Number of Family members,4.635182,5.266426
Members with age less than 5 year old,0.410216,0.378580
Members with age 5 - 17 years old,1.362579,1.086643
Total number of family members employed,1.272699,1.884236
House Floor Area,55.603360,104.713357
House Age,20.125505,23.954753
Number of bedrooms,1.788008,2.913598
Electricity,0.890815,0.996149
Total Household Income,247555.584802,849683.422623
Total Food Expenditure,85099.158194,170982.821420
Bread and Cereals Expenditure,25133.723642,33388.401925
Total Rice Expenditure,18195.825005,21844.794224
Meat Expenditure,10540.072574,25708.217329
Total Fish and marine products Expenditure,10529.318337,17809.327557
Fruit Expenditure,2550.474990,6041.070277
Vegetables Expenditure,5006.918568,8064.381468
Restaurant and hotels Expenditure,15436.566075,46540.832250
Alcoholic Beverages Expenditure,1085.068121,1821.637064
Tobacco Expenditure,2294.736183,2712.731889
"Clothing, Footwear and Other Wear Expenditure",4954.621076,16317.655836
Housing and water Expenditure,38375.467793,122860.892419
Imputed House Rental Value,20921.544627,72643.103249
Medical Care Expenditure,7160.230936,27862.417329
Transportation Expenditure,11806.344454,41866.215162
Communication Expenditure,4095.492057,17616.509747
Education Expenditure,7473.500481,31754.650060
Miscellaneous Goods and Services Expenditure,12522.071635,43296.116968
Special Occasions Expenditure,5265.726001,18563.065223
Crop Farming and Gardening expenses,13816.859715,22872.951384
Total Income from Entrepreneurial Acitivites,54376.239264,171608.615644
Number of Television,0.856875,1.600963
Number of CD/VCD/DVD,0.435225,0.905897
Number of Component/Stereo set,0.162141,0.495307
Number of Refrigerator/Freezer,0.394184,1.038267
Number of Washing Machine,0.319806,0.868592
Number of Airconditioner,0.129814,0.774489
"Number of Car, Jeep, Van",0.081215,0.557160
Number of Landline/wireless telephones,0.060610,0.332852
Number of Cellular phone,1.905738,3.825271
Number of Personal Computer,0.315015,1.476534
Number of Stove with Oven/Gas Range,0.135038,0.498436
Number of Motorized Banca,0.013119,0.013718
Number of Motorcycle/Tricycle,0.289885,0.625271
Main Source of Income_Enterpreneurial Activities,0.248411,0.161733
Main Source of Income_Other sources of Income,0.260832,0.268111
Main Source of Income_Wage/Salaries,0.490757,0.570156
Household Head Sex_Female,0.218106,0.264741
Household Head Sex_Male,0.781894,0.735259
Household Head Class of Worker_Employer in own family-operated farm or business,0.062127,0.115523
Household Head Class of Worker_Self-employed wihout any employee,0.331360,0.182912
Household Head Class of Worker_Worked for government/government corporation,0.067880,0.202407
Household Head Class of Worker_Worked for private establishment,0.330517,0.219976
Household Head Class of Worker_Worked for private household,0.019521,0.010830
Household Head Class of Worker_Worked with pay in own family-operated farm or business,0.000337,0.000722
Household Head Class of Worker_Worked without pay in own family-operated farm or business,0.006860,0.008664