# Miniprojeto Pandas
  
Você vai receber 3 bases para carregar, manipular e gerar novas bases.  
- 1_demografico.csv  
- 2_renda_gastos.csv  
- 3_bens.csv 
  
As bases tem dados demográficos, renda/gastos e bens de famílias da Filipinas.

```
Renda familiar total
Região
Despesa Total de Alimentos
Principal fonte de renda
Indicador Agrícola Doméstico
Despesas com Pão e Cereais
Despesa total de arroz
Gastos com carne
Despesas totais com peixes e produtos marinhos
Despesas com frutas
Gastos com vegetais
Despesas com restaurantes e hotéis
Despesas com bebidas alcoólicas
Despesas com tabaco
Despesas com roupas, calçados e outras despesas
Despesas com habitação e água
Valor imputado do aluguel da casa
Despesas com cuidados médicos
Despesas de transporte
Despesas de comunicação
Despesas com educação
Despesas com bens e serviços diversos
Despesas para ocasiões especiais
Despesas de cultivo agrícola e jardinagem
Renda total de atividades empreendedoras
Sexo Chefe da Família
Idade do chefe da família
Estado civil do chefe da família
Nível mais alto de chefe de família concluído
Indicador de emprego ou negócio de chefe de família
Ocupação do chefe da família
Chefe de família da classe de trabalhador
Tipo de família
Número total de membros da família
Membros com idade inferior a 5 anos
Membros com idade de 5 a 17 anos
Número total de membros da família empregados
Tipo de construção / casa
Tipo de telhado
Tipo de paredes
Área do piso da casa
House Age
Numero de quartos
Status de posse
Instalações sanitárias
Eletricidade
Fonte Principal de Abastecimento de Água
Número de televisão
Número de CD / VCD / DVD
Número de conjunto de componente / estéreo
Número de geladeira / freezer
Número da máquina de lavar
Número do ar condicionado
Número de carro, jipe, van
Número de telefones fixos / sem fio
Número de telefone celular
Número do computador pessoal
Número de fogão com forno / fogão a gás
Número de banco motorizado
Número de motocicleta / triciclo
```
  
#### Você deve:  
1) Juntar as bases, observe as colunas coincidentes, caso não exista utilize o indice.  

2) Faca um relatório no qual cada variável quantitativa deve ter:
- Mínimo
- Primeiro Quartil
- Mediana
- Terceiro Quartil
- Máximo
- Média  
  
3) Trate os dados Outliers como faltantes e crie novamente o relatório para observarmos a diferenca:  
<img src="https://escoladedados.org/wp-content/uploads/2019/06/Captura-de-Tela-2019-06-13-a%CC%80s-14.46.46-1024x498.png" width=350>
  
4) Trate os dados Outliers inserindo no lugar a mediana e crie novamente o relatório para observarmos a diferenca:
  
5) Faca um relatório no qual cada variável qualitativa deve ter:
- Frequência Absoluta
- Frequência Acumulada
- Frequência Relativa
- Frequência Relativa Acumulada  
  
**Exemplo:**  
<img src="http://umolharmatematico.weebly.com/uploads/2/5/7/9/25795733/8634702_orig.png " width=450>
   
6) Separe os 10% com maior renda(Ordem decrescente) em um novo csv  
  
7) Criar os dummies para pelo menos 3 das variáveis qualitativas  
  
8) Compare a média das variáveis(Quantitativos + 3 Qualitativas) da populacão dos 10% com maior renda vs o restante

## 1) Juntar as bases, observe as colunas coincidentes, caso não exista utilize o indice

In [1]:
import pandas as pd

In [2]:
demografico = pd.read_csv('1_demografico.csv', sep=';')
demografico
# demografico.describe()
# demografico.shape

,ID,Region,Main Source of Income,Agricultural Household indicator,Household Head Sex,Household Head Age,Household Head Marital Status,Household Head Class of Worker,Type of Household,Total Number of Family members,Members with age less than 5 year old,Members with age 5 - 17 years old,Total number of family members employed,Type of Building/House,Type of Walls,House Floor Area,House Age,Number of bedrooms,Electricity
0,1,A,Wage/Salaries,0,Female,49,Single,Worked for government/government corporation,Extended Family,4,0,1,1,Single house,Strong,80,75,3,1
1,2,A,Wage/Salaries,0,Male,40,Married,Worked for private establishment,Single Family,3,0,1,2,Single house,Strong,42,15,2,1
2,3,A,Wage/Salaries,1,Male,39,Married,Worked for private establishment,Single Family,6,0,4,3,Single house,Light,35,12,1,0
3,4,A,Wage/Salaries,0,Male,52,Married,Employer in own family-operated farm or business,Single Family,3,0,3,2,Single house,Light,30,15,1,1
4,5,A,Wage/Salaries,0,Male,65,Married,Self-employed wihout any employee,Single Family,4,0,0,2,Single house,Quite Strong,54,16,3,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41539,1784,Q,Enterpreneurial Activities,2,Male,62,Married,Employer in own family-operated farm or business,Extended Family,6,0,2,0,Single house,Strong,25,18,2,1
41540,1785,Q,Wage/Salaries,2,Male,55,Married,Worked for private establishment,Single Family,5,1,1,2,Single house,Strong,40,19,2,1
41541,1786,Q,Enterpreneurial Activities,2,Male,51,Married,Employer in own family-operated farm or business,Single Family,7,0,3,0,Single house,Strong,40,22,2,1
41542,1787,Q,Enterpreneurial Activities,2,Male,30,Married,Self-employed wihout any employee,Extended Family,12,2,1,1,Single house,Strong,20,35,2,1
41543,1788,Q,Other sources of Income,2,Female,42,Single,Self-employed wihout any employee,Extended Family,5,0,1,0,Multi-unit residential,Strong,43,35,2,1

In [3]:
renda_gastos = pd.read_csv('2_renda_gastos.csv', sep=';')
renda_gastos
# renda_gastos.describe()
# renda_gastos.shape

,ID,Region,Total Household Income,Total Food Expenditure,Bread and Cereals Expenditure,Total Rice Expenditure,Meat Expenditure,Total Fish and marine products Expenditure,Fruit Expenditure,Vegetables Expenditure,...,Housing and water Expenditure,Imputed House Rental Value,Medical Care Expenditure,Transportation Expenditure,Communication Expenditure,Education Expenditure,Miscellaneous Goods and Services Expenditure,Special Occasions Expenditure,Crop Farming and Gardening expenses,Total Income from Entrepreneurial Acitivites
0,1,A,480332,117848,42140,38300,24676,16806,3325,13460,...,63636,30000,3457,4776,2880,36200,34056,7200,19370,44370
1,2,A,198235,67766,17329,13008,17434,11073,2035,7833,...,41370,27000,3520,12900,5700,29300,9150,1500,0,0
2,3,A,82785,61609,34182,32001,7783,2590,1730,3795,...,14340,7200,70,324,420,425,6450,500,0,0
3,4,A,107589,78189,34030,28659,10914,10812,690,7887,...,16638,6600,60,6840,660,300,3762,500,15580,15580
4,5,A,189322,94625,34820,30167,18391,11309,1395,11260,...,31122,16800,140,6996,2100,0,8472,1000,18887,75687
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41539,1784,Q,163444,80172,31579,24560,3770,13249,5064,7690,...,18948,10800,8520,16440,3900,4610,4794,0,67544,127544
41540,1785,Q,203560,82482,26199,20014,3153,16088,1884,7484,...,19260,8400,39706,22980,2040,1840,9390,0,0,48000
41541,1786,Q,246510,109521,30913,16182,7120,22297,7007,10623,...,20448,15000,557,9912,3000,3440,7674,41000,0,115100
41542,1787,Q,285300,149327,43182,25360,6980,32613,3340,7344,...,26580,16200,2104,16200,4440,16260,9036,1000,0,195000
41543,1788,Q,205590,83441,16297,10232,6826,8744,3568,8027,...,29208,15000,1691,16050,6000,24000,9330,2600,0,72500

In [4]:
bens = pd.read_csv('3_bens.csv', sep=';')
bens
# bens.describe()
# bens.shape

,Number of Television,Number of CD/VCD/DVD,Number of Component/Stereo set,Number of Refrigerator/Freezer,Number of Washing Machine,Number of Airconditioner,"Number of Car, Jeep, Van",Number of Landline/wireless telephones,Number of Cellular phone,Number of Personal Computer,Number of Stove with Oven/Gas Range,Number of Motorized Banca,Number of Motorcycle/Tricycle
0,1,1,0,1,1,0,0,0,2,1,0,0,1
1,1,1,1,0,1,0,0,0,3,1,0,0,2
2,0,0,0,0,0,0,0,0,0,0,0,0,0
3,1,0,0,0,0,0,0,0,1,0,0,0,0
4,1,0,0,1,0,0,0,0,3,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
41539,1,0,0,0,1,0,0,0,4,0,0,0,0
41540,1,0,0,1,0,0,0,0,1,0,0,0,0
41541,1,1,0,0,0,0,0,0,3,0,0,0,1
41542,1,0,0,0,0,0,0,0,4,0,0,0,0
41543,1,0,0,1,0,0,0,0,0,0,1,0,1

In [5]:
df_completo = (demografico
               .merge(renda_gastos, how='inner', on=['ID', 'Region'])
               .merge(bens, how='inner', right_index=True, left_index=True))
df_completo

,ID,Region,Main Source of Income,Agricultural Household indicator,Household Head Sex,Household Head Age,Household Head Marital Status,Household Head Class of Worker,Type of Household,Total Number of Family members,...,Number of Refrigerator/Freezer,Number of Washing Machine,Number of Airconditioner,"Number of Car, Jeep, Van",Number of Landline/wireless telephones,Number of Cellular phone,Number of Personal Computer,Number of Stove with Oven/Gas Range,Number of Motorized Banca,Number of Motorcycle/Tricycle
0,1,A,Wage/Salaries,0,Female,49,Single,Worked for government/government corporation,Extended Family,4,...,1,1,0,0,0,2,1,0,0,1
1,2,A,Wage/Salaries,0,Male,40,Married,Worked for private establishment,Single Family,3,...,0,1,0,0,0,3,1,0,0,2
2,3,A,Wage/Salaries,1,Male,39,Married,Worked for private establishment,Single Family,6,...,0,0,0,0,0,0,0,0,0,0
3,4,A,Wage/Salaries,0,Male,52,Married,Employer in own family-operated farm or business,Single Family,3,...,0,0,0,0,0,1,0,0,0,0
4,5,A,Wage/Salaries,0,Male,65,Married,Self-employed wihout any employee,Single Family,4,...,1,0,0,0,0,3,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41539,1784,Q,Enterpreneurial Activities,2,Male,62,Married,Employer in own family-operated farm or business,Extended Family,6,...,0,1,0,0,0,4,0,0,0,0
41540,1785,Q,Wage/Salaries,2,Male,55,Married,Worked for private establishment,Single Family,5,...,1,0,0,0,0,1,0,0,0,0
41541,1786,Q,Enterpreneurial Activities,2,Male,51,Married,Employer in own family-operated farm or business,Single Family,7,...,0,0,0,0,0,3,0,0,0,1
41542,1787,Q,Enterpreneurial Activities,2,Male,30,Married,Self-employed wihout any employee,Extended Family,12,...,0,0,0,0,0,4,0,0,0,0
41543,1788,Q,Other sources of Income,2,Female,42,Single,Self-employed wihout any employee,Extended Family,5,...,1,0,0,0,0,0,0,1,0,1

## 2) Faca um relatório no qual cada variável quantitativa deve ter
- Mínimo
- Primeiro Quartil
- Mediana
- Terceiro Quartil
- Máximo
- Média

In [6]:
demografico.dtypes

ID                                          int64
Region                                     object
Main Source of Income                      object
Agricultural Household indicator            int64
Household Head Sex                         object
Household Head Age                          int64
Household Head Marital Status              object
Household Head Class of Worker             object
Type of Household                          object
Total Number of Family members              int64
Members with age less than 5 year old       int64
Members with age 5 - 17 years old           int64
Total number of family members employed     int64
Type of Building/House                     object
Type of Walls                              object
House Floor Area                            int64
House Age                                   int64
Number of bedrooms                          int64
Electricity                                 int64
dtype: object

In [7]:
renda_gastos.dtypes

ID                                                int64
Region                                           object
Total Household Income                            int64
Total Food Expenditure                            int64
Bread and Cereals Expenditure                     int64
Total Rice Expenditure                            int64
Meat Expenditure                                  int64
Total Fish and  marine products Expenditure       int64
Fruit Expenditure                                 int64
Vegetables Expenditure                            int64
Restaurant and hotels Expenditure                 int64
Alcoholic Beverages Expenditure                   int64
Tobacco Expenditure                               int64
Clothing, Footwear and Other Wear Expenditure     int64
Housing and water Expenditure                     int64
Imputed House Rental Value                        int64
Medical Care Expenditure                          int64
Transportation Expenditure                        int64
Communication Expenditure                         int64
Education Expenditure                             int64
Miscellaneous Goods and Services Expenditure      int64
Special Occasions Expenditure                     int64
Crop Farming and Gardening expenses               int64
Total Income from Entrepreneurial Acitivites      int64
dtype: object

In [8]:
bens.dtypes

Number of Television                      int64
Number of CD/VCD/DVD                      int64
Number of Component/Stereo set            int64
Number of Refrigerator/Freezer            int64
Number of Washing Machine                 int64
Number of Airconditioner                  int64
Number of Car, Jeep, Van                  int64
Number of Landline/wireless telephones    int64
Number of Cellular phone                  int64
Number of Personal Computer               int64
Number of Stove with Oven/Gas Range       int64
Number of Motorized Banca                 int64
Number of Motorcycle/Tricycle             int64
dtype: object

In [18]:
df_completo = df_completo.loc[:, df_completo.columns != 'ID'].select_dtypes(include='int64')
stats = df_completo.describe()
stats.loc[~stats.index.isin(['count', 'std'])].T

,mean,min,25%,50%,75%,max
Agricultural Household indicator,0.429858,0.0,0.00,0.0,1.00,2.0
Household Head Age,51.381451,9.0,41.00,51.0,61.00,99.0
Total Number of Family members,4.635182,1.0,3.00,4.0,6.00,26.0
Members with age less than 5 year old,0.410216,0.0,0.00,0.0,1.00,5.0
Members with age 5 - 17 years old,1.362579,0.0,0.00,1.0,2.00,8.0
Total number of family members employed,1.272699,0.0,0.00,1.0,2.00,8.0
House Floor Area,55.603360,5.0,25.00,40.0,70.00,998.0
House Age,20.125505,0.0,10.00,17.0,26.00,200.0
Number of bedrooms,1.788008,0.0,1.00,2.0,2.00,9.0
Electricity,0.890815,0.0,1.00,1.0,1.00,1.0
Total Household Income,247555.584802,11285.0,104895.00,164079.5,291138.50,11815988.0
Total Food Expenditure,85099.158194,2947.0,51017.25,72985.5,105635.50,827565.0
Bread and Cereals Expenditure,25133.723642,0.0,16556.00,23324.0,31439.00,765864.0
Total Rice Expenditure,18195.825005,0.0,11020.00,16620.0,23920.00,758326.0
Meat Expenditure,10540.072574,0.0,3353.75,7332.5,14292.00,261566.0
Total Fish and marine products Expenditure,10529.318337,0.0,5504.00,8695.0,13388.00,188208.0
Fruit Expenditure,2550.474990,0.0,1024.75,1820.0,3100.00,273769.0
Vegetables Expenditure,5006.918568,0.0,2873.00,4314.0,6304.25,74800.0
Restaurant and hotels Expenditure,15436.566075,0.0,1930.00,7314.0,19921.25,725296.0
Alcoholic Beverages Expenditure,1085.068121,0.0,0.00,270.0,1299.25,59592.0
Tobacco Expenditure,2294.736183,0.0,0.00,300.0,3146.50,139370.0
"Clothing, Footwear and Other Wear Expenditure",4954.621076,0.0,1365.00,2740.0,5580.00,356750.0
Housing and water Expenditure,38375.467793,1950.0,13080.00,22992.0,45948.00,2188560.0
Imputed House Rental Value,20921.544627,0.0,6000.00,10800.0,24000.00,1920000.0
Medical Care Expenditure,7160.230936,0.0,300.00,1125.0,4680.00,1049275.0
Transportation Expenditure,11806.344454,0.0,2412.00,6036.0,13776.00,834996.0
Communication Expenditure,4095.492057,0.0,564.00,1506.0,3900.00,149940.0
Education Expenditure,7473.500481,0.0,0.00,880.0,4060.00,731000.0
Miscellaneous Goods and Services Expenditure,12522.071635,0.0,3792.00,6804.0,14154.00,553560.0
Special Occasions Expenditure,5265.726001,0.0,0.00,1500.0,5000.00,556700.0
Crop Farming and Gardening expenses,13816.859715,0.0,0.00,0.0,6312.75,3729973.0
Total Income from Entrepreneurial Acitivites,54376.239264,0.0,0.00,19222.0,65968.75,9234485.0
Number of Television,0.856875,0.0,0.00,1.0,1.00,6.0
Number of CD/VCD/DVD,0.435225,0.0,0.00,0.0,1.00,5.0
Number of Component/Stereo set,0.162141,0.0,0.00,0.0,0.00,5.0
Number of Refrigerator/Freezer,0.394184,0.0,0.00,0.0,1.00,5.0
Number of Washing Machine,0.319806,0.0,0.00,0.0,1.00,3.0
Number of Airconditioner,0.129814,0.0,0.00,0.0,0.00,5.0
"Number of Car, Jeep, Van",0.081215,0.0,0.00,0.0,0.00,5.0
Number of Landline/wireless telephones,0.060610,0.0,0.00,0.0,0.00,4.0
Number of Cellular phone,1.905738,0.0,1.00,2.0,3.00,10.0
Number of Personal Computer,0.315015,0.0,0.00,0.0,0.00,6.0
Number of Stove with Oven/Gas Range,0.135038,0.0,0.00,0.0,0.00,3.0
Number of Motorized Banca,0.013119,0.0,0.00,0.0,0.00,3.0
Number of Motorcycle/Tricycle,0.289885,0.0,0.00,0.0,0.00,5.0

## 3) Trate os dados Outliers como faltantes e crie novamente o relatório para observarmos a diferenca

In [19]:
quartil1 = stats.loc['25%']
quartil3 = stats.loc['75%']

iqr = quartil3 - quartil1

maximo = quartil3 + 1.5 * iqr
maximo.name = 'maximo'
minimo = quartil1 - 1.5 * iqr
minimo.name = 'minimo'

In [23]:
import numpy as np

def esta_no_range(row, minimo, maximo):
    return (row >= minimo) & (row <= maximo)


filtro = df_completo.apply(lambda row: esta_no_range(row, minimo, maximo), axis=1)
df_sem_outlier_completo = df_completo[filtro]

stats_outliers = df_sem_outlier_completo.describe()
# stats_outliers = stats_outliers.loc[~stats_outliers.index.isin(['count', 'std'])]
stats_outliers.T

,count,mean,std,min,25%,50%,75%,max
Agricultural Household indicator,41544.0,0.429858,0.676666,0.0,0.00,0.0,1.00,2.0
Household Head Age,41476.0,51.314278,14.067675,13.0,41.00,51.0,61.00,91.0
Total Number of Family members,40877.0,4.511094,2.067887,1.0,3.00,4.0,6.00,10.0
Members with age less than 5 year old,40955.0,0.370724,0.613618,0.0,0.00,0.0,1.00,2.0
Members with age 5 - 17 years old,41110.0,1.310314,1.318580,0.0,0.00,1.0,2.00,5.0
Total number of family members employed,41383.0,1.252930,1.106062,0.0,0.00,1.0,2.00,5.0
House Floor Area,38997.0,45.176834,28.071511,5.0,24.00,40.0,60.00,136.0
House Age,39961.0,18.441981,11.521568,0.0,10.00,16.0,25.00,50.0
Number of bedrooms,38928.0,1.610049,0.868207,0.0,1.00,2.0,2.00,3.0
Electricity,37008.0,1.000000,0.000000,1.0,1.00,1.0,1.00,1.0
Total Household Income,38393.0,189885.704556,120551.516456,11285.0,101150.00,153175.0,250795.00,570492.0
Total Food Expenditure,39695.0,77789.375916,37316.995001,2947.0,49957.50,70885.0,99962.50,187504.0
Bread and Cereals Expenditure,40520.0,24035.446224,10380.466363,0.0,16373.75,22989.5,30732.25,53758.0
Total Rice Expenditure,40545.0,17296.558959,9117.539107,0.0,10880.00,16290.0,23332.00,43260.0
Meat Expenditure,39420.0,8855.653907,7143.494113,0.0,3181.75,6810.0,12900.00,30696.0
Total Fish and marine products Expenditure,39666.0,9381.854687,5310.160214,0.0,5376.00,8374.0,12539.75,25200.0
Fruit Expenditure,38711.0,2011.625507,1350.383941,0.0,975.00,1691.0,2740.50,6212.0
Vegetables Expenditure,39828.0,4558.640780,2361.458774,0.0,2810.00,4185.0,5980.00,11450.0
Restaurant and hotels Expenditure,38451.0,10464.450001,11275.061923,0.0,1668.00,6204.0,15931.00,46900.0
Alcoholic Beverages Expenditure,37839.0,576.789979,797.736712,0.0,0.00,170.0,942.50,3248.0
Tobacco Expenditure,37931.0,1335.506815,2017.484244,0.0,0.00,0.0,2080.00,7864.0
"Clothing, Footwear and Other Wear Expenditure",37780.0,3235.638301,2648.092922,0.0,1260.00,2435.0,4515.00,11900.0
Housing and water Expenditure,38590.0,28434.724851,20944.863654,1950.0,12577.50,21102.0,39004.50,95250.0
Imputed House Rental Value,38165.0,13555.664876,11659.407904,0.0,5400.00,9000.0,18000.00,51000.0
Medical Care Expenditure,36131.0,1918.836262,2493.490102,0.0,245.00,800.0,2590.50,11250.0
Transportation Expenditure,38122.0,7680.944966,7067.026467,0.0,2220.00,5304.0,11124.00,30822.0
Communication Expenditure,36318.0,1880.531637,1963.042881,0.0,480.00,1200.0,2616.00,8904.0
Education Expenditure,34327.0,1303.191307,2030.443120,0.0,0.00,510.0,1600.00,10150.0
Miscellaneous Goods and Services Expenditure,37589.0,8265.863790,6482.916646,0.0,3564.00,6084.0,11100.00,29688.0
Special Occasions Expenditure,37343.0,2329.450125,2982.668813,0.0,0.00,1000.0,3500.00,12500.0
Crop Farming and Gardening expenses,33247.0,843.744789,2808.008389,0.0,0.00,0.0,0.00,15780.0
Total Income from Entrepreneurial Acitivites,38884.0,32419.743648,40373.838461,0.0,0.00,14828.5,54426.25,164918.0
Number of Television,40761.0,0.809573,0.546958,0.0,0.00,1.0,1.00,2.0
Number of CD/VCD/DVD,41356.0,0.422841,0.529547,0.0,0.00,0.0,1.00,2.0
Number of Component/Stereo set,35058.0,0.000000,0.000000,0.0,0.00,0.0,0.00,0.0
Number of Refrigerator/Freezer,41440.0,0.386559,0.514392,0.0,0.00,0.0,1.00,2.0
Number of Washing Machine,41533.0,0.319096,0.476553,0.0,0.00,0.0,1.00,2.0
Number of Airconditioner,37457.0,0.000000,0.000000,0.0,0.00,0.0,0.00,0.0
"Number of Car, Jeep, Van",38876.0,0.000000,0.000000,0.0,0.00,0.0,0.00,0.0
Number of Landline/wireless telephones,39302.0,0.000000,0.000000,0.0,0.00,0.0,0.00,0.0
Number of Cellular phone,41034.0,1.831481,1.412590,0.0,1.00,2.0,3.00,6.0
Number of Personal Computer,32988.0,0.000000,0.000000,0.0,0.00,0.0,0.00,0.0
Number of Stove with Oven/Gas Range,36101.0,0.000000,0.000000,0.0,0.00,0.0,0.00,0.0
Number of Motorized Banca,41055.0,0.000000,0.000000,0.0,0.00,0.0,0.00,0.0
Number of Motorcycle/Tricycle,31282.0,0.000000,0.000000,0.0,0.00,0.0,0.00,0.0

In [ ]:
# remover electricity