# Miniprojeto Pandas

1) Juntar as bases, observe as colunas coincidentes, caso não exista utilize o indice.  

2) Faca um relatório no qual cada variável quantitativa deve ter:
- Mínimo
- Primeiro Quartil
- Mediana
- Terceiro Quartil
- Máximo
- Média  
  
3) Trate os dados Outliers como faltantes e crie novamente o relatório para observarmos a diferenca:  
<img src="https://escoladedados.org/wp-content/uploads/2019/06/Captura-de-Tela-2019-06-13-a%CC%80s-14.46.46-1024x498.png" width=350>
  
4) Trate os dados Outliers inserindo no lugar a mediana e crie novamente o relatório para observarmos a diferenca:
  
5) Faca um relatório no qual cada variável qualitativa deve ter:
- Frequência Absoluta
- Frequência Acumulada
- Frequência Relativa
- Frequência Relativa Acumulada  
   
6) Separe os 10% com maior renda(Ordem decrescente) em um novo csv  
  
7) Criar os dummies para pelo menos 3 das variáveis qualitativas  
  
8) Compare a média das variáveis(Quantitativos + 3 Qualitativas) da populacão dos 10% com maior renda vs o restante

### Importando as bibliotecas a serem usadas

In [1]:
import numpy as np
import pandas as pd
import math

### Carregando as bases e conhecendo os datasets

In [2]:
df_demografico = pd.read_csv('1_demografico.csv', sep=';')
df_renda = pd.read_csv('2_renda_gastos.csv', sep=';')
df_bens = pd.read_csv('3_bens.csv', sep=';')

In [3]:
df_demografico.head()

,ID,Region,Main Source of Income,Agricultural Household indicator,Household Head Sex,Household Head Age,Household Head Marital Status,Household Head Class of Worker,Type of Household,Total Number of Family members,Members with age less than 5 year old,Members with age 5 - 17 years old,Total number of family members employed,Type of Building/House,Type of Walls,House Floor Area,House Age,Number of bedrooms,Electricity
0,1,A,Wage/Salaries,0,Female,49,Single,Worked for government/government corporation,Extended Family,4,0,1,1,Single house,Strong,80,75,3,1
1,2,A,Wage/Salaries,0,Male,40,Married,Worked for private establishment,Single Family,3,0,1,2,Single house,Strong,42,15,2,1
2,3,A,Wage/Salaries,1,Male,39,Married,Worked for private establishment,Single Family,6,0,4,3,Single house,Light,35,12,1,0
3,4,A,Wage/Salaries,0,Male,52,Married,Employer in own family-operated farm or business,Single Family,3,0,3,2,Single house,Light,30,15,1,1
4,5,A,Wage/Salaries,0,Male,65,Married,Self-employed wihout any employee,Single Family,4,0,0,2,Single house,Quite Strong,54,16,3,1

In [4]:
df_demografico.tail()

,ID,Region,Main Source of Income,Agricultural Household indicator,Household Head Sex,Household Head Age,Household Head Marital Status,Household Head Class of Worker,Type of Household,Total Number of Family members,Members with age less than 5 year old,Members with age 5 - 17 years old,Total number of family members employed,Type of Building/House,Type of Walls,House Floor Area,House Age,Number of bedrooms,Electricity
41539,1784,Q,Enterpreneurial Activities,2,Male,62,Married,Employer in own family-operated farm or business,Extended Family,6,0,2,0,Single house,Strong,25,18,2,1
41540,1785,Q,Wage/Salaries,2,Male,55,Married,Worked for private establishment,Single Family,5,1,1,2,Single house,Strong,40,19,2,1
41541,1786,Q,Enterpreneurial Activities,2,Male,51,Married,Employer in own family-operated farm or business,Single Family,7,0,3,0,Single house,Strong,40,22,2,1
41542,1787,Q,Enterpreneurial Activities,2,Male,30,Married,Self-employed wihout any employee,Extended Family,12,2,1,1,Single house,Strong,20,35,2,1
41543,1788,Q,Other sources of Income,2,Female,42,Single,Self-employed wihout any employee,Extended Family,5,0,1,0,Multi-unit residential,Strong,43,35,2,1

In [5]:
df_renda.head()

,ID,Region,Total Household Income,Total Food Expenditure,Bread and Cereals Expenditure,Total Rice Expenditure,Meat Expenditure,Total Fish and marine products Expenditure,Fruit Expenditure,Vegetables Expenditure,...,Housing and water Expenditure,Imputed House Rental Value,Medical Care Expenditure,Transportation Expenditure,Communication Expenditure,Education Expenditure,Miscellaneous Goods and Services Expenditure,Special Occasions Expenditure,Crop Farming and Gardening expenses,Total Income from Entrepreneurial Acitivites
0,1,A,480332,117848,42140,38300,24676,16806,3325,13460,...,63636,30000,3457,4776,2880,36200,34056,7200,19370,44370
1,2,A,198235,67766,17329,13008,17434,11073,2035,7833,...,41370,27000,3520,12900,5700,29300,9150,1500,0,0
2,3,A,82785,61609,34182,32001,7783,2590,1730,3795,...,14340,7200,70,324,420,425,6450,500,0,0
3,4,A,107589,78189,34030,28659,10914,10812,690,7887,...,16638,6600,60,6840,660,300,3762,500,15580,15580
4,5,A,189322,94625,34820,30167,18391,11309,1395,11260,...,31122,16800,140,6996,2100,0,8472,1000,18887,75687

In [6]:
df_bens.head()

,Number of Television,Number of CD/VCD/DVD,Number of Component/Stereo set,Number of Refrigerator/Freezer,Number of Washing Machine,Number of Airconditioner,"Number of Car, Jeep, Van",Number of Landline/wireless telephones,Number of Cellular phone,Number of Personal Computer,Number of Stove with Oven/Gas Range,Number of Motorized Banca,Number of Motorcycle/Tricycle
0,1,1,0,1,1,0,0,0,2,1,0,0,1
1,1,1,1,0,1,0,0,0,3,1,0,0,2
2,0,0,0,0,0,0,0,0,0,0,0,0,0
3,1,0,0,0,0,0,0,0,1,0,0,0,0
4,1,0,0,1,0,0,0,0,3,0,0,0,1

In [7]:
df_bens.tail()

,Number of Television,Number of CD/VCD/DVD,Number of Component/Stereo set,Number of Refrigerator/Freezer,Number of Washing Machine,Number of Airconditioner,"Number of Car, Jeep, Van",Number of Landline/wireless telephones,Number of Cellular phone,Number of Personal Computer,Number of Stove with Oven/Gas Range,Number of Motorized Banca,Number of Motorcycle/Tricycle
41539,1,0,0,0,1,0,0,0,4,0,0,0,0
41540,1,0,0,1,0,0,0,0,1,0,0,0,0
41541,1,1,0,0,0,0,0,0,3,0,0,0,1
41542,1,0,0,0,0,0,0,0,4,0,0,0,0
41543,1,0,0,1,0,0,0,0,0,0,1,0,1

In [8]:
df_demografico.dtypes

ID                                          int64
Region                                     object
Main Source of Income                      object
Agricultural Household indicator            int64
Household Head Sex                         object
Household Head Age                          int64
Household Head Marital Status              object
Household Head Class of Worker             object
Type of Household                          object
Total Number of Family members              int64
Members with age less than 5 year old       int64
Members with age 5 - 17 years old           int64
Total number of family members employed     int64
Type of Building/House                     object
Type of Walls                              object
House Floor Area                            int64
House Age                                   int64
Number of bedrooms                          int64
Electricity                                 int64
dtype: object

In [9]:
df_renda.dtypes

ID                                                int64
Region                                           object
Total Household Income                            int64
Total Food Expenditure                            int64
Bread and Cereals Expenditure                     int64
Total Rice Expenditure                            int64
Meat Expenditure                                  int64
Total Fish and  marine products Expenditure       int64
Fruit Expenditure                                 int64
Vegetables Expenditure                            int64
Restaurant and hotels Expenditure                 int64
Alcoholic Beverages Expenditure                   int64
Tobacco Expenditure                               int64
Clothing, Footwear and Other Wear Expenditure     int64
Housing and water Expenditure                     int64
Imputed House Rental Value                        int64
Medical Care Expenditure                          int64
Transportation Expenditure                        int64
Communication Expenditure                         int64
Education Expenditure                             int64
Miscellaneous Goods and Services Expenditure      int64
Special Occasions Expenditure                     int64
Crop Farming and Gardening expenses               int64
Total Income from Entrepreneurial Acitivites      int64
dtype: object

In [10]:
df_bens.dtypes

Number of Television                      int64
Number of CD/VCD/DVD                      int64
Number of Component/Stereo set            int64
Number of Refrigerator/Freezer            int64
Number of Washing Machine                 int64
Number of Airconditioner                  int64
Number of Car, Jeep, Van                  int64
Number of Landline/wireless telephones    int64
Number of Cellular phone                  int64
Number of Personal Computer               int64
Number of Stove with Oven/Gas Range       int64
Number of Motorized Banca                 int64
Number of Motorcycle/Tricycle             int64
dtype: object

In [11]:
df_demografico.shape

(41544, 19)

In [12]:
df_demografico.nunique()

ID                                         4162
Region                                       17
Main Source of Income                         3
Agricultural Household indicator              3
Household Head Sex                            2
Household Head Age                           89
Household Head Marital Status                 6
Household Head Class of Worker                7
Type of Household                             3
Total Number of Family members               21
Members with age less than 5 year old         6
Members with age 5 - 17 years old             9
Total number of family members employed       9
Type of Building/House                        6
Type of Walls                                 6
House Floor Area                            313
House Age                                   111
Number of bedrooms                           10
Electricity                                   2
dtype: int64

In [13]:
df_renda.shape

(41544, 24)

In [14]:
df_renda.nunique()

ID                                                4162
Region                                              17
Total Household Income                           38670
Total Food Expenditure                           35776
Bread and Cereals Expenditure                    26082
Total Rice Expenditure                           16145
Meat Expenditure                                 18619
Total Fish and  marine products Expenditure      18014
Fruit Expenditure                                 7140
Vegetables Expenditure                           10599
Restaurant and hotels Expenditure                12367
Alcoholic Beverages Expenditure                   4084
Tobacco Expenditure                               3118
Clothing, Footwear and Other Wear Expenditure     9819
Housing and water Expenditure                    13243
Imputed House Rental Value                         266
Medical Care Expenditure                         11887
Transportation Expenditure                        7435
Communication Expenditure                         3826
Education Expenditure                             6893
Miscellaneous Goods and Services Expenditure      7669
Special Occasions Expenditure                     3412
Crop Farming and Gardening expenses               9961
Total Income from Entrepreneurial Acitivites     20204
dtype: int64

##### df_demografico e df_renda têm o mesmo número de linhas e a mesma quantidade de valores únicos para as colunas 'ID' e 'Region'. O que indica que estas são as chaves para combinar os dois primeiros dataframes. Como df_bens não tem chaves para o merge, faremos a combinação deste dataframe através do index.

In [15]:
df_final =  (df_demografico
               .merge(df_renda, how='inner', on=['ID', 'Region'])
               .merge(df_bens, how='inner', right_index=True, left_index=True))

In [16]:
df_final.head()

,ID,Region,Main Source of Income,Agricultural Household indicator,Household Head Sex,Household Head Age,Household Head Marital Status,Household Head Class of Worker,Type of Household,Total Number of Family members,...,Number of Refrigerator/Freezer,Number of Washing Machine,Number of Airconditioner,"Number of Car, Jeep, Van",Number of Landline/wireless telephones,Number of Cellular phone,Number of Personal Computer,Number of Stove with Oven/Gas Range,Number of Motorized Banca,Number of Motorcycle/Tricycle
0,1,A,Wage/Salaries,0,Female,49,Single,Worked for government/government corporation,Extended Family,4,...,1,1,0,0,0,2,1,0,0,1
1,2,A,Wage/Salaries,0,Male,40,Married,Worked for private establishment,Single Family,3,...,0,1,0,0,0,3,1,0,0,2
2,3,A,Wage/Salaries,1,Male,39,Married,Worked for private establishment,Single Family,6,...,0,0,0,0,0,0,0,0,0,0
3,4,A,Wage/Salaries,0,Male,52,Married,Employer in own family-operated farm or business,Single Family,3,...,0,0,0,0,0,1,0,0,0,0
4,5,A,Wage/Salaries,0,Male,65,Married,Self-employed wihout any employee,Single Family,4,...,1,0,0,0,0,3,0,0,0,1

In [17]:
df_final.shape

(41544, 54)

In [18]:
df_final.nunique()

ID                                                4162
Region                                              17
Main Source of Income                                3
Agricultural Household indicator                     3
Household Head Sex                                   2
Household Head Age                                  89
Household Head Marital Status                        6
Household Head Class of Worker                       7
Type of Household                                    3
Total Number of Family members                      21
Members with age less than 5 year old                6
Members with age 5 - 17 years old                    9
Total number of family members employed              9
Type of Building/House                               6
Type of Walls                                        6
House Floor Area                                   313
House Age                                          111
Number of bedrooms                                  10
Electricity                                          2
Total Household Income                           38670
Total Food Expenditure                           35776
Bread and Cereals Expenditure                    26082
Total Rice Expenditure                           16145
Meat Expenditure                                 18619
Total Fish and  marine products Expenditure      18014
Fruit Expenditure                                 7140
Vegetables Expenditure                           10599
Restaurant and hotels Expenditure                12367
Alcoholic Beverages Expenditure                   4084
Tobacco Expenditure                               3118
Clothing, Footwear and Other Wear Expenditure     9819
Housing and water Expenditure                    13243
Imputed House Rental Value                         266
Medical Care Expenditure                         11887
Transportation Expenditure                        7435
Communication Expenditure                         3826
Education Expenditure                             6893
Miscellaneous Goods and Services Expenditure      7669
Special Occasions Expenditure                     3412
Crop Farming and Gardening expenses               9961
Total Income from Entrepreneurial Acitivites     20204
Number of Television                                 7
Number of CD/VCD/DVD                                 6
Number of Component/Stereo set                       6
Number of Refrigerator/Freezer                       6
Number of Washing Machine                            4
Number of Airconditioner                             6
Number of Car, Jeep, Van                             6
Number of Landline/wireless telephones               5
Number of Cellular phone                            11
Number of Personal Computer                          7
Number of Stove with Oven/Gas Range                  4
Number of Motorized Banca                            4
Number of Motorcycle/Tricycle                        6
dtype: int64

##### Checando os NaN

In [19]:
df_final.isna().sum()

ID                                                  0
Region                                              0
Main Source of Income                               0
Agricultural Household indicator                    0
Household Head Sex                                  0
Household Head Age                                  0
Household Head Marital Status                       0
Household Head Class of Worker                   7536
Type of Household                                   0
Total Number of Family members                      0
Members with age less than 5 year old               0
Members with age 5 - 17 years old                   0
Total number of family members employed             0
Type of Building/House                              0
Type of Walls                                       0
House Floor Area                                    0
House Age                                           0
Number of bedrooms                                  0
Electricity                                         0
Total Household Income                              0
Total Food Expenditure                              0
Bread and Cereals Expenditure                       0
Total Rice Expenditure                              0
Meat Expenditure                                    0
Total Fish and  marine products Expenditure         0
Fruit Expenditure                                   0
Vegetables Expenditure                              0
Restaurant and hotels Expenditure                   0
Alcoholic Beverages Expenditure                     0
Tobacco Expenditure                                 0
Clothing, Footwear and Other Wear Expenditure       0
Housing and water Expenditure                       0
Imputed House Rental Value                          0
Medical Care Expenditure                            0
Transportation Expenditure                          0
Communication Expenditure                           0
Education Expenditure                               0
Miscellaneous Goods and Services Expenditure        0
Special Occasions Expenditure                       0
Crop Farming and Gardening expenses                 0
Total Income from Entrepreneurial Acitivites        0
Number of Television                                0
Number of CD/VCD/DVD                                0
Number of Component/Stereo set                      0
Number of Refrigerator/Freezer                      0
Number of Washing Machine                           0
Number of Airconditioner                            0
Number of Car, Jeep, Van                            0
Number of Landline/wireless telephones              0
Number of Cellular phone                            0
Number of Personal Computer                         0
Number of Stove with Oven/Gas Range                 0
Number of Motorized Banca                           0
Number of Motorcycle/Tricycle                       0
dtype: int64

##### Obtendo os relatórios das variáveis numéricas, excluindo o ID

In [20]:
pd.set_option('display.max_columns', 50)
relatorio1 = df_final.iloc[:,1:].describe().T

In [21]:
relatorio1

,count,mean,std,min,25%,50%,75%,max
Agricultural Household indicator,41544.0,0.429858,0.676666,0.0,0.00,0.0,1.00,2.0
Household Head Age,41544.0,51.381451,14.166081,9.0,41.00,51.0,61.00,99.0
Total Number of Family members,41544.0,4.635182,2.280252,1.0,3.00,4.0,6.00,26.0
Members with age less than 5 year old,41544.0,0.410216,0.694390,0.0,0.00,0.0,1.00,5.0
Members with age 5 - 17 years old,41544.0,1.362579,1.408000,0.0,0.00,1.0,2.00,8.0
Total number of family members employed,41544.0,1.272699,1.149152,0.0,0.00,1.0,2.00,8.0
House Floor Area,41544.0,55.603360,55.023165,5.0,25.00,40.0,70.00,998.0
House Age,41544.0,20.125505,14.295452,0.0,10.00,17.0,26.00,200.0
Number of bedrooms,41544.0,1.788008,1.105664,0.0,1.00,2.0,2.00,9.0
Electricity,41544.0,0.890815,0.311875,0.0,1.00,1.0,1.00,1.0
Total Household Income,41544.0,247555.584802,286880.522653,11285.0,104895.00,164079.5,291138.50,11815988.0
Total Food Expenditure,41544.0,85099.158194,51637.947682,2947.0,51017.25,72985.5,105635.50,827565.0
Bread and Cereals Expenditure,41544.0,25133.723642,13466.482984,0.0,16556.00,23324.0,31439.00,765864.0
Total Rice Expenditure,41544.0,18195.825005,11727.224350,0.0,11020.00,16620.0,23920.00,758326.0
Meat Expenditure,41544.0,10540.072574,10497.727757,0.0,3353.75,7332.5,14292.00,261566.0
Total Fish and marine products Expenditure,41544.0,10529.318337,7812.201613,0.0,5504.00,8695.0,13388.00,188208.0
Fruit Expenditure,41544.0,2550.474990,2969.752879,0.0,1024.75,1820.0,3100.00,273769.0
Vegetables Expenditure,41544.0,5006.918568,3300.175236,0.0,2873.00,4314.0,6304.25,74800.0
Restaurant and hotels Expenditure,41544.0,15436.566075,23705.195929,0.0,1930.00,7314.0,19921.25,725296.0
Alcoholic Beverages Expenditure,41544.0,1085.068121,2174.431913,0.0,0.00,270.0,1299.25,59592.0
Tobacco Expenditure,41544.0,2294.736183,3998.977131,0.0,0.00,300.0,3146.50,139370.0
"Clothing, Footwear and Other Wear Expenditure",41544.0,4954.621076,7496.500945,0.0,1365.00,2740.0,5580.00,356750.0
Housing and water Expenditure,41544.0,38375.467793,53111.678174,1950.0,13080.00,22992.0,45948.00,2188560.0
Imputed House Rental Value,41544.0,20921.544627,39371.518255,0.0,6000.00,10800.0,24000.00,1920000.0
Medical Care Expenditure,41544.0,7160.230936,26902.002275,0.0,300.00,1125.0,4680.00,1049275.0
Transportation Expenditure,41544.0,11806.344454,19351.213715,0.0,2412.00,6036.0,13776.00,834996.0
Communication Expenditure,41544.0,4095.492057,7298.822614,0.0,564.00,1506.0,3900.00,149940.0
Education Expenditure,41544.0,7473.500481,21219.170907,0.0,0.00,880.0,4060.00,731000.0
Miscellaneous Goods and Services Expenditure,41544.0,12522.071635,17547.027921,0.0,3792.00,6804.0,14154.00,553560.0
Special Occasions Expenditure,41544.0,5265.726001,13279.593681,0.0,0.00,1500.0,5000.00,556700.0
Crop Farming and Gardening expenses,41544.0,13816.859715,47643.781777,0.0,0.00,0.0,6312.75,3729973.0
Total Income from Entrepreneurial Acitivites,41544.0,54376.239264,147142.789040,0.0,0.00,19222.0,65968.75,9234485.0
Number of Television,41544.0,0.856875,0.646306,0.0,0.00,1.0,1.00,6.0
Number of CD/VCD/DVD,41544.0,0.435225,0.560125,0.0,0.00,0.0,1.00,5.0
Number of Component/Stereo set,41544.0,0.162141,0.389108,0.0,0.00,0.0,0.00,5.0
Number of Refrigerator/Freezer,41544.0,0.394184,0.537025,0.0,0.00,0.0,1.00,5.0
Number of Washing Machine,41544.0,0.319806,0.478482,0.0,0.00,0.0,1.00,3.0
Number of Airconditioner,41544.0,0.129814,0.448673,0.0,0.00,0.0,0.00,5.0
"Number of Car, Jeep, Van",41544.0,0.081215,0.346786,0.0,0.00,0.0,0.00,5.0
Number of Landline/wireless telephones,41544.0,0.060610,0.276732,0.0,0.00,0.0,0.00,4.0
Number of Cellular phone,41544.0,1.905738,1.558130,0.0,1.00,2.0,3.00,10.0
Number of Personal Computer,41544.0,0.315015,0.739698,0.0,0.00,0.0,0.00,6.0
Number of Stove with Oven/Gas Range,41544.0,0.135038,0.354083,0.0,0.00,0.0,0.00,3.0
Number of Motorized Banca,41544.0,0.013119,0.127171,0.0,0.00,0.0,0.00,3.0
Number of Motorcycle/Tricycle,41544.0,0.289885,0.558408,0.0,0.00,0.0,0.00,5.0

##### Calculando as métricas para identificação dos outliers

In [22]:
relatorio1['IQR'] = relatorio1['75%'] - relatorio1['25%']
relatorio1['minimum'] = relatorio1['25%'] - 1.5* relatorio1['IQR']
relatorio1['maximum'] = relatorio1['75%'] + 1.5* relatorio1['IQR']

In [23]:
relatorio1

,count,mean,std,min,25%,50%,75%,max,IQR,minimum,maximum
Agricultural Household indicator,41544.0,0.429858,0.676666,0.0,0.00,0.0,1.00,2.0,1.00,-1.500,2.500
Household Head Age,41544.0,51.381451,14.166081,9.0,41.00,51.0,61.00,99.0,20.00,11.000,91.000
Total Number of Family members,41544.0,4.635182,2.280252,1.0,3.00,4.0,6.00,26.0,3.00,-1.500,10.500
Members with age less than 5 year old,41544.0,0.410216,0.694390,0.0,0.00,0.0,1.00,5.0,1.00,-1.500,2.500
Members with age 5 - 17 years old,41544.0,1.362579,1.408000,0.0,0.00,1.0,2.00,8.0,2.00,-3.000,5.000
Total number of family members employed,41544.0,1.272699,1.149152,0.0,0.00,1.0,2.00,8.0,2.00,-3.000,5.000
House Floor Area,41544.0,55.603360,55.023165,5.0,25.00,40.0,70.00,998.0,45.00,-42.500,137.500
House Age,41544.0,20.125505,14.295452,0.0,10.00,17.0,26.00,200.0,16.00,-14.000,50.000
Number of bedrooms,41544.0,1.788008,1.105664,0.0,1.00,2.0,2.00,9.0,1.00,-0.500,3.500
Electricity,41544.0,0.890815,0.311875,0.0,1.00,1.0,1.00,1.0,0.00,1.000,1.000
Total Household Income,41544.0,247555.584802,286880.522653,11285.0,104895.00,164079.5,291138.50,11815988.0,186243.50,-174470.250,570503.750
Total Food Expenditure,41544.0,85099.158194,51637.947682,2947.0,51017.25,72985.5,105635.50,827565.0,54618.25,-30910.125,187562.875
Bread and Cereals Expenditure,41544.0,25133.723642,13466.482984,0.0,16556.00,23324.0,31439.00,765864.0,14883.00,-5768.500,53763.500
Total Rice Expenditure,41544.0,18195.825005,11727.224350,0.0,11020.00,16620.0,23920.00,758326.0,12900.00,-8330.000,43270.000
Meat Expenditure,41544.0,10540.072574,10497.727757,0.0,3353.75,7332.5,14292.00,261566.0,10938.25,-13053.625,30699.375
Total Fish and marine products Expenditure,41544.0,10529.318337,7812.201613,0.0,5504.00,8695.0,13388.00,188208.0,7884.00,-6322.000,25214.000
Fruit Expenditure,41544.0,2550.474990,2969.752879,0.0,1024.75,1820.0,3100.00,273769.0,2075.25,-2088.125,6212.875
Vegetables Expenditure,41544.0,5006.918568,3300.175236,0.0,2873.00,4314.0,6304.25,74800.0,3431.25,-2273.875,11451.125
Restaurant and hotels Expenditure,41544.0,15436.566075,23705.195929,0.0,1930.00,7314.0,19921.25,725296.0,17991.25,-25056.875,46908.125
Alcoholic Beverages Expenditure,41544.0,1085.068121,2174.431913,0.0,0.00,270.0,1299.25,59592.0,1299.25,-1948.875,3248.125
Tobacco Expenditure,41544.0,2294.736183,3998.977131,0.0,0.00,300.0,3146.50,139370.0,3146.50,-4719.750,7866.250
"Clothing, Footwear and Other Wear Expenditure",41544.0,4954.621076,7496.500945,0.0,1365.00,2740.0,5580.00,356750.0,4215.00,-4957.500,11902.500
Housing and water Expenditure,41544.0,38375.467793,53111.678174,1950.0,13080.00,22992.0,45948.00,2188560.0,32868.00,-36222.000,95250.000
Imputed House Rental Value,41544.0,20921.544627,39371.518255,0.0,6000.00,10800.0,24000.00,1920000.0,18000.00,-21000.000,51000.000
Medical Care Expenditure,41544.0,7160.230936,26902.002275,0.0,300.00,1125.0,4680.00,1049275.0,4380.00,-6270.000,11250.000
Transportation Expenditure,41544.0,11806.344454,19351.213715,0.0,2412.00,6036.0,13776.00,834996.0,11364.00,-14634.000,30822.000
Communication Expenditure,41544.0,4095.492057,7298.822614,0.0,564.00,1506.0,3900.00,149940.0,3336.00,-4440.000,8904.000
Education Expenditure,41544.0,7473.500481,21219.170907,0.0,0.00,880.0,4060.00,731000.0,4060.00,-6090.000,10150.000
Miscellaneous Goods and Services Expenditure,41544.0,12522.071635,17547.027921,0.0,3792.00,6804.0,14154.00,553560.0,10362.00,-11751.000,29697.000
Special Occasions Expenditure,41544.0,5265.726001,13279.593681,0.0,0.00,1500.0,5000.00,556700.0,5000.00,-7500.000,12500.000
Crop Farming and Gardening expenses,41544.0,13816.859715,47643.781777,0.0,0.00,0.0,6312.75,3729973.0,6312.75,-9469.125,15781.875
Total Income from Entrepreneurial Acitivites,41544.0,54376.239264,147142.789040,0.0,0.00,19222.0,65968.75,9234485.0,65968.75,-98953.125,164921.875
Number of Television,41544.0,0.856875,0.646306,0.0,0.00,1.0,1.00,6.0,1.00,-1.500,2.500
Number of CD/VCD/DVD,41544.0,0.435225,0.560125,0.0,0.00,0.0,1.00,5.0,1.00,-1.500,2.500
Number of Component/Stereo set,41544.0,0.162141,0.389108,0.0,0.00,0.0,0.00,5.0,0.00,0.000,0.000
Number of Refrigerator/Freezer,41544.0,0.394184,0.537025,0.0,0.00,0.0,1.00,5.0,1.00,-1.500,2.500
Number of Washing Machine,41544.0,0.319806,0.478482,0.0,0.00,0.0,1.00,3.0,1.00,-1.500,2.500
Number of Airconditioner,41544.0,0.129814,0.448673,0.0,0.00,0.0,0.00,5.0,0.00,0.000,0.000
"Number of Car, Jeep, Van",41544.0,0.081215,0.346786,0.0,0.00,0.0,0.00,5.0,0.00,0.000,0.000
Number of Landline/wireless telephones,41544.0,0.060610,0.276732,0.0,0.00,0.0,0.00,4.0,0.00,0.000,0.000
Number of Cellular phone,41544.0,1.905738,1.558130,0.0,1.00,2.0,3.00,10.0,2.00,-2.000,6.000
Number of Personal Computer,41544.0,0.315015,0.739698,0.0,0.00,0.0,0.00,6.0,0.00,0.000,0.000
Number of Stove with Oven/Gas Range,41544.0,0.135038,0.354083,0.0,0.00,0.0,0.00,3.0,0.00,0.000,0.000
Number of Motorized Banca,41544.0,0.013119,0.127171,0.0,0.00,0.0,0.00,3.0,0.00,0.000,0.000
Number of Motorcycle/Tricycle,41544.0,0.289885,0.558408,0.0,0.00,0.0,0.00,5.0,0.00,0.000,0.000

##### Realizando uma cópia do dataframe final em que os outliers serão substituídos por NaN

In [43]:
df2= df_final.copy()

In [44]:
df2

,ID,Region,Main Source of Income,Agricultural Household indicator,Household Head Sex,Household Head Age,Household Head Marital Status,Household Head Class of Worker,Type of Household,Total Number of Family members,Members with age less than 5 year old,Members with age 5 - 17 years old,Total number of family members employed,Type of Building/House,Type of Walls,House Floor Area,House Age,Number of bedrooms,Electricity,Total Household Income,Total Food Expenditure,Bread and Cereals Expenditure,Total Rice Expenditure,Meat Expenditure,Total Fish and marine products Expenditure,...,Tobacco Expenditure,"Clothing, Footwear and Other Wear Expenditure",Housing and water Expenditure,Imputed House Rental Value,Medical Care Expenditure,Transportation Expenditure,Communication Expenditure,Education Expenditure,Miscellaneous Goods and Services Expenditure,Special Occasions Expenditure,Crop Farming and Gardening expenses,Total Income from Entrepreneurial Acitivites,Number of Television,Number of CD/VCD/DVD,Number of Component/Stereo set,Number of Refrigerator/Freezer,Number of Washing Machine,Number of Airconditioner,"Number of Car, Jeep, Van",Number of Landline/wireless telephones,Number of Cellular phone,Number of Personal Computer,Number of Stove with Oven/Gas Range,Number of Motorized Banca,Number of Motorcycle/Tricycle
0,1,A,Wage/Salaries,0,Female,49,Single,Worked for government/government corporation,Extended Family,4,0,1,1,Single house,Strong,80,75,3,1,480332,117848,42140,38300,24676,16806,...,0,4607,63636,30000,3457,4776,2880,36200,34056,7200,19370,44370,1,1,0,1,1,0,0,0,2,1,0,0,1
1,2,A,Wage/Salaries,0,Male,40,Married,Worked for private establishment,Single Family,3,0,1,2,Single house,Strong,42,15,2,1,198235,67766,17329,13008,17434,11073,...,2132,8230,41370,27000,3520,12900,5700,29300,9150,1500,0,0,1,1,1,0,1,0,0,0,3,1,0,0,2
2,3,A,Wage/Salaries,1,Male,39,Married,Worked for private establishment,Single Family,6,0,4,3,Single house,Light,35,12,1,0,82785,61609,34182,32001,7783,2590,...,4525,2735,14340,7200,70,324,420,425,6450,500,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,4,A,Wage/Salaries,0,Male,52,Married,Employer in own family-operated farm or business,Single Family,3,0,3,2,Single house,Light,30,15,1,1,107589,78189,34030,28659,10914,10812,...,0,1390,16638,6600,60,6840,660,300,3762,500,15580,15580,1,0,0,0,0,0,0,0,1,0,0,0,0
4,5,A,Wage/Salaries,0,Male,65,Married,Self-employed wihout any employee,Single Family,4,0,0,2,Single house,Quite Strong,54,16,3,1,189322,94625,34820,30167,18391,11309,...,0,4620,31122,16800,140,6996,2100,0,8472,1000,18887,75687,1,0,0,1,0,0,0,0,3,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41539,1784,Q,Enterpreneurial Activities,2,Male,62,Married,Employer in own family-operated farm or business,Extended Family,6,0,2,0,Single house,Strong,25,18,2,1,163444,80172,31579,24560,3770,13249,...,0,5000,18948,10800,8520,16440,3900,4610,4794,0,67544,127544,1,0,0,0,1,0,0,0,4,0,0,0,0
41540,1785,Q,Wage/Salaries,2,Male,55,Married,Worked for private establishment,Single Family,5,1,1,2,Single house,Strong,40,19,2,1,203560,82482,26199,20014,3153,16088,...,1170,2155,19260,8400,39706,22980,2040,1840,9390,0,0,48000,1,0,0,1,0,0,0,0,1,0,0,0,0
41541,1786,Q,Enterpreneurial Activities,2,Male,51,Married,Employer in own family-operated farm or business,Single Family,7,0,3,0,Single house,Strong,40,22,2,1,246510,109521,30913,16182,7120,22297,...,4810,3442,20448,15000,557,9912,3000,3440,7674,41000,0,115100,1,1,0,0,0,0,0,0,3,0,0,0,1
41542,1787,Q,Enterpreneurial Activities,2,Male,30,Married,Self-employed wihout any employee,Extended Family,12,2,1,1,Single house,Strong,20,35,2,1,285300,149327,43182,25360,6980,32613,...,7800,6945,26580,16200,2104,16200,4440,16260,9036,1000,0,195000,1,0,0,0,0,0,0,0,4,0,0,0,0
41543,1788,Q,Other sources of Income,2,Female,42,Single,Self-employed wihout any employee,Extended Family,5,0,1,0,Multi-unit residential,Strong,43,35,2,1,205590,83441,16297,10232,6826,8744,...,0,5090,29208,15000,1691,16050,6000,24000,9330,2600,0,72500,1,0,0,1,0,0,0,0,0,0,1,0,1

##### Substituindo os outliers identificados pelo critério do +- 1.5*IQR por NaN

In [45]:
for column in df2.columns:
    if df2[column].dtype=='object' or column =='ID':
        continue
    else:
        mask = (df2[column] < relatorio1['minimum'].loc[column]) | (df2[column] > relatorio1['maximum'].loc[column])
        df2.loc[mask, column] = np.nan

In [46]:
df2

,ID,Region,Main Source of Income,Agricultural Household indicator,Household Head Sex,Household Head Age,Household Head Marital Status,Household Head Class of Worker,Type of Household,Total Number of Family members,Members with age less than 5 year old,Members with age 5 - 17 years old,Total number of family members employed,Type of Building/House,Type of Walls,House Floor Area,House Age,Number of bedrooms,Electricity,Total Household Income,Total Food Expenditure,Bread and Cereals Expenditure,Total Rice Expenditure,Meat Expenditure,Total Fish and marine products Expenditure,...,Tobacco Expenditure,"Clothing, Footwear and Other Wear Expenditure",Housing and water Expenditure,Imputed House Rental Value,Medical Care Expenditure,Transportation Expenditure,Communication Expenditure,Education Expenditure,Miscellaneous Goods and Services Expenditure,Special Occasions Expenditure,Crop Farming and Gardening expenses,Total Income from Entrepreneurial Acitivites,Number of Television,Number of CD/VCD/DVD,Number of Component/Stereo set,Number of Refrigerator/Freezer,Number of Washing Machine,Number of Airconditioner,"Number of Car, Jeep, Van",Number of Landline/wireless telephones,Number of Cellular phone,Number of Personal Computer,Number of Stove with Oven/Gas Range,Number of Motorized Banca,Number of Motorcycle/Tricycle
0,1,A,Wage/Salaries,0.0,Female,49.0,Single,Worked for government/government corporation,Extended Family,4.0,0.0,1.0,1.0,Single house,Strong,80.0,NaN,3.0,1.0,480332.0,117848.0,42140.0,38300.0,24676.0,16806.0,...,0.0,4607.0,63636.0,30000.0,3457.0,4776.0,2880.0,NaN,NaN,7200.0,NaN,44370.0,1.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,2.0,NaN,0.0,0.0,NaN
1,2,A,Wage/Salaries,0.0,Male,40.0,Married,Worked for private establishment,Single Family,3.0,0.0,1.0,2.0,Single house,Strong,42.0,15.0,2.0,1.0,198235.0,67766.0,17329.0,13008.0,17434.0,11073.0,...,2132.0,8230.0,41370.0,27000.0,3520.0,12900.0,5700.0,NaN,9150.0,1500.0,0.0,0.0,1.0,1.0,NaN,0.0,1.0,0.0,0.0,0.0,3.0,NaN,0.0,0.0,NaN
2,3,A,Wage/Salaries,1.0,Male,39.0,Married,Worked for private establishment,Single Family,6.0,0.0,4.0,3.0,Single house,Light,35.0,12.0,1.0,NaN,82785.0,61609.0,34182.0,32001.0,7783.0,2590.0,...,4525.0,2735.0,14340.0,7200.0,70.0,324.0,420.0,425.0,6450.0,500.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,4,A,Wage/Salaries,0.0,Male,52.0,Married,Employer in own family-operated farm or business,Single Family,3.0,0.0,3.0,2.0,Single house,Light,30.0,15.0,1.0,1.0,107589.0,78189.0,34030.0,28659.0,10914.0,10812.0,...,0.0,1390.0,16638.0,6600.0,60.0,6840.0,660.0,300.0,3762.0,500.0,15580.0,15580.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
4,5,A,Wage/Salaries,0.0,Male,65.0,Married,Self-employed wihout any employee,Single Family,4.0,0.0,0.0,2.0,Single house,Quite Strong,54.0,16.0,3.0,1.0,189322.0,94625.0,34820.0,30167.0,18391.0,11309.0,...,0.0,4620.0,31122.0,16800.0,140.0,6996.0,2100.0,0.0,8472.0,1000.0,NaN,75687.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41539,1784,Q,Enterpreneurial Activities,2.0,Male,62.0,Married,Employer in own family-operated farm or business,Extended Family,6.0,0.0,2.0,0.0,Single house,Strong,25.0,18.0,2.0,1.0,163444.0,80172.0,31579.0,24560.0,3770.0,13249.0,...,0.0,5000.0,18948.0,10800.0,8520.0,16440.0,3900.0,4610.0,4794.0,0.0,NaN,127544.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0
41540,1785,Q,Wage/Salaries,2.0,Male,55.0,Married,Worked for private establishment,Single Family,5.0,1.0,1.0,2.0,Single house,Strong,40.0,19.0,2.0,1.0,203560.0,82482.0,26199.0,20014.0,3153.0,16088.0,...,1170.0,2155.0,19260.0,8400.0,NaN,22980.0,2040.0,1840.0,9390.0,0.0,0.0,48000.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
41541,1786,Q,Enterpreneurial Activities,2.0,Male,51.0,Married,Employer in own family-operated farm or business,Single Family,7.0,0.0,3.0,0.0,Single house,Strong,40.0,22.0,2.0,1.0,246510.0,109521.0,30913.0,16182.0,7120.0,22297.0,...,4810.0,3442.0,20448.0,15000.0,557.0,9912.0,3000.0,3440.0,7674.0,NaN,0.0,115100.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,NaN
41542,1787,Q,Enterpreneurial Activities,2.0,Male,30.0,Married,Self-employed wihout any employee,Extended Family,NaN,2.0,1.0,1.0,Single house,Strong,20.0,35.0,2.0,1.0,285300.0,149327.0,43182.0,25360.0,6980.0,NaN,...,7800.0,6945.0,26580.0,16200.0,2104.0,16200.0,4440.0,NaN,9036.0,1000.0,0.0,NaN,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0
41543,1788,Q,Other sources of Income,2.0,Female,42.0,Single,Self-employed wihout any employee,Extended Family,5.0,0.0,1.0,0.0,Multi-unit residential,Strong,43.0,35.0,2.0,1.0,205590.0,83441.0,16297.0,10232.0,6826.0,8744.0,...,0.0,5090.0,29208.0,15000.0,1691.0,16050.0,6000.0,NaN,9330.0,2600.0,0.0,72500.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,NaN

In [47]:
df2.isna().sum()

ID                                                   0
Region                                               0
Main Source of Income                                0
Agricultural Household indicator                     0
Household Head Sex                                   0
Household Head Age                                  68
Household Head Marital Status                        0
Household Head Class of Worker                    7536
Type of Household                                    0
Total Number of Family members                     667
Members with age less than 5 year old              589
Members with age 5 - 17 years old                  434
Total number of family members employed            161
Type of Building/House                               0
Type of Walls                                        0
House Floor Area                                  2547
House Age                                         1583
Number of bedrooms                                2616
Electricity                                       4536
Total Household Income                            3151
Total Food Expenditure                            1849
Bread and Cereals Expenditure                     1024
Total Rice Expenditure                             999
Meat Expenditure                                  2124
Total Fish and  marine products Expenditure       1878
Fruit Expenditure                                 2833
Vegetables Expenditure                            1716
Restaurant and hotels Expenditure                 3093
Alcoholic Beverages Expenditure                   3705
Tobacco Expenditure                               3613
Clothing, Footwear and Other Wear Expenditure     3764
Housing and water Expenditure                     2954
Imputed House Rental Value                        3379
Medical Care Expenditure                          5413
Transportation Expenditure                        3422
Communication Expenditure                         5226
Education Expenditure                             7217
Miscellaneous Goods and Services Expenditure      3955
Special Occasions Expenditure                     4201
Crop Farming and Gardening expenses               8297
Total Income from Entrepreneurial Acitivites      2660
Number of Television                               783
Number of CD/VCD/DVD                               188
Number of Component/Stereo set                    6486
Number of Refrigerator/Freezer                     104
Number of Washing Machine                           11
Number of Airconditioner                          4087
Number of Car, Jeep, Van                          2668
Number of Landline/wireless telephones            2242
Number of Cellular phone                           510
Number of Personal Computer                       8556
Number of Stove with Oven/Gas Range               5443
Number of Motorized Banca                          489
Number of Motorcycle/Tricycle                    10262
dtype: int64

##### Obtendo o relatório das medidas de posição e dispersão dos dados sem os outliers

In [56]:
relatorio2 = df2.iloc[:,1:].describe().T

In [57]:
relatorio2

,count,mean,std,min,25%,50%,75%,max
Agricultural Household indicator,41544.0,0.429858,0.676666,0.0,0.00,0.0,1.00,2.0
Household Head Age,41476.0,51.314278,14.067675,13.0,41.00,51.0,61.00,91.0
Total Number of Family members,40877.0,4.511094,2.067887,1.0,3.00,4.0,6.00,10.0
Members with age less than 5 year old,40955.0,0.370724,0.613618,0.0,0.00,0.0,1.00,2.0
Members with age 5 - 17 years old,41110.0,1.310314,1.318580,0.0,0.00,1.0,2.00,5.0
Total number of family members employed,41383.0,1.252930,1.106062,0.0,0.00,1.0,2.00,5.0
House Floor Area,38997.0,45.176834,28.071511,5.0,24.00,40.0,60.00,136.0
House Age,39961.0,18.441981,11.521568,0.0,10.00,16.0,25.00,50.0
Number of bedrooms,38928.0,1.610049,0.868207,0.0,1.00,2.0,2.00,3.0
Electricity,37008.0,1.000000,0.000000,1.0,1.00,1.0,1.00,1.0
Total Household Income,38393.0,189885.704556,120551.516456,11285.0,101150.00,153175.0,250795.00,570492.0
Total Food Expenditure,39695.0,77789.375916,37316.995001,2947.0,49957.50,70885.0,99962.50,187504.0
Bread and Cereals Expenditure,40520.0,24035.446224,10380.466363,0.0,16373.75,22989.5,30732.25,53758.0
Total Rice Expenditure,40545.0,17296.558959,9117.539107,0.0,10880.00,16290.0,23332.00,43260.0
Meat Expenditure,39420.0,8855.653907,7143.494113,0.0,3181.75,6810.0,12900.00,30696.0
Total Fish and marine products Expenditure,39666.0,9381.854687,5310.160214,0.0,5376.00,8374.0,12539.75,25200.0
Fruit Expenditure,38711.0,2011.625507,1350.383941,0.0,975.00,1691.0,2740.50,6212.0
Vegetables Expenditure,39828.0,4558.640780,2361.458774,0.0,2810.00,4185.0,5980.00,11450.0
Restaurant and hotels Expenditure,38451.0,10464.450001,11275.061923,0.0,1668.00,6204.0,15931.00,46900.0
Alcoholic Beverages Expenditure,37839.0,576.789979,797.736712,0.0,0.00,170.0,942.50,3248.0
Tobacco Expenditure,37931.0,1335.506815,2017.484244,0.0,0.00,0.0,2080.00,7864.0
"Clothing, Footwear and Other Wear Expenditure",37780.0,3235.638301,2648.092922,0.0,1260.00,2435.0,4515.00,11900.0
Housing and water Expenditure,38590.0,28434.724851,20944.863654,1950.0,12577.50,21102.0,39004.50,95250.0
Imputed House Rental Value,38165.0,13555.664876,11659.407904,0.0,5400.00,9000.0,18000.00,51000.0
Medical Care Expenditure,36131.0,1918.836262,2493.490102,0.0,245.00,800.0,2590.50,11250.0
Transportation Expenditure,38122.0,7680.944966,7067.026467,0.0,2220.00,5304.0,11124.00,30822.0
Communication Expenditure,36318.0,1880.531637,1963.042881,0.0,480.00,1200.0,2616.00,8904.0
Education Expenditure,34327.0,1303.191307,2030.443120,0.0,0.00,510.0,1600.00,10150.0
Miscellaneous Goods and Services Expenditure,37589.0,8265.863790,6482.916646,0.0,3564.00,6084.0,11100.00,29688.0
Special Occasions Expenditure,37343.0,2329.450125,2982.668813,0.0,0.00,1000.0,3500.00,12500.0
Crop Farming and Gardening expenses,33247.0,843.744789,2808.008389,0.0,0.00,0.0,0.00,15780.0
Total Income from Entrepreneurial Acitivites,38884.0,32419.743648,40373.838461,0.0,0.00,14828.5,54426.25,164918.0
Number of Television,40761.0,0.809573,0.546958,0.0,0.00,1.0,1.00,2.0
Number of CD/VCD/DVD,41356.0,0.422841,0.529547,0.0,0.00,0.0,1.00,2.0
Number of Component/Stereo set,35058.0,0.000000,0.000000,0.0,0.00,0.0,0.00,0.0
Number of Refrigerator/Freezer,41440.0,0.386559,0.514392,0.0,0.00,0.0,1.00,2.0
Number of Washing Machine,41533.0,0.319096,0.476553,0.0,0.00,0.0,1.00,2.0
Number of Airconditioner,37457.0,0.000000,0.000000,0.0,0.00,0.0,0.00,0.0
"Number of Car, Jeep, Van",38876.0,0.000000,0.000000,0.0,0.00,0.0,0.00,0.0
Number of Landline/wireless telephones,39302.0,0.000000,0.000000,0.0,0.00,0.0,0.00,0.0
Number of Cellular phone,41034.0,1.831481,1.412590,0.0,1.00,2.0,3.00,6.0
Number of Personal Computer,32988.0,0.000000,0.000000,0.0,0.00,0.0,0.00,0.0
Number of Stove with Oven/Gas Range,36101.0,0.000000,0.000000,0.0,0.00,0.0,0.00,0.0
Number of Motorized Banca,41055.0,0.000000,0.000000,0.0,0.00,0.0,0.00,0.0
Number of Motorcycle/Tricycle,31282.0,0.000000,0.000000,0.0,0.00,0.0,0.00,0.0

##### Fazendo uma cópia do dataframe final em que os outliers serão substituídos pela mediana dos dados

In [52]:
df3= df_final.copy()

for column in df3.columns:
    if df3[column].dtype=='object' or column =='ID':
        continue
    else:
        mask = (df3[column] < relatorio1['minimum'].loc[column]) | (df3[column] > relatorio1['maximum'].loc[column])
        df3.loc[mask, column] = relatorio1['50%'].loc[column]

df3 = df3.drop(df3.tail(4).index)

##### Obtendo o relatório com as medidas de posição e dispersão após a substituição dos outliers pela mediana de cada coluna

In [58]:
relatorio3 = df3.iloc[:,1:].describe().T

In [59]:
relatorio3

,count,mean,std,min,25%,50%,75%,max
Agricultural Household indicator,41540.0,0.429706,0.676524,0.0,0.00,0.0,1.00,2.0
Household Head Age,41540.0,51.314420,14.056364,13.0,41.00,51.0,61.00,91.0
Total Number of Family members,41540.0,4.502817,2.052283,1.0,3.00,4.0,6.00,10.0
Members with age less than 5 year old,41540.0,0.365431,0.610791,0.0,0.00,0.0,1.00,2.0
Members with age 5 - 17 years old,41540.0,1.307053,1.312088,0.0,0.00,1.0,2.00,5.0
Total number of family members employed,41540.0,1.251998,1.104040,0.0,0.00,1.0,2.00,5.0
House Floor Area,41540.0,44.860327,27.226724,5.0,25.00,40.0,60.00,136.0
House Age,41540.0,18.386134,11.303235,0.0,10.00,17.0,25.00,50.0
Number of bedrooms,41540.0,1.634569,0.845781,0.0,1.00,2.0,2.00,3.0
Electricity,41540.0,1.000000,0.000000,1.0,1.00,1.0,1.00,1.0
Total Household Income,41540.0,187923.817995,116094.930051,11285.0,104893.75,164071.0,238775.00,570492.0
Total Food Expenditure,41540.0,77572.814047,36490.241308,2947.0,51014.75,72982.5,98093.25,187504.0
Bread and Cereals Expenditure,41540.0,24017.416129,10252.257754,0.0,16556.00,23322.0,30509.25,53758.0
Total Rice Expenditure,41540.0,17280.225686,9008.110370,0.0,11020.00,16620.0,23130.00,43260.0
Meat Expenditure,41540.0,8778.045932,6966.829428,0.0,3353.75,7332.5,12447.00,30696.0
Total Fish and marine products Expenditure,41540.0,9350.361916,5190.462136,0.0,5504.00,8694.0,12285.00,25200.0
Fruit Expenditure,41540.0,1998.495017,1304.444438,0.0,1023.75,1820.0,2640.00,6212.0
Vegetables Expenditure,41540.0,4548.167814,2312.455753,0.0,2873.00,4314.0,5885.00,11450.0
Restaurant and hotels Expenditure,41540.0,10229.581343,10878.955835,0.0,1930.00,7312.0,14820.00,46900.0
Alcoholic Beverages Expenditure,41540.0,549.482571,766.355730,0.0,0.00,270.0,840.00,3248.0
Tobacco Expenditure,41540.0,1245.239023,1949.458156,0.0,0.00,300.0,1810.00,7864.0
"Clothing, Footwear and Other Wear Expenditure",41540.0,3190.614901,2529.316554,0.0,1365.00,2740.0,4203.25,11900.0
Housing and water Expenditure,41540.0,28048.119981,20235.767664,1950.0,13080.00,22992.0,37081.50,95250.0
Imputed House Rental Value,41540.0,13331.500963,11201.036395,0.0,6000.00,10800.0,18000.00,51000.0
Medical Care Expenditure,41540.0,1815.445859,2340.779677,0.0,300.00,1125.0,2150.00,11250.0
Transportation Expenditure,41540.0,7544.608426,6784.430058,0.0,2412.00,6036.0,10404.00,30822.0
Communication Expenditure,41540.0,1833.221570,1839.540533,0.0,564.00,1506.0,2340.00,8904.0
Education Expenditure,41540.0,1229.623688,1852.672284,0.0,0.00,880.0,1290.00,10150.0
Miscellaneous Goods and Services Expenditure,41540.0,8126.623592,6181.802335,0.0,3792.00,6804.0,10321.50,29688.0
Special Occasions Expenditure,41540.0,2245.668175,2838.982044,0.0,0.00,1500.0,3000.00,12500.0
Crop Farming and Gardening expenses,41540.0,675.300506,2534.658057,0.0,0.00,0.0,0.00,15780.0
Total Income from Entrepreneurial Acitivites,41540.0,31571.617959,39192.384755,0.0,0.00,19203.0,51023.50,164918.0
Number of Television,41540.0,0.813144,0.542421,0.0,0.00,1.0,1.00,2.0
Number of CD/VCD/DVD,41540.0,0.420944,0.529115,0.0,0.00,0.0,1.00,2.0
Number of Component/Stereo set,41540.0,0.000000,0.000000,0.0,0.00,0.0,0.00,0.0
Number of Refrigerator/Freezer,41540.0,0.385580,0.514111,0.0,0.00,0.0,1.00,2.0
Number of Washing Machine,41540.0,0.319042,0.476531,0.0,0.00,0.0,1.00,2.0
Number of Airconditioner,41540.0,0.000000,0.000000,0.0,0.00,0.0,0.00,0.0
"Number of Car, Jeep, Van",41540.0,0.000000,0.000000,0.0,0.00,0.0,0.00,0.0
Number of Landline/wireless telephones,41540.0,0.000000,0.000000,0.0,0.00,0.0,0.00,0.0
Number of Cellular phone,41540.0,1.833534,1.403996,0.0,1.00,2.0,3.00,6.0
Number of Personal Computer,41540.0,0.000000,0.000000,0.0,0.00,0.0,0.00,0.0
Number of Stove with Oven/Gas Range,41540.0,0.000000,0.000000,0.0,0.00,0.0,0.00,0.0
Number of Motorized Banca,41540.0,0.000000,0.000000,0.0,0.00,0.0,0.00,0.0
Number of Motorcycle/Tricycle,41540.0,0.000000,0.000000,0.0,0.00,0.0,0.00,0.0

In [55]:
relatorio1

,count,mean,std,min,25%,50%,75%,max,IQR,minimum,maximum
Agricultural Household indicator,41544.0,0.429858,0.676666,0.0,0.00,0.0,1.00,2.0,1.00,-1.500,2.500
Household Head Age,41544.0,51.381451,14.166081,9.0,41.00,51.0,61.00,99.0,20.00,11.000,91.000
Total Number of Family members,41544.0,4.635182,2.280252,1.0,3.00,4.0,6.00,26.0,3.00,-1.500,10.500
Members with age less than 5 year old,41544.0,0.410216,0.694390,0.0,0.00,0.0,1.00,5.0,1.00,-1.500,2.500
Members with age 5 - 17 years old,41544.0,1.362579,1.408000,0.0,0.00,1.0,2.00,8.0,2.00,-3.000,5.000
Total number of family members employed,41544.0,1.272699,1.149152,0.0,0.00,1.0,2.00,8.0,2.00,-3.000,5.000
House Floor Area,41544.0,55.603360,55.023165,5.0,25.00,40.0,70.00,998.0,45.00,-42.500,137.500
House Age,41544.0,20.125505,14.295452,0.0,10.00,17.0,26.00,200.0,16.00,-14.000,50.000
Number of bedrooms,41544.0,1.788008,1.105664,0.0,1.00,2.0,2.00,9.0,1.00,-0.500,3.500
Electricity,41544.0,0.890815,0.311875,0.0,1.00,1.0,1.00,1.0,0.00,1.000,1.000
Total Household Income,41544.0,247555.584802,286880.522653,11285.0,104895.00,164079.5,291138.50,11815988.0,186243.50,-174470.250,570503.750
Total Food Expenditure,41544.0,85099.158194,51637.947682,2947.0,51017.25,72985.5,105635.50,827565.0,54618.25,-30910.125,187562.875
Bread and Cereals Expenditure,41544.0,25133.723642,13466.482984,0.0,16556.00,23324.0,31439.00,765864.0,14883.00,-5768.500,53763.500
Total Rice Expenditure,41544.0,18195.825005,11727.224350,0.0,11020.00,16620.0,23920.00,758326.0,12900.00,-8330.000,43270.000
Meat Expenditure,41544.0,10540.072574,10497.727757,0.0,3353.75,7332.5,14292.00,261566.0,10938.25,-13053.625,30699.375
Total Fish and marine products Expenditure,41544.0,10529.318337,7812.201613,0.0,5504.00,8695.0,13388.00,188208.0,7884.00,-6322.000,25214.000
Fruit Expenditure,41544.0,2550.474990,2969.752879,0.0,1024.75,1820.0,3100.00,273769.0,2075.25,-2088.125,6212.875
Vegetables Expenditure,41544.0,5006.918568,3300.175236,0.0,2873.00,4314.0,6304.25,74800.0,3431.25,-2273.875,11451.125
Restaurant and hotels Expenditure,41544.0,15436.566075,23705.195929,0.0,1930.00,7314.0,19921.25,725296.0,17991.25,-25056.875,46908.125
Alcoholic Beverages Expenditure,41544.0,1085.068121,2174.431913,0.0,0.00,270.0,1299.25,59592.0,1299.25,-1948.875,3248.125
Tobacco Expenditure,41544.0,2294.736183,3998.977131,0.0,0.00,300.0,3146.50,139370.0,3146.50,-4719.750,7866.250
"Clothing, Footwear and Other Wear Expenditure",41544.0,4954.621076,7496.500945,0.0,1365.00,2740.0,5580.00,356750.0,4215.00,-4957.500,11902.500
Housing and water Expenditure,41544.0,38375.467793,53111.678174,1950.0,13080.00,22992.0,45948.00,2188560.0,32868.00,-36222.000,95250.000
Imputed House Rental Value,41544.0,20921.544627,39371.518255,0.0,6000.00,10800.0,24000.00,1920000.0,18000.00,-21000.000,51000.000
Medical Care Expenditure,41544.0,7160.230936,26902.002275,0.0,300.00,1125.0,4680.00,1049275.0,4380.00,-6270.000,11250.000
Transportation Expenditure,41544.0,11806.344454,19351.213715,0.0,2412.00,6036.0,13776.00,834996.0,11364.00,-14634.000,30822.000
Communication Expenditure,41544.0,4095.492057,7298.822614,0.0,564.00,1506.0,3900.00,149940.0,3336.00,-4440.000,8904.000
Education Expenditure,41544.0,7473.500481,21219.170907,0.0,0.00,880.0,4060.00,731000.0,4060.00,-6090.000,10150.000
Miscellaneous Goods and Services Expenditure,41544.0,12522.071635,17547.027921,0.0,3792.00,6804.0,14154.00,553560.0,10362.00,-11751.000,29697.000
Special Occasions Expenditure,41544.0,5265.726001,13279.593681,0.0,0.00,1500.0,5000.00,556700.0,5000.00,-7500.000,12500.000
Crop Farming and Gardening expenses,41544.0,13816.859715,47643.781777,0.0,0.00,0.0,6312.75,3729973.0,6312.75,-9469.125,15781.875
Total Income from Entrepreneurial Acitivites,41544.0,54376.239264,147142.789040,0.0,0.00,19222.0,65968.75,9234485.0,65968.75,-98953.125,164921.875
Number of Television,41544.0,0.856875,0.646306,0.0,0.00,1.0,1.00,6.0,1.00,-1.500,2.500
Number of CD/VCD/DVD,41544.0,0.435225,0.560125,0.0,0.00,0.0,1.00,5.0,1.00,-1.500,2.500
Number of Component/Stereo set,41544.0,0.162141,0.389108,0.0,0.00,0.0,0.00,5.0,0.00,0.000,0.000
Number of Refrigerator/Freezer,41544.0,0.394184,0.537025,0.0,0.00,0.0,1.00,5.0,1.00,-1.500,2.500
Number of Washing Machine,41544.0,0.319806,0.478482,0.0,0.00,0.0,1.00,3.0,1.00,-1.500,2.500
Number of Airconditioner,41544.0,0.129814,0.448673,0.0,0.00,0.0,0.00,5.0,0.00,0.000,0.000
"Number of Car, Jeep, Van",41544.0,0.081215,0.346786,0.0,0.00,0.0,0.00,5.0,0.00,0.000,0.000
Number of Landline/wireless telephones,41544.0,0.060610,0.276732,0.0,0.00,0.0,0.00,4.0,0.00,0.000,0.000
Number of Cellular phone,41544.0,1.905738,1.558130,0.0,1.00,2.0,3.00,10.0,2.00,-2.000,6.000
Number of Personal Computer,41544.0,0.315015,0.739698,0.0,0.00,0.0,0.00,6.0,0.00,0.000,0.000
Number of Stove with Oven/Gas Range,41544.0,0.135038,0.354083,0.0,0.00,0.0,0.00,3.0,0.00,0.000,0.000
Number of Motorized Banca,41544.0,0.013119,0.127171,0.0,0.00,0.0,0.00,3.0,0.00,0.000,0.000
Number of Motorcycle/Tricycle,41544.0,0.289885,0.558408,0.0,0.00,0.0,0.00,5.0,0.00,0.000,0.000

##### Obtendo as colunas qualitativas do dataframe final

In [60]:
object_columns = df_final.select_dtypes(include=['object']).columns

##### Exibindo relatório com as frequências (absoluta, acumulada, relativa e relativa acumulada) para cada variável qualitativa

In [61]:
for column in object_columns:
    display(pd.concat(
        [pd.crosstab(index=df_final[column], columns='Frequency'),
         pd.crosstab(index=df_final[column], columns='Cumulative Frequency').cumsum(),
         (pd.crosstab(index=df_final[column], columns='% Frequency', normalize='columns')*100).round(2),
         (pd.crosstab(index=df_final[column], columns='Cumulative % Frequency', normalize='columns')*100).cumsum().round(2)],
         axis=1))

col_0   Frequency  Cumulative Frequency  % Frequency  Cumulative % Frequency
Region
A            1725                  1725         4.15                    4.15
B            1782                  3507         4.29                    8.44
C            2851                  6358         6.86                   15.30
D            2472                  8830         5.95                   21.25
E            2248                 11078         5.41                   26.67
F            3237                 14315         7.79                   34.46
G            2219                 16534         5.34                   39.80
H            4162                 20696        10.02                   49.82
I            2541                 23237         6.12                   55.93
J            1887                 25124         4.54                   60.48
K            2446                 27570         5.89                   66.36
L            2337                 29907         5.63                   71.99
M            2348                 32255         5.65                   77.64
N            4130                 36385         9.94                   87.58
O            1249                 37634         3.01                   90.59
P            2122                 39756         5.11                   95.70
Q            1788                 41544         4.30                  100.00

col_0,Frequency,Cumulative Frequency,% Frequency,Cumulative % Frequency
Main Source of Income,,,,
Enterpreneurial Activities,10320,10320,24.84,24.84
Other sources of Income,10836,21156,26.08,50.92
Wage/Salaries,20388,41544,49.08,100.00

col_0,Frequency,Cumulative Frequency,% Frequency,Cumulative % Frequency
Household Head Sex,,,,
Female,9061,9061,21.81,21.81
Male,32483,41544,78.19,100.00

col_0,Frequency,Cumulative Frequency,% Frequency,Cumulative % Frequency
Household Head Marital Status,,,,
Annulled,11,11,0.03,0.03
Divorced/Separated,1425,1436,3.43,3.46
Married,31347,32783,75.45,78.91
Single,1942,34725,4.67,83.59
Unknown,1,34726,0.00,83.59
Widowed,6818,41544,16.41,100.00

col_0,Frequency,Cumulative Frequency,% Frequency,Cumulative % Frequency
Household Head Class of Worker,,,,
Employer in own family-operated farm or business,2581,2581,7.59,7.59
Self-employed wihout any employee,13766,16347,40.48,48.07
Worked for government/government corporation,2820,19167,8.29,56.36
Worked for private establishment,13731,32898,40.38,96.74
Worked for private household,811,33709,2.38,99.12
Worked with pay in own family-operated farm or business,14,33723,0.04,99.16
Worked without pay in own family-operated farm or business,285,34008,0.84,100.00

col_0,Frequency,Cumulative Frequency,% Frequency,Cumulative % Frequency
Type of Household,,,,
Extended Family,12932,12932,31.13,31.13
Single Family,28445,41377,68.47,99.60
Two or More Nonrelated Persons/Members,167,41544,0.40,100.00

col_0,Frequency,Cumulative Frequency,% Frequency,Cumulative % Frequency
Type of Building/House,,,,
Commercial/industrial/agricultural building,51,51,0.12,0.12
Duplex,1084,1135,2.61,2.73
Institutional living quarter,9,1144,0.02,2.75
Multi-unit residential,1329,2473,3.20,5.95
Other building unit,2,2475,0.00,5.96
Single house,39069,41544,94.04,100.00

col_0,Frequency,Cumulative Frequency,% Frequency,Cumulative % Frequency
Type of Walls,,,,
Light,8267,8267,19.90,19.90
NOt applicable,12,8279,0.03,19.93
Quite Strong,3487,11766,8.39,28.32
Salvaged,456,12222,1.10,29.42
Strong,27739,39961,66.77,96.19
Very Light,1583,41544,3.81,100.00

##### Criando e aplicando máscara dos 10% mais ricos

In [63]:
quantil_90_renda = df_final['Total Household Income'].quantile(0.90)

In [64]:
mais_ricos = df_final['Total Household Income'] > quantil_90_renda

In [65]:
df_final[mais_ricos]

,ID,Region,Main Source of Income,Agricultural Household indicator,Household Head Sex,Household Head Age,Household Head Marital Status,Household Head Class of Worker,Type of Household,Total Number of Family members,Members with age less than 5 year old,Members with age 5 - 17 years old,Total number of family members employed,Type of Building/House,Type of Walls,House Floor Area,House Age,Number of bedrooms,Electricity,Total Household Income,Total Food Expenditure,Bread and Cereals Expenditure,Total Rice Expenditure,Meat Expenditure,Total Fish and marine products Expenditure,...,Tobacco Expenditure,"Clothing, Footwear and Other Wear Expenditure",Housing and water Expenditure,Imputed House Rental Value,Medical Care Expenditure,Transportation Expenditure,Communication Expenditure,Education Expenditure,Miscellaneous Goods and Services Expenditure,Special Occasions Expenditure,Crop Farming and Gardening expenses,Total Income from Entrepreneurial Acitivites,Number of Television,Number of CD/VCD/DVD,Number of Component/Stereo set,Number of Refrigerator/Freezer,Number of Washing Machine,Number of Airconditioner,"Number of Car, Jeep, Van",Number of Landline/wireless telephones,Number of Cellular phone,Number of Personal Computer,Number of Stove with Oven/Gas Range,Number of Motorized Banca,Number of Motorcycle/Tricycle
9,10,A,Enterpreneurial Activities,0,Male,53,Married,Self-employed wihout any employee,Extended Family,6,0,0,1,Single house,Strong,70,12,3,1,625753,158721,56003,43239,26488,25678,...,0,7740,65730,27000,1786,5160,7200,13180,15210,4000,0,312974,1,0,1,1,0,0,1,0,4,1,0,0,0
44,45,A,Wage/Salaries,0,Male,54,Married,Worked for government/government corporation,Single Family,2,0,0,2,Duplex,Strong,200,20,8,1,824148,99064,20355,16226,29084,15827,...,3620,13420,50550,15000,2590,27660,13494,82000,70746,5000,0,0,1,1,1,1,1,1,0,1,2,2,0,0,0
47,48,A,Enterpreneurial Activities,0,Male,29,Married,Employer in own family-operated farm or business,Single Family,5,1,2,0,Single house,Quite Strong,35,19,1,1,559202,98107,36213,30861,16505,8884,...,0,22830,47580,21000,508,4560,1620,6000,4686,2500,0,535932,1,0,0,0,1,0,0,0,2,0,0,0,0
49,50,A,Wage/Salaries,0,Male,49,Married,Worked for government/government corporation,Single Family,6,0,1,2,Duplex,Strong,209,19,4,1,977025,131485,46235,36272,30450,14452,...,0,19520,94272,60000,1315,87120,3900,17000,43458,9000,0,139582,1,1,0,1,1,2,0,0,5,1,0,0,1
51,52,A,Enterpreneurial Activities,0,Male,75,Married,Self-employed wihout any employee,Extended Family,10,1,3,1,Duplex,Strong,102,17,4,1,677321,229370,98241,82536,46818,19718,...,0,18235,71280,24000,4500,5058,3480,22500,33114,2000,0,290690,2,2,0,2,1,2,0,0,5,3,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41298,1543,Q,Enterpreneurial Activities,2,Male,42,Married,Self-employed wihout any employee,Single Family,4,0,1,0,Single house,Strong,42,16,2,1,675792,109955,37321,19780,13818,19221,...,0,3280,17958,6000,1221,4392,1128,3100,12246,4200,0,669792,1,0,0,1,1,0,0,0,4,0,0,0,0
41323,1568,Q,Enterpreneurial Activities,2,Male,51,Married,Worked for private establishment,Single Family,5,0,2,1,Single house,Strong,72,21,3,1,610070,148416,39080,34230,17408,18842,...,0,7630,49290,21000,211,12468,2016,3810,13764,3000,0,307500,1,1,0,1,1,1,1,0,2,2,1,0,2
41435,1680,Q,Other sources of Income,2,Male,52,Married,Employer in own family-operated farm or business,Single Family,3,0,1,1,Single house,Strong,48,12,6,1,947640,95015,33979,22202,12050,16912,...,5200,8800,25422,15000,1498,13344,1458,29740,36510,22000,245920,245920,2,0,0,1,0,0,0,0,3,0,1,0,1
41464,1709,Q,Wage/Salaries,2,Male,55,Married,Worked for government/government corporation,Single Family,3,0,1,2,Single house,Strong,56,15,4,1,577503,93508,22798,17964,12480,19234,...,2890,22066,30960,18000,479,8172,1764,12685,59994,14500,0,0,1,1,0,1,1,1,0,0,3,1,1,0,1
41473,1718,Q,Wage/Salaries,2,Male,46,Married,Worked for government/government corporation,Extended Family,3,0,0,2,Single house,Strong,56,35,2,1,579188,83129,15309,10265,14528,21597,...,780,14070,30996,9600,5040,26940,4920,0,73788,120000,0,0,1,0,0,0,0,0,0,0,3,0,0,0,0

##### Salvando df dos mais ricos em um novo csv

In [53]:
df_final[mais_ricos].to_csv('mais_ricos.csv', index=False)

##### Criando dummies para as variáveis 'Main Source of Income', 'Household Head Sex' e 'Household Head Class of Worker'

In [66]:
df_dummies=pd.get_dummies(df_final, dummy_na=True, columns=['Main Source of Income','Household Head Sex','Household Head Class of Worker'])

In [67]:
df_dummies.head()

,ID,Region,Agricultural Household indicator,Household Head Age,Household Head Marital Status,Type of Household,Total Number of Family members,Members with age less than 5 year old,Members with age 5 - 17 years old,Total number of family members employed,Type of Building/House,Type of Walls,House Floor Area,House Age,Number of bedrooms,Electricity,Total Household Income,Total Food Expenditure,Bread and Cereals Expenditure,Total Rice Expenditure,Meat Expenditure,Total Fish and marine products Expenditure,Fruit Expenditure,Vegetables Expenditure,Restaurant and hotels Expenditure,...,Number of Refrigerator/Freezer,Number of Washing Machine,Number of Airconditioner,"Number of Car, Jeep, Van",Number of Landline/wireless telephones,Number of Cellular phone,Number of Personal Computer,Number of Stove with Oven/Gas Range,Number of Motorized Banca,Number of Motorcycle/Tricycle,Main Source of Income_Enterpreneurial Activities,Main Source of Income_Other sources of Income,Main Source of Income_Wage/Salaries,Main Source of Income_nan,Household Head Sex_Female,Household Head Sex_Male,Household Head Sex_nan,Household Head Class of Worker_Employer in own family-operated farm or business,Household Head Class of Worker_Self-employed wihout any employee,Household Head Class of Worker_Worked for government/government corporation,Household Head Class of Worker_Worked for private establishment,Household Head Class of Worker_Worked for private household,Household Head Class of Worker_Worked with pay in own family-operated farm or business,Household Head Class of Worker_Worked without pay in own family-operated farm or business,Household Head Class of Worker_nan
0,1,A,0,49,Single,Extended Family,4,0,1,1,Single house,Strong,80,75,3,1,480332,117848,42140,38300,24676,16806,3325,13460,3000,...,1,1,0,0,0,2,1,0,0,1,0,0,1,0,1,0,0,0,0,1,0,0,0,0,0
1,2,A,0,40,Married,Single Family,3,0,1,2,Single house,Strong,42,15,2,1,198235,67766,17329,13008,17434,11073,2035,7833,2360,...,0,1,0,0,0,3,1,0,0,2,0,0,1,0,0,1,0,0,0,0,1,0,0,0,0
2,3,A,1,39,Married,Single Family,6,0,4,3,Single house,Light,35,12,1,0,82785,61609,34182,32001,7783,2590,1730,3795,4545,...,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,1,0,0,0,0
3,4,A,0,52,Married,Single Family,3,0,3,2,Single house,Light,30,15,1,1,107589,78189,34030,28659,10914,10812,690,7887,6280,...,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,1,0,1,0,0,0,0,0,0,0
4,5,A,0,65,Married,Single Family,4,0,0,2,Single house,Quite Strong,54,16,3,1,189322,94625,34820,30167,18391,11309,1395,11260,6400,...,1,0,0,0,0,3,0,0,0,1,0,0,1,0,0,1,0,0,1,0,0,0,0,0,0

In [68]:
df_dummies.dtypes

ID                                                                                            int64
Region                                                                                       object
Agricultural Household indicator                                                              int64
Household Head Age                                                                            int64
Household Head Marital Status                                                                object
                                                                                              ...
Household Head Class of Worker_Worked for private establishment                               uint8
Household Head Class of Worker_Worked for private household                                   uint8
Household Head Class of Worker_Worked with pay in own family-operated farm or business        uint8
Household Head Class of Worker_Worked without pay in own family-operated farm or business     uint8
Household Head Class of Worker_nan                                                            uint8
Length: 66, dtype: object

##### Excluindo demais variáveis categóricas do dataframe

In [69]:
df_final2 = df_dummies.copy().select_dtypes(exclude=['object'])

In [70]:
df_final2.head()

,ID,Agricultural Household indicator,Household Head Age,Total Number of Family members,Members with age less than 5 year old,Members with age 5 - 17 years old,Total number of family members employed,House Floor Area,House Age,Number of bedrooms,Electricity,Total Household Income,Total Food Expenditure,Bread and Cereals Expenditure,Total Rice Expenditure,Meat Expenditure,Total Fish and marine products Expenditure,Fruit Expenditure,Vegetables Expenditure,Restaurant and hotels Expenditure,Alcoholic Beverages Expenditure,Tobacco Expenditure,"Clothing, Footwear and Other Wear Expenditure",Housing and water Expenditure,Imputed House Rental Value,...,Number of Refrigerator/Freezer,Number of Washing Machine,Number of Airconditioner,"Number of Car, Jeep, Van",Number of Landline/wireless telephones,Number of Cellular phone,Number of Personal Computer,Number of Stove with Oven/Gas Range,Number of Motorized Banca,Number of Motorcycle/Tricycle,Main Source of Income_Enterpreneurial Activities,Main Source of Income_Other sources of Income,Main Source of Income_Wage/Salaries,Main Source of Income_nan,Household Head Sex_Female,Household Head Sex_Male,Household Head Sex_nan,Household Head Class of Worker_Employer in own family-operated farm or business,Household Head Class of Worker_Self-employed wihout any employee,Household Head Class of Worker_Worked for government/government corporation,Household Head Class of Worker_Worked for private establishment,Household Head Class of Worker_Worked for private household,Household Head Class of Worker_Worked with pay in own family-operated farm or business,Household Head Class of Worker_Worked without pay in own family-operated farm or business,Household Head Class of Worker_nan
0,1,0,49,4,0,1,1,80,75,3,1,480332,117848,42140,38300,24676,16806,3325,13460,3000,0,0,4607,63636,30000,...,1,1,0,0,0,2,1,0,0,1,0,0,1,0,1,0,0,0,0,1,0,0,0,0,0
1,2,0,40,3,0,1,2,42,15,2,1,198235,67766,17329,13008,17434,11073,2035,7833,2360,960,2132,8230,41370,27000,...,0,1,0,0,0,3,1,0,0,2,0,0,1,0,0,1,0,0,0,0,1,0,0,0,0
2,3,1,39,6,0,4,3,35,12,1,0,82785,61609,34182,32001,7783,2590,1730,3795,4545,270,4525,2735,14340,7200,...,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,1,0,0,0,0
3,4,0,52,3,0,3,2,30,15,1,1,107589,78189,34030,28659,10914,10812,690,7887,6280,480,0,1390,16638,6600,...,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,1,0,1,0,0,0,0,0,0,0
4,5,0,65,4,0,0,2,54,16,3,1,189322,94625,34820,30167,18391,11309,1395,11260,6400,1040,0,4620,31122,16800,...,1,0,0,0,0,3,0,0,0,1,0,0,1,0,0,1,0,0,1,0,0,0,0,0,0

In [71]:
df_final2 = df_final2.iloc[:,1:]

In [72]:
quantil_90_renda_2 = df_final2['Total Household Income'].quantile(0.90)

In [73]:
mais_ricos_2 = df_final2['Total Household Income'] > quantil_90_renda_2

In [74]:
df_final2['mais ricos'] = df_final2['Total Household Income'] > quantil_90_renda_2

In [75]:
df_final2.head()

,Agricultural Household indicator,Household Head Age,Total Number of Family members,Members with age less than 5 year old,Members with age 5 - 17 years old,Total number of family members employed,House Floor Area,House Age,Number of bedrooms,Electricity,Total Household Income,Total Food Expenditure,Bread and Cereals Expenditure,Total Rice Expenditure,Meat Expenditure,Total Fish and marine products Expenditure,Fruit Expenditure,Vegetables Expenditure,Restaurant and hotels Expenditure,Alcoholic Beverages Expenditure,Tobacco Expenditure,"Clothing, Footwear and Other Wear Expenditure",Housing and water Expenditure,Imputed House Rental Value,Medical Care Expenditure,...,Number of Washing Machine,Number of Airconditioner,"Number of Car, Jeep, Van",Number of Landline/wireless telephones,Number of Cellular phone,Number of Personal Computer,Number of Stove with Oven/Gas Range,Number of Motorized Banca,Number of Motorcycle/Tricycle,Main Source of Income_Enterpreneurial Activities,Main Source of Income_Other sources of Income,Main Source of Income_Wage/Salaries,Main Source of Income_nan,Household Head Sex_Female,Household Head Sex_Male,Household Head Sex_nan,Household Head Class of Worker_Employer in own family-operated farm or business,Household Head Class of Worker_Self-employed wihout any employee,Household Head Class of Worker_Worked for government/government corporation,Household Head Class of Worker_Worked for private establishment,Household Head Class of Worker_Worked for private household,Household Head Class of Worker_Worked with pay in own family-operated farm or business,Household Head Class of Worker_Worked without pay in own family-operated farm or business,Household Head Class of Worker_nan,mais ricos
0,0,49,4,0,1,1,80,75,3,1,480332,117848,42140,38300,24676,16806,3325,13460,3000,0,0,4607,63636,30000,3457,...,1,0,0,0,2,1,0,0,1,0,0,1,0,1,0,0,0,0,1,0,0,0,0,0,False
1,0,40,3,0,1,2,42,15,2,1,198235,67766,17329,13008,17434,11073,2035,7833,2360,960,2132,8230,41370,27000,3520,...,1,0,0,0,3,1,0,0,2,0,0,1,0,0,1,0,0,0,0,1,0,0,0,0,False
2,1,39,6,0,4,3,35,12,1,0,82785,61609,34182,32001,7783,2590,1730,3795,4545,270,4525,2735,14340,7200,70,...,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,1,0,0,0,0,False
3,0,52,3,0,3,2,30,15,1,1,107589,78189,34030,28659,10914,10812,690,7887,6280,480,0,1390,16638,6600,60,...,0,0,0,0,1,0,0,0,0,0,0,1,0,0,1,0,1,0,0,0,0,0,0,0,False
4,0,65,4,0,0,2,54,16,3,1,189322,94625,34820,30167,18391,11309,1395,11260,6400,1040,0,4620,31122,16800,140,...,0,0,0,0,3,0,0,0,1,0,0,1,0,0,1,0,0,1,0,0,0,0,0,0,False

##### Comparando os mais ricos (True) com o restante do Dataframe (False)

In [76]:
df_final2.groupby('mais ricos').mean().T

mais ricos,False,True
Agricultural Household indicator,0.424109,0.481588
Household Head Age,51.031828,54.527557
Total Number of Family members,4.565032,5.266426
Members with age less than 5 year old,0.413731,0.378580
Members with age 5 - 17 years old,1.393244,1.086643
Total number of family members employed,1.204739,1.884236
House Floor Area,50.145818,104.713357
House Age,19.699965,23.954753
Number of bedrooms,1.662922,2.913598
Electricity,0.879109,0.996149
Total Household Income,180641.755436,849683.422623
Total Food Expenditure,75554.997593,170982.821420
Bread and Cereals Expenditure,24216.389981,33388.401925
Total Rice Expenditure,17790.318917,21844.794224
Meat Expenditure,8854.452700,25708.217329
Total Fish and marine products Expenditure,9720.298617,17809.327557
Fruit Expenditure,2162.568830,6041.070277
Vegetables Expenditure,4667.145952,8064.381468
Restaurant and hotels Expenditure,11979.981893,46540.832250
Alcoholic Beverages Expenditure,1003.213993,1821.637064
Tobacco Expenditure,2248.284763,2712.731889
"Clothing, Footwear and Other Wear Expenditure",3691.859049,16317.655836
Housing and water Expenditure,28986.691968,122860.892419
Imputed House Rental Value,15173.782556,72643.103249
Medical Care Expenditure,4859.618872,27862.417329
Transportation Expenditure,8465.822836,41866.215162
Communication Expenditure,2592.915670,17616.509747
Education Expenditure,4775.162026,31754.650060
Miscellaneous Goods and Services Expenditure,9102.184546,43296.116968
Special Occasions Expenditure,3788.006767,18563.065223
Crop Farming and Gardening expenses,12810.465832,22872.951384
Total Income from Entrepreneurial Acitivites,41348.329348,171608.615644
Number of Television,0.774185,1.600963
Number of CD/VCD/DVD,0.382920,0.905897
Number of Component/Stereo set,0.125117,0.495307
Number of Refrigerator/Freezer,0.322608,1.038267
Number of Washing Machine,0.258819,0.868592
Number of Airconditioner,0.058172,0.774489
"Number of Car, Jeep, Van",0.028324,0.557160
Number of Landline/wireless telephones,0.030357,0.332852
Number of Cellular phone,1.692423,3.825271
Number of Personal Computer,0.185937,1.476534
Number of Stove with Oven/Gas Range,0.094654,0.498436
Number of Motorized Banca,0.013052,0.013718
Number of Motorcycle/Tricycle,0.252614,0.625271
Main Source of Income_Enterpreneurial Activities,0.258044,0.161733
Main Source of Income_Other sources of Income,0.260023,0.268111
Main Source of Income_Wage/Salaries,0.481933,0.570156
Main Source of Income_nan,0.000000,0.000000
Household Head Sex_Female,0.212924,0.264741
Household Head Sex_Male,0.787076,0.735259
Household Head Sex_nan,0.000000,0.000000
Household Head Class of Worker_Employer in own family-operated farm or business,0.056193,0.115523
Household Head Class of Worker_Self-employed wihout any employee,0.347856,0.182912
Household Head Class of Worker_Worked for government/government corporation,0.052930,0.202407
Household Head Class of Worker_Worked for private establishment,0.342801,0.219976
Household Head Class of Worker_Worked for private household,0.020487,0.010830
Household Head Class of Worker_Worked with pay in own family-operated farm or business,0.000294,0.000722
Household Head Class of Worker_Worked without pay in own family-operated farm or business,0.006660,0.008664
Household Head Class of Worker_nan,0.172778,0.258965