# Miniprojeto Pandas
  
Você vai receber 3 bases para carregar, manipular e gerar novas bases.  
- 1_demografico.csv  
- 2_renda_gastos.csv  
- 3_bens.csv 
  
As bases tem dados demográficos, renda/gastos e bens de famílias da Filipinas.

```
Renda familiar total
Região
Despesa Total de Alimentos
Principal fonte de renda
Indicador Agrícola Doméstico
Despesas com Pão e Cereais
Despesa total de arroz
Gastos com carne
Despesas totais com peixes e produtos marinhos
Despesas com frutas
Gastos com vegetais
Despesas com restaurantes e hotéis
Despesas com bebidas alcoólicas
Despesas com tabaco
Despesas com roupas, calçados e outras despesas
Despesas com habitação e água
Valor imputado do aluguel da casa
Despesas com cuidados médicos
Despesas de transporte
Despesas de comunicação
Despesas com educação
Despesas com bens e serviços diversos
Despesas para ocasiões especiais
Despesas de cultivo agrícola e jardinagem
Renda total de atividades empreendedoras
Sexo Chefe da Família
Idade do chefe da família
Estado civil do chefe da família
Nível mais alto de chefe de família concluído
Indicador de emprego ou negócio de chefe de família
Ocupação do chefe da família
Chefe de família da classe de trabalhador
Tipo de família
Número total de membros da família
Membros com idade inferior a 5 anos
Membros com idade de 5 a 17 anos
Número total de membros da família empregados
Tipo de construção / casa
Tipo de telhado
Tipo de paredes
Área do piso da casa
House Age
Numero de quartos
Status de posse
Instalações sanitárias
Eletricidade
Fonte Principal de Abastecimento de Água
Número de televisão
Número de CD / VCD / DVD
Número de conjunto de componente / estéreo
Número de geladeira / freezer
Número da máquina de lavar
Número do ar condicionado
Número de carro, jipe, van
Número de telefones fixos / sem fio
Número de telefone celular
Número do computador pessoal
Número de fogão com forno / fogão a gás
Número de banco motorizado
Número de motocicleta / triciclo
```
  
#### Você deve:  
1) Juntar as bases, observe as colunas coincidentes, caso não exista utilize o indice.  

2) Faca um relatório no qual cada variável quantitativa deve ter:
- Mínimo
- Primeiro Quartil
- Mediana
- Terceiro Quartil
- Máximo
- Média  
  
3) Trate os dados Outliers como faltantes e crie novamente o relatório para observarmos a diferenca:  
<img src="https://escoladedados.org/wp-content/uploads/2019/06/Captura-de-Tela-2019-06-13-a%CC%80s-14.46.46-1024x498.png" width=350>
  
4) Trate os dados Outliers inserindo no lugar a mediana e crie novamente o relatório para observarmos a diferenca:
  
5) Faca um relatório no qual cada variável qualitativa deve ter:
- Frequência Absoluta
- Frequência Acumulada
- Frequência Relativa
- Frequência Relativa Acumulada  
  
**Exemplo:**  
<img src="http://umolharmatematico.weebly.com/uploads/2/5/7/9/25795733/8634702_orig.png " width=450>
   
6) Separe os 10% com maior renda(Ordem decrescente) em um novo csv  
  
7) Criar os dummies para pelo menos 3 das variáveis qualitativas  
  
8) Compare a média das variáveis(Quantitativos + 3 Qualitativas) da populacão dos 10% com maior renda vs o restante

In [1]:
import pandas as pd
from IPython.display import display
import df_manipulation as manip

## 1) Juntar as bases, observe as colunas coincidentes, caso não exista utilize o indice

In [2]:
# Le os arquivos
demografico = pd.read_csv('1_demografico.csv', sep=';')
display(demografico)

renda_gastos = pd.read_csv('2_renda_gastos.csv', sep=';')
display(renda_gastos)

bens = pd.read_csv('3_bens.csv', sep=';')
display(bens)

,ID,Region,Main Source of Income,Agricultural Household indicator,Household Head Sex,Household Head Age,Household Head Marital Status,Household Head Class of Worker,Type of Household,Total Number of Family members,Members with age less than 5 year old,Members with age 5 - 17 years old,Total number of family members employed,Type of Building/House,Type of Walls,House Floor Area,House Age,Number of bedrooms,Electricity
0,1,A,Wage/Salaries,0,Female,49,Single,Worked for government/government corporation,Extended Family,4,0,1,1,Single house,Strong,80,75,3,1
1,2,A,Wage/Salaries,0,Male,40,Married,Worked for private establishment,Single Family,3,0,1,2,Single house,Strong,42,15,2,1
2,3,A,Wage/Salaries,1,Male,39,Married,Worked for private establishment,Single Family,6,0,4,3,Single house,Light,35,12,1,0
3,4,A,Wage/Salaries,0,Male,52,Married,Employer in own family-operated farm or business,Single Family,3,0,3,2,Single house,Light,30,15,1,1
4,5,A,Wage/Salaries,0,Male,65,Married,Self-employed wihout any employee,Single Family,4,0,0,2,Single house,Quite Strong,54,16,3,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41539,1784,Q,Enterpreneurial Activities,2,Male,62,Married,Employer in own family-operated farm or business,Extended Family,6,0,2,0,Single house,Strong,25,18,2,1
41540,1785,Q,Wage/Salaries,2,Male,55,Married,Worked for private establishment,Single Family,5,1,1,2,Single house,Strong,40,19,2,1
41541,1786,Q,Enterpreneurial Activities,2,Male,51,Married,Employer in own family-operated farm or business,Single Family,7,0,3,0,Single house,Strong,40,22,2,1
41542,1787,Q,Enterpreneurial Activities,2,Male,30,Married,Self-employed wihout any employee,Extended Family,12,2,1,1,Single house,Strong,20,35,2,1
41543,1788,Q,Other sources of Income,2,Female,42,Single,Self-employed wihout any employee,Extended Family,5,0,1,0,Multi-unit residential,Strong,43,35,2,1

,ID,Region,Total Household Income,Total Food Expenditure,Bread and Cereals Expenditure,Total Rice Expenditure,Meat Expenditure,Total Fish and marine products Expenditure,Fruit Expenditure,Vegetables Expenditure,...,Housing and water Expenditure,Imputed House Rental Value,Medical Care Expenditure,Transportation Expenditure,Communication Expenditure,Education Expenditure,Miscellaneous Goods and Services Expenditure,Special Occasions Expenditure,Crop Farming and Gardening expenses,Total Income from Entrepreneurial Acitivites
0,1,A,480332,117848,42140,38300,24676,16806,3325,13460,...,63636,30000,3457,4776,2880,36200,34056,7200,19370,44370
1,2,A,198235,67766,17329,13008,17434,11073,2035,7833,...,41370,27000,3520,12900,5700,29300,9150,1500,0,0
2,3,A,82785,61609,34182,32001,7783,2590,1730,3795,...,14340,7200,70,324,420,425,6450,500,0,0
3,4,A,107589,78189,34030,28659,10914,10812,690,7887,...,16638,6600,60,6840,660,300,3762,500,15580,15580
4,5,A,189322,94625,34820,30167,18391,11309,1395,11260,...,31122,16800,140,6996,2100,0,8472,1000,18887,75687
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41539,1784,Q,163444,80172,31579,24560,3770,13249,5064,7690,...,18948,10800,8520,16440,3900,4610,4794,0,67544,127544
41540,1785,Q,203560,82482,26199,20014,3153,16088,1884,7484,...,19260,8400,39706,22980,2040,1840,9390,0,0,48000
41541,1786,Q,246510,109521,30913,16182,7120,22297,7007,10623,...,20448,15000,557,9912,3000,3440,7674,41000,0,115100
41542,1787,Q,285300,149327,43182,25360,6980,32613,3340,7344,...,26580,16200,2104,16200,4440,16260,9036,1000,0,195000
41543,1788,Q,205590,83441,16297,10232,6826,8744,3568,8027,...,29208,15000,1691,16050,6000,24000,9330,2600,0,72500

,Number of Television,Number of CD/VCD/DVD,Number of Component/Stereo set,Number of Refrigerator/Freezer,Number of Washing Machine,Number of Airconditioner,"Number of Car, Jeep, Van",Number of Landline/wireless telephones,Number of Cellular phone,Number of Personal Computer,Number of Stove with Oven/Gas Range,Number of Motorized Banca,Number of Motorcycle/Tricycle
0,1,1,0,1,1,0,0,0,2,1,0,0,1
1,1,1,1,0,1,0,0,0,3,1,0,0,2
2,0,0,0,0,0,0,0,0,0,0,0,0,0
3,1,0,0,0,0,0,0,0,1,0,0,0,0
4,1,0,0,1,0,0,0,0,3,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
41539,1,0,0,0,1,0,0,0,4,0,0,0,0
41540,1,0,0,1,0,0,0,0,1,0,0,0,0
41541,1,1,0,0,0,0,0,0,3,0,0,0,1
41542,1,0,0,0,0,0,0,0,4,0,0,0,0
41543,1,0,0,1,0,0,0,0,0,0,1,0,1

In [3]:
# Merge os dataframes
df_merged = (demografico
               .merge(renda_gastos, how='inner', on=['ID', 'Region'])  # Baseado nas colunas passadas
               .merge(bens, how='inner', right_index=True, left_index=True))  # Baseado nos indices
display(df_merged)

,ID,Region,Main Source of Income,Agricultural Household indicator,Household Head Sex,Household Head Age,Household Head Marital Status,Household Head Class of Worker,Type of Household,Total Number of Family members,...,Number of Refrigerator/Freezer,Number of Washing Machine,Number of Airconditioner,"Number of Car, Jeep, Van",Number of Landline/wireless telephones,Number of Cellular phone,Number of Personal Computer,Number of Stove with Oven/Gas Range,Number of Motorized Banca,Number of Motorcycle/Tricycle
0,1,A,Wage/Salaries,0,Female,49,Single,Worked for government/government corporation,Extended Family,4,...,1,1,0,0,0,2,1,0,0,1
1,2,A,Wage/Salaries,0,Male,40,Married,Worked for private establishment,Single Family,3,...,0,1,0,0,0,3,1,0,0,2
2,3,A,Wage/Salaries,1,Male,39,Married,Worked for private establishment,Single Family,6,...,0,0,0,0,0,0,0,0,0,0
3,4,A,Wage/Salaries,0,Male,52,Married,Employer in own family-operated farm or business,Single Family,3,...,0,0,0,0,0,1,0,0,0,0
4,5,A,Wage/Salaries,0,Male,65,Married,Self-employed wihout any employee,Single Family,4,...,1,0,0,0,0,3,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41539,1784,Q,Enterpreneurial Activities,2,Male,62,Married,Employer in own family-operated farm or business,Extended Family,6,...,0,1,0,0,0,4,0,0,0,0
41540,1785,Q,Wage/Salaries,2,Male,55,Married,Worked for private establishment,Single Family,5,...,1,0,0,0,0,1,0,0,0,0
41541,1786,Q,Enterpreneurial Activities,2,Male,51,Married,Employer in own family-operated farm or business,Single Family,7,...,0,0,0,0,0,3,0,0,0,1
41542,1787,Q,Enterpreneurial Activities,2,Male,30,Married,Self-employed wihout any employee,Extended Family,12,...,0,0,0,0,0,4,0,0,0,0
41543,1788,Q,Other sources of Income,2,Female,42,Single,Self-employed wihout any employee,Extended Family,5,...,1,0,0,0,0,0,0,1,0,1

## 2) Faca um relatório no qual cada variável quantitativa deve ter
- Mínimo
- Primeiro Quartil
- Mediana
- Terceiro Quartil
- Máximo
- Média

In [4]:
unwanted_stats = ['count', 'std']  # Valores indesejados retornados pelo describe()
new_column_names = ['Média', 'Mínimo', 'Primeiro Quartil', 'Mediana', 'Terceiro Quartil', 'Máximo']

# Remove colunas que, apesar de serem quantitativas, nao trazem estaticas relevantes
# ID - sao somente os identificadores
# Electricity - na pratica, eh uma variavel booleana (tem eletricidade ou nao?)
unwanted_columns = ['ID', 'Electricity']

# Separa variaveis qualitativas e quantitativas, e depois gera o relatorio
df_quantitative, df_qualitative = manip.split_variables(df_merged, unwanted_columns)
stats = manip.generate_stats_report(df_quantitative, unwanted_stats, new_column_names)
display(stats)

,Média,Mínimo,Primeiro Quartil,Mediana,Terceiro Quartil,Máximo
Agricultural Household indicator,0.429858,0.0,0.00,0.0,1.00,2.0
Household Head Age,51.381451,9.0,41.00,51.0,61.00,99.0
Total Number of Family members,4.635182,1.0,3.00,4.0,6.00,26.0
Members with age less than 5 year old,0.410216,0.0,0.00,0.0,1.00,5.0
Members with age 5 - 17 years old,1.362579,0.0,0.00,1.0,2.00,8.0
Total number of family members employed,1.272699,0.0,0.00,1.0,2.00,8.0
House Floor Area,55.603360,5.0,25.00,40.0,70.00,998.0
House Age,20.125505,0.0,10.00,17.0,26.00,200.0
Number of bedrooms,1.788008,0.0,1.00,2.0,2.00,9.0
Total Household Income,247555.584802,11285.0,104895.00,164079.5,291138.50,11815988.0
Total Food Expenditure,85099.158194,2947.0,51017.25,72985.5,105635.50,827565.0
Bread and Cereals Expenditure,25133.723642,0.0,16556.00,23324.0,31439.00,765864.0
Total Rice Expenditure,18195.825005,0.0,11020.00,16620.0,23920.00,758326.0
Meat Expenditure,10540.072574,0.0,3353.75,7332.5,14292.00,261566.0
Total Fish and marine products Expenditure,10529.318337,0.0,5504.00,8695.0,13388.00,188208.0
Fruit Expenditure,2550.474990,0.0,1024.75,1820.0,3100.00,273769.0
Vegetables Expenditure,5006.918568,0.0,2873.00,4314.0,6304.25,74800.0
Restaurant and hotels Expenditure,15436.566075,0.0,1930.00,7314.0,19921.25,725296.0
Alcoholic Beverages Expenditure,1085.068121,0.0,0.00,270.0,1299.25,59592.0
Tobacco Expenditure,2294.736183,0.0,0.00,300.0,3146.50,139370.0
"Clothing, Footwear and Other Wear Expenditure",4954.621076,0.0,1365.00,2740.0,5580.00,356750.0
Housing and water Expenditure,38375.467793,1950.0,13080.00,22992.0,45948.00,2188560.0
Imputed House Rental Value,20921.544627,0.0,6000.00,10800.0,24000.00,1920000.0
Medical Care Expenditure,7160.230936,0.0,300.00,1125.0,4680.00,1049275.0
Transportation Expenditure,11806.344454,0.0,2412.00,6036.0,13776.00,834996.0
Communication Expenditure,4095.492057,0.0,564.00,1506.0,3900.00,149940.0
Education Expenditure,7473.500481,0.0,0.00,880.0,4060.00,731000.0
Miscellaneous Goods and Services Expenditure,12522.071635,0.0,3792.00,6804.0,14154.00,553560.0
Special Occasions Expenditure,5265.726001,0.0,0.00,1500.0,5000.00,556700.0
Crop Farming and Gardening expenses,13816.859715,0.0,0.00,0.0,6312.75,3729973.0
Total Income from Entrepreneurial Acitivites,54376.239264,0.0,0.00,19222.0,65968.75,9234485.0
Number of Television,0.856875,0.0,0.00,1.0,1.00,6.0
Number of CD/VCD/DVD,0.435225,0.0,0.00,0.0,1.00,5.0
Number of Component/Stereo set,0.162141,0.0,0.00,0.0,0.00,5.0
Number of Refrigerator/Freezer,0.394184,0.0,0.00,0.0,1.00,5.0
Number of Washing Machine,0.319806,0.0,0.00,0.0,1.00,3.0
Number of Airconditioner,0.129814,0.0,0.00,0.0,0.00,5.0
"Number of Car, Jeep, Van",0.081215,0.0,0.00,0.0,0.00,5.0
Number of Landline/wireless telephones,0.060610,0.0,0.00,0.0,0.00,4.0
Number of Cellular phone,1.905738,0.0,1.00,2.0,3.00,10.0
Number of Personal Computer,0.315015,0.0,0.00,0.0,0.00,6.0
Number of Stove with Oven/Gas Range,0.135038,0.0,0.00,0.0,0.00,3.0
Number of Motorized Banca,0.013119,0.0,0.00,0.0,0.00,3.0
Number of Motorcycle/Tricycle,0.289885,0.0,0.00,0.0,0.00,5.0

## 3) Trate os dados Outliers como faltantes e crie novamente o relatório para observarmos a diferenca

In [5]:
quartile_1 = stats['Primeiro Quartil']
quartile_3 = stats['Terceiro Quartil']
interquartile_range = quartile_3 - quartile_1

# Calcula os valores maximo e minimo
max_value = quartile_3 + 1.5 * interquartile_range
max_value.name = 'maximo'
min_value = quartile_1 - 1.5 * interquartile_range
min_value.name = 'minimo'

# Filtra os valores. Retorna NaN se nao estiverem entre min_value e max_value
df_iqr = df_quantitative[(df_quantitative <= max_value) & (df_quantitative >= min_value)]

# Gera o relatorio de estatisticas para as variaveis quantitativas com outliers removidos
manip.generate_stats_report(df_iqr, unwanted_stats, new_column_names)

,Média,Mínimo,Primeiro Quartil,Mediana,Terceiro Quartil,Máximo
Agricultural Household indicator,0.429858,0.0,0.00,0.0,1.00,2.0
Household Head Age,51.314278,13.0,41.00,51.0,61.00,91.0
Total Number of Family members,4.511094,1.0,3.00,4.0,6.00,10.0
Members with age less than 5 year old,0.370724,0.0,0.00,0.0,1.00,2.0
Members with age 5 - 17 years old,1.310314,0.0,0.00,1.0,2.00,5.0
Total number of family members employed,1.252930,0.0,0.00,1.0,2.00,5.0
House Floor Area,45.176834,5.0,24.00,40.0,60.00,136.0
House Age,18.441981,0.0,10.00,16.0,25.00,50.0
Number of bedrooms,1.610049,0.0,1.00,2.0,2.00,3.0
Total Household Income,189885.704556,11285.0,101150.00,153175.0,250795.00,570492.0
Total Food Expenditure,77789.375916,2947.0,49957.50,70885.0,99962.50,187504.0
Bread and Cereals Expenditure,24035.446224,0.0,16373.75,22989.5,30732.25,53758.0
Total Rice Expenditure,17296.558959,0.0,10880.00,16290.0,23332.00,43260.0
Meat Expenditure,8855.653907,0.0,3181.75,6810.0,12900.00,30696.0
Total Fish and marine products Expenditure,9381.854687,0.0,5376.00,8374.0,12539.75,25200.0
Fruit Expenditure,2011.625507,0.0,975.00,1691.0,2740.50,6212.0
Vegetables Expenditure,4558.640780,0.0,2810.00,4185.0,5980.00,11450.0
Restaurant and hotels Expenditure,10464.450001,0.0,1668.00,6204.0,15931.00,46900.0
Alcoholic Beverages Expenditure,576.789979,0.0,0.00,170.0,942.50,3248.0
Tobacco Expenditure,1335.506815,0.0,0.00,0.0,2080.00,7864.0
"Clothing, Footwear and Other Wear Expenditure",3235.638301,0.0,1260.00,2435.0,4515.00,11900.0
Housing and water Expenditure,28434.724851,1950.0,12577.50,21102.0,39004.50,95250.0
Imputed House Rental Value,13555.664876,0.0,5400.00,9000.0,18000.00,51000.0
Medical Care Expenditure,1918.836262,0.0,245.00,800.0,2590.50,11250.0
Transportation Expenditure,7680.944966,0.0,2220.00,5304.0,11124.00,30822.0
Communication Expenditure,1880.531637,0.0,480.00,1200.0,2616.00,8904.0
Education Expenditure,1303.191307,0.0,0.00,510.0,1600.00,10150.0
Miscellaneous Goods and Services Expenditure,8265.863790,0.0,3564.00,6084.0,11100.00,29688.0
Special Occasions Expenditure,2329.450125,0.0,0.00,1000.0,3500.00,12500.0
Crop Farming and Gardening expenses,843.744789,0.0,0.00,0.0,0.00,15780.0
Total Income from Entrepreneurial Acitivites,32419.743648,0.0,0.00,14828.5,54426.25,164918.0
Number of Television,0.809573,0.0,0.00,1.0,1.00,2.0
Number of CD/VCD/DVD,0.422841,0.0,0.00,0.0,1.00,2.0
Number of Component/Stereo set,0.000000,0.0,0.00,0.0,0.00,0.0
Number of Refrigerator/Freezer,0.386559,0.0,0.00,0.0,1.00,2.0
Number of Washing Machine,0.319096,0.0,0.00,0.0,1.00,2.0
Number of Airconditioner,0.000000,0.0,0.00,0.0,0.00,0.0
"Number of Car, Jeep, Van",0.000000,0.0,0.00,0.0,0.00,0.0
Number of Landline/wireless telephones,0.000000,0.0,0.00,0.0,0.00,0.0
Number of Cellular phone,1.831481,0.0,1.00,2.0,3.00,6.0
Number of Personal Computer,0.000000,0.0,0.00,0.0,0.00,0.0
Number of Stove with Oven/Gas Range,0.000000,0.0,0.00,0.0,0.00,0.0
Number of Motorized Banca,0.000000,0.0,0.00,0.0,0.00,0.0
Number of Motorcycle/Tricycle,0.000000,0.0,0.00,0.0,0.00,0.0

# 4) Trate os dados Outliers inserindo no lugar a mediana e crie novamente o relatório para observarmos a diferenca:

In [6]:
# Substitui os outliers (que foram transformados em NaNs no exercicio anterior) pela mediana
df_iqr_median = df_iqr.fillna(df_iqr.median())

# Gera o relatorio de estatisticas para as variaveis quantitativas com outliers tratados
manip.generate_stats_report(df_iqr_median, unwanted_stats, new_column_names)

,Média,Mínimo,Primeiro Quartil,Mediana,Terceiro Quartil,Máximo
Agricultural Household indicator,0.429858,0.0,0.00,0.0,1.00,2.0
Household Head Age,51.313764,13.0,41.00,51.0,61.00,91.0
Total Number of Family members,4.502889,1.0,3.00,4.0,6.00,10.0
Members with age less than 5 year old,0.365468,0.0,0.00,0.0,1.00,2.0
Members with age 5 - 17 years old,1.307072,0.0,0.00,1.0,2.00,5.0
Total number of family members employed,1.251950,0.0,0.00,1.0,2.00,5.0
House Floor Area,44.859450,5.0,25.00,40.0,60.00,136.0
House Age,18.348931,0.0,10.00,16.0,25.00,50.0
Number of bedrooms,1.634604,0.0,1.00,2.0,2.00,3.0
Total Household Income,187101.296938,11285.0,104895.00,153175.0,238776.75,570492.0
Total Food Expenditure,77482.082659,2947.0,51017.25,70885.0,98095.00,187504.0
Bread and Cereals Expenditure,24009.665150,0.0,16556.00,22989.5,30510.00,53758.0
Total Rice Expenditure,17272.354443,0.0,11020.00,16290.0,23130.00,43260.0
Meat Expenditure,8751.066749,0.0,3353.75,6810.0,12446.25,30696.0
Total Fish and marine products Expenditure,9336.294531,0.0,5504.00,8374.0,12285.25,25200.0
Fruit Expenditure,1989.761169,0.0,1024.75,1691.0,2640.00,6212.0
Vegetables Expenditure,4543.207322,0.0,2873.00,4185.0,5885.00,11450.0
Restaurant and hotels Expenditure,10147.254453,0.0,1930.00,6204.0,14822.50,46900.0
Alcoholic Beverages Expenditure,540.511410,0.0,0.00,170.0,840.00,3248.0
Tobacco Expenditure,1219.360413,0.0,0.00,0.0,1810.00,7864.0
"Clothing, Footwear and Other Wear Expenditure",3163.098281,0.0,1365.00,2435.0,4204.25,11900.0
Housing and water Expenditure,27913.329001,1950.0,13080.00,21102.0,37080.00,95250.0
Imputed House Rental Value,13185.127816,0.0,6000.00,9000.0,18000.00,51000.0
Medical Care Expenditure,1773.056831,0.0,300.00,800.0,2150.00,11250.0
Transportation Expenditure,7485.154824,0.0,2412.00,5304.0,10404.00,30822.0
Communication Expenditure,1794.924610,0.0,564.00,1200.0,2340.00,8904.0
Education Expenditure,1165.398565,0.0,0.00,510.0,1290.00,10150.0
Miscellaneous Goods and Services Expenditure,8058.149769,0.0,3792.00,6084.0,10320.00,29688.0
Special Occasions Expenditure,2195.013865,0.0,0.00,1000.0,3000.00,12500.0
Crop Farming and Gardening expenses,675.235485,0.0,0.00,0.0,0.00,15780.0
Total Income from Entrepreneurial Acitivites,31293.402706,0.0,0.00,14828.5,51030.50,164918.0
Number of Television,0.813162,0.0,0.00,1.0,1.00,2.0
Number of CD/VCD/DVD,0.420927,0.0,0.00,0.0,1.00,2.0
Number of Component/Stereo set,0.000000,0.0,0.00,0.0,0.00,0.0
Number of Refrigerator/Freezer,0.385591,0.0,0.00,0.0,1.00,2.0
Number of Washing Machine,0.319011,0.0,0.00,0.0,1.00,2.0
Number of Airconditioner,0.000000,0.0,0.00,0.0,0.00,0.0
"Number of Car, Jeep, Van",0.000000,0.0,0.00,0.0,0.00,0.0
Number of Landline/wireless telephones,0.000000,0.0,0.00,0.0,0.00,0.0
Number of Cellular phone,1.833550,0.0,1.00,2.0,3.00,6.0
Number of Personal Computer,0.000000,0.0,0.00,0.0,0.00,0.0
Number of Stove with Oven/Gas Range,0.000000,0.0,0.00,0.0,0.00,0.0
Number of Motorized Banca,0.000000,0.0,0.00,0.0,0.00,0.0
Number of Motorcycle/Tricycle,0.000000,0.0,0.00,0.0,0.00,0.0

# 5) Faca um relatório no qual cada variável qualitativa deve ter:
- Frequência Absoluta
- Frequência Acumulada
- Frequência Relativa
- Frequência Relativa Acumulada

In [7]:
# Gera relatorio de frequencia para as variaveis qualitativas
_ = df_qualitative.apply(manip.generate_frequency_report)

-----------------------------------------------------------

Region

   F. Absoluta  F. Acumulada  F. Relativa  F. Relativa Acumulada
H       4162.0      0.100183     0.100183              10.018294
N       4130.0      0.199596     0.099413              19.959561
F       3237.0      0.277513     0.077917              27.751300
C       2851.0      0.346139     0.068626              34.613903
I       2541.0      0.407303     0.061164              40.730310
D       2472.0      0.466806     0.059503              46.680628
K       2446.0      0.525684     0.058877              52.568361
M       2348.0      0.582202     0.056518              58.220200
L       2337.0      0.638456     0.056254              63.845561
E       2248.0      0.692567     0.054111              69.256692
G       2219.0      0.745980     0.053413              74.598017
P       2122.0      0.797059     0.051078              79.705854
J       1887.0      0.842480     0.045422              84.248026
Q       1788.0      0.885519     0.043039              88.551897
B       1782.0      0.928413     0.042894              92.841325
A       1725.0      0.969935     0.041522              96.993549
O       1249.0      1.000000     0.030065             100.000000

-----------------------------------------------------------

Main Source of Income

,F. Absoluta,F. Acumulada,F. Relativa,F. Relativa Acumulada
Wage/Salaries,20388.0,0.490757,0.490757,49.075679
Other sources of Income,10836.0,0.751589,0.260832,75.158868
Enterpreneurial Activities,10320.0,1.000000,0.248411,100.000000

-----------------------------------------------------------

Household Head Sex

        F. Absoluta  F. Acumulada  F. Relativa  F. Relativa Acumulada
Male        32483.0      0.781894     0.781894               78.18939
Female       9061.0      1.000000     0.218106              100.00000

-----------------------------------------------------------

Household Head Marital Status

,F. Absoluta,F. Acumulada,F. Relativa,F. Relativa Acumulada
Married,31347.0,0.754549,0.754549,75.454939
Widowed,6818.0,0.918665,0.164115,91.866455
Single,1942.0,0.965410,0.046746,96.541017
Divorced/Separated,1425.0,0.999711,0.034301,99.971115
Annulled,11.0,0.999976,0.000265,99.997593
Unknown,1.0,1.000000,0.000024,100.000000

-----------------------------------------------------------

Household Head Class of Worker

,F. Absoluta,F. Acumulada,F. Relativa,F. Relativa Acumulada
Self-employed wihout any employee,13766.0,0.404787,0.404787,40.478711
Worked for private establishment,13731.0,0.808545,0.403758,80.854505
Worked for government/government corporation,2820.0,0.891467,0.082922,89.146671
Employer in own family-operated farm or business,2581.0,0.967361,0.075894,96.736062
Worked for private household,811.0,0.991208,0.023847,99.120795
Worked without pay in own family-operated farm or business,285.0,0.999588,0.008380,99.958833
Worked with pay in own family-operated farm or business,14.0,1.000000,0.000412,100.000000

-----------------------------------------------------------

Type of Household

,F. Absoluta,F. Acumulada,F. Relativa,F. Relativa Acumulada
Single Family,28445.0,0.684696,0.684696,68.469574
Extended Family,12932.0,0.995980,0.311284,99.598017
Two or More Nonrelated Persons/Members,167.0,1.000000,0.004020,100.000000

-----------------------------------------------------------

Type of Building/House

,F. Absoluta,F. Acumulada,F. Relativa,F. Relativa Acumulada
Single house,39069.0,0.940425,0.940425,94.042461
Multi-unit residential,1329.0,0.972415,0.031990,97.241479
Duplex,1084.0,0.998508,0.026093,99.850761
Commercial/industrial/agricultural building,51.0,0.999735,0.001228,99.973522
Institutional living quarter,9.0,0.999952,0.000217,99.995186
Other building unit,2.0,1.000000,0.000048,100.000000

-----------------------------------------------------------

Type of Walls

                F. Absoluta  F. Acumulada  F. Relativa  F. Relativa Acumulada
Strong              27739.0      0.667702     0.667702              66.770171
Light                8267.0      0.866696     0.198994              86.669555
Quite Strong         3487.0      0.950631     0.083935              95.063066
Very Light           1583.0      0.988735     0.038104              98.873484
Salvaged              456.0      0.999711     0.010976              99.971115
NOt applicable         12.0      1.000000     0.000289             100.000000

# 6) Separe os 10% com maior renda (Ordem decrescente) em um novo csv

In [8]:
df_merged = df_merged.sort_values(by='Total Household Income').reset_index(drop=True)  # Ordena df

# Calcula a quantidade de rows que representa 10% do dataframe
ten_percent = int(0.1 * df_merged['Total Household Income'].count())

# Divide o dataframe em 10% e 90% com maior e menor renda, respectivamente
top_ten_percent = df_merged[:ten_percent]
bottom_ninety_percent = df_merged.sort_values(by='Total Household Income')[ten_percent:]

# Salva os 10% com maior renda em csv
top_ten_percent.to_csv('top_ten_percent.csv', index=False)
display(top_ten_percent)

,ID,Region,Main Source of Income,Agricultural Household indicator,Household Head Sex,Household Head Age,Household Head Marital Status,Household Head Class of Worker,Type of Household,Total Number of Family members,...,Number of Refrigerator/Freezer,Number of Washing Machine,Number of Airconditioner,"Number of Car, Jeep, Van",Number of Landline/wireless telephones,Number of Cellular phone,Number of Personal Computer,Number of Stove with Oven/Gas Range,Number of Motorized Banca,Number of Motorcycle/Tricycle
0,688,I,Other sources of Income,1,Female,72,Widowed,Worked for private establishment,Single Family,1,...,0,0,0,0,0,0,0,0,0,0
1,1579,A,Other sources of Income,0,Female,42,Single,NaN,Single Family,1,...,0,0,0,0,0,0,0,0,0,0
2,2083,D,Other sources of Income,0,Male,35,Single,Worked for private establishment,Single Family,1,...,0,0,0,0,0,0,0,0,0,0
3,301,G,Other sources of Income,0,Female,81,Widowed,NaN,Single Family,1,...,0,0,0,0,0,0,0,0,0,0
4,1414,I,Enterpreneurial Activities,1,Male,51,Single,Self-employed wihout any employee,Single Family,1,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4149,188,P,Wage/Salaries,1,Male,35,Married,Employer in own family-operated farm or business,Single Family,5,...,0,0,0,0,0,1,0,0,0,0
4150,2254,C,Wage/Salaries,0,Male,42,Married,Worked for private establishment,Single Family,5,...,0,0,0,0,0,2,0,0,0,0
4151,32,L,Other sources of Income,0,Male,71,Married,Self-employed wihout any employee,Extended Family,7,...,0,0,0,0,0,0,0,0,0,0
4152,1776,D,Other sources of Income,0,Male,72,Married,Self-employed wihout any employee,Extended Family,3,...,0,0,0,0,0,0,0,0,0,0
4153,2121,K,Wage/Salaries,2,Male,31,Married,Worked for private establishment,Single Family,3,...,0,0,0,0,0,3,0,0,0,0

# 7) Criar os dummies para pelo menos 3 das variáveis qualitativas

In [9]:
# Cria os dummies das colunas desejadas e concatena com o dataframe de quantitativas
qualitative_columns = ['Main Source of Income', 'Household Head Sex', 'Type of Household']
df_dummies = manip.to_dummy(df_qualitative, df_quantitative, qualitative_columns)
display(df_dummies)

,Agricultural Household indicator,Household Head Age,Total Number of Family members,Members with age less than 5 year old,Members with age 5 - 17 years old,Total number of family members employed,House Floor Area,House Age,Number of bedrooms,Total Household Income,...,Number of Motorized Banca,Number of Motorcycle/Tricycle,Main Source of Income_Enterpreneurial Activities,Main Source of Income_Other sources of Income,Main Source of Income_Wage/Salaries,Household Head Sex_Female,Household Head Sex_Male,Type of Household_Extended Family,Type of Household_Single Family,Type of Household_Two or More Nonrelated Persons/Members
0,0,49,4,0,1,1,80,75,3,480332,...,0,1,0,0,1,1,0,1,0,0
1,0,40,3,0,1,2,42,15,2,198235,...,0,2,0,0,1,0,1,0,1,0
2,1,39,6,0,4,3,35,12,1,82785,...,0,0,0,0,1,0,1,0,1,0
3,0,52,3,0,3,2,30,15,1,107589,...,0,0,0,0,1,0,1,0,1,0
4,0,65,4,0,0,2,54,16,3,189322,...,0,1,0,0,1,0,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41539,2,62,6,0,2,0,25,18,2,163444,...,0,0,1,0,0,0,1,1,0,0
41540,2,55,5,1,1,2,40,19,2,203560,...,0,0,0,0,1,0,1,0,1,0
41541,2,51,7,0,3,0,40,22,2,246510,...,0,1,1,0,0,0,1,0,1,0
41542,2,30,12,2,1,1,20,35,2,285300,...,0,0,1,0,0,0,1,1,0,0
41543,2,42,5,0,1,0,43,35,2,205590,...,0,1,0,1,0,1,0,1,0,0

In [10]:
# Separa variaveis qualitativas e quantitativas
df_quantitative_ten, df_qualitative_ten = manip.split_variables(top_ten_percent, unwanted_columns)
df_quantitative_ninety, df_qualitative_ninety = manip.split_variables(bottom_ninety_percent, unwanted_columns)

# Cria dummies e os concatena no dataframe de quantitativas
df_dummies_ten = manip.to_dummy(df_qualitative_ten, df_quantitative_ten, qualitative_columns)
df_dummies_ninety = manip.to_dummy(df_qualitative_ninety, df_quantitative_ninety, qualitative_columns)

# 8) Compare a média das variáveis(Quantitativos + 3 Qualitativas) da populacão dos 10% com maior renda vs o restante

In [11]:
df_mean_comparison = pd.DataFrame([df_dummies_ninety.mean(), df_dummies_ten.mean()]).T
df_mean_comparison.columns = ['Bottom 90%', 'Top 10%']
display(df_mean_comparison)

,Bottom 90%,Top 10%
Agricultural Household indicator,0.419952,0.519018
Household Head Age,50.932281,55.424410
Total Number of Family members,4.827360,2.905392
Members with age less than 5 year old,0.423883,0.287193
Members with age 5 - 17 years old,1.426692,0.785508
Total number of family members employed,1.336641,0.697159
House Floor Area,58.007141,33.967020
House Age,20.368548,17.937891
Number of bedrooms,1.856833,1.168512
Total Household Income,269111.255978,53533.787675
Total Food Expenditure,90887.740813,32996.340636
Bread and Cereals Expenditure,26364.385772,14056.579442
Total Rice Expenditure,19147.832549,9626.840395
Meat Expenditure,11460.226825,2257.798267
Total Fish and marine products Expenditure,11168.696737,4774.297063
Fruit Expenditure,2715.853972,1061.904911
Vegetables Expenditure,5257.048221,2755.510833
Restaurant and hotels Expenditure,16869.045948,2542.867838
Alcoholic Beverages Expenditure,1154.402675,460.990371
Tobacco Expenditure,2429.391575,1082.707992
"Clothing, Footwear and Other Wear Expenditure",5380.219043,1123.829562
Housing and water Expenditure,41528.656593,9993.732306
Imputed House Rental Value,22646.713239,5393.365912
Medical Care Expenditure,7841.245493,1030.444150
Transportation Expenditure,12912.314683,1851.547424
Communication Expenditure,4514.347526,325.389504
Education Expenditure,8256.286494,427.672605
Miscellaneous Goods and Services Expenditure,13647.549773,2391.684641
Special Occasions Expenditure,5780.132896,635.568609
Crop Farming and Gardening expenses,14451.130650,8107.810544
Total Income from Entrepreneurial Acitivites,58841.860685,14181.346413
Number of Television,0.917705,0.309340
Number of CD/VCD/DVD,0.472453,0.100144
Number of Component/Stereo set,0.177293,0.025758
Number of Refrigerator/Freezer,0.432870,0.045980
Number of Washing Machine,0.353544,0.016129
Number of Airconditioner,0.144103,0.001204
"Number of Car, Jeep, Van",0.090185,0.000481
Number of Landline/wireless telephones,0.067077,0.002407
Number of Cellular phone,2.062236,0.497111
Number of Personal Computer,0.349505,0.004574
Number of Stove with Oven/Gas Range,0.148997,0.009389
Number of Motorized Banca,0.014121,0.004092
Number of Motorcycle/Tricycle,0.317331,0.042850
Main Source of Income_Enterpreneurial Activities,0.246296,0.267453
Main Source of Income_Other sources of Income,0.240813,0.441021
Main Source of Income_Wage/Salaries,0.512891,0.291526
Household Head Sex_Female,0.209013,0.299952
Household Head Sex_Male,0.790987,0.700048
Type of Household_Extended Family,0.328430,0.156957
Type of Household_Single Family,0.667317,0.841117
Type of Household_Two or More Nonrelated Persons/Members,0.004252,0.001926