# Miniprojeto Pandas
  
Você vai receber 3 bases para carregar, manipular e gerar novas bases.  
- 1_demografico.csv  
- 2_renda_gastos.csv  
- 3_bens.csv 
  
As bases tem dados demográficos, renda/gastos e bens de famílias da Filipinas.

```
Renda familiar total
Região
Despesa Total de Alimentos
Principal fonte de renda
Indicador Agrícola Doméstico
Despesas com Pão e Cereais
Despesa total de arroz
Gastos com carne
Despesas totais com peixes e produtos marinhos
Despesas com frutas
Gastos com vegetais
Despesas com restaurantes e hotéis
Despesas com bebidas alcoólicas
Despesas com tabaco
Despesas com roupas, calçados e outras despesas
Despesas com habitação e água
Valor imputado do aluguel da casa
Despesas com cuidados médicos
Despesas de transporte
Despesas de comunicação
Despesas com educação
Despesas com bens e serviços diversos
Despesas para ocasiões especiais
Despesas de cultivo agrícola e jardinagem
Renda total de atividades empreendedoras
Sexo Chefe da Família
Idade do chefe da família
Estado civil do chefe da família
Nível mais alto de chefe de família concluído
Indicador de emprego ou negócio de chefe de família
Ocupação do chefe da família
Chefe de família da classe de trabalhador
Tipo de família
Número total de membros da família
Membros com idade inferior a 5 anos
Membros com idade de 5 a 17 anos
Número total de membros da família empregados
Tipo de construção / casa
Tipo de telhado
Tipo de paredes
Área do piso da casa
House Age
Numero de quartos
Status de posse
Instalações sanitárias
Eletricidade
Fonte Principal de Abastecimento de Água
Número de televisão
Número de CD / VCD / DVD
Número de conjunto de componente / estéreo
Número de geladeira / freezer
Número da máquina de lavar
Número do ar condicionado
Número de carro, jipe, van
Número de telefones fixos / sem fio
Número de telefone celular
Número do computador pessoal
Número de fogão com forno / fogão a gás
Número de banco motorizado
Número de motocicleta / triciclo
```
  
#### Você deve:  
1) Juntar as bases, observe as colunas coincidentes, caso não exista utilize o indice.  

2) Faca um relatório no qual cada variável quantitativa deve ter:
- Mínimo
- Primeiro Quartil
- Mediana
- Terceiro Quartil
- Máximo
- Média  
  
3) Trate os dados Outliers como faltantes e crie novamente o relatório para observarmos a diferenca:  
<img src="https://escoladedados.org/wp-content/uploads/2019/06/Captura-de-Tela-2019-06-13-a%CC%80s-14.46.46-1024x498.png" width=500>
  
4) Trate os dados Outliers inserindo no lugar a mediana e crie novamente o relatório para observarmos a diferenca:
  
5) Faca um relatório no qual cada variável qualitativa deve ter:
- Frequência Absoluta
- Frequência Acumulada
- Frequência Relativa
- Frequência Relativa Acumulada  
  
**Exemplo:**  
<img src="http://umolharmatematico.weebly.com/uploads/2/5/7/9/25795733/8634702_orig.png " width=450>
   
6) Separe os 10% com maior renda(Ordem decrescente) em um novo csv  
  
7) Criar os dummies para pelo menos 3 das variáveis qualitativas  
  
8) Compare a média das variáveis(Quantitativos + 3 Qualitativas) da populacão dos 10% com maior renda vs o restante
  
## Não se esqueca assim de acabar de realizar o projeto responder:  
https://forms.gle/JRtrHrrSdoq65yDm8

In [1]:
import pandas as pd
import numpy as np

In [2]:
demografico_df = pd.read_csv("1_demografico.csv", sep=';')
renda_df = pd.read_csv("2_renda_gastos.csv", sep=';')
bens_df = pd.read_csv("3_bens.csv", sep=';')

## 1

``` sql
select * from demografico_df d
inner join rendas_df r on d.ID = r.ID
```

> Note o use de dois parametros no join, aperentemente os datasets possuem primary key composta

In [3]:
first_merge = demografico_df.merge(renda_df,how='inner',left_on=['ID','Region'],right_on=['ID','Region'])
df = first_merge.merge(bens_df, left_index=True, right_index=True)

## 2

In [5]:
quantitativa_cols = ['Household Head Age', 'Total Number of Family members', 'Members with age less than 5 year old',
'Members with age 5 - 17 years old','Total number of family members employed', 'House Floor Area',
'House Age', 'Number of bedrooms', 'Total Household Income','Total Food Expenditure','Bread and Cereals Expenditure',
'Total Rice Expenditure','Meat Expenditure','Total Fish and  marine products Expenditure','Fruit Expenditure',
'Vegetables Expenditure','Restaurant and hotels Expenditure','Alcoholic Beverages Expenditure',
'Tobacco Expenditure','Clothing, Footwear and Other Wear Expenditure','Housing and water Expenditure',
'Imputed House Rental Value','Medical Care Expenditure','Transportation Expenditure','Communication Expenditure',
'Education Expenditure','Miscellaneous Goods and Services Expenditure','Special Occasions Expenditure',
'Crop Farming and Gardening expenses','Total Income from Entrepreneurial Acitivites',
'Number of Television','Number of CD/VCD/DVD','Number of Component/Stereo set','Number of Refrigerator/Freezer',
'Number of Washing Machine','Number of Airconditioner','Number of Car, Jeep, Van','Number of Landline/wireless telephones',
'Number of Cellular phone','Number of Personal Computer','Number of Stove with Oven/Gas Range','Number of Motorized Banca',
'Number of Motorcycle/Tricycle']

In [6]:
stats_report = df[quantitativa_cols].describe().T

In [7]:
stats_report.head()

,count,mean,std,min,25%,50%,75%,max
Household Head Age,41544.0,51.381451,14.166081,9.0,41.0,51.0,61.0,99.0
Total Number of Family members,41544.0,4.635182,2.280252,1.0,3.0,4.0,6.0,26.0
Members with age less than 5 year old,41544.0,0.410216,0.694390,0.0,0.0,0.0,1.0,5.0
Members with age 5 - 17 years old,41544.0,1.362579,1.408000,0.0,0.0,1.0,2.0,8.0
Total number of family members employed,41544.0,1.272699,1.149152,0.0,0.0,1.0,2.0,8.0

## 3

In [8]:
stats_report['IQR'] = stats_report['75%'] - stats_report['25%']
stats_report['minimun_wo_outlier'] = stats_report['25%'] - 1.5* stats_report['IQR']
stats_report['maximun_wo_outlier'] = stats_report['75%'] + 1.5* stats_report['IQR']

In [9]:
new_stats_df = df.copy()
new_stats_df = new_stats_df[quantitativa_cols]

In [10]:
for index, row in stats_report.iterrows():
    new_stats_df[index] = new_stats_df[index].apply(lambda x: np.nan if x< row['minimun_wo_outlier'] or x> row['maximun_wo_outlier'] else x)
# new_stats_df

In [11]:
new_stats_report = new_stats_df.describe().T

In [13]:
stats_report.head()

,count,mean,std,min,25%,50%,75%,max,IQR,minimun_wo_outlier,maximun_wo_outlier
Household Head Age,41544.0,51.381451,14.166081,9.0,41.0,51.0,61.0,99.0,20.0,11.0,91.0
Total Number of Family members,41544.0,4.635182,2.280252,1.0,3.0,4.0,6.0,26.0,3.0,-1.5,10.5
Members with age less than 5 year old,41544.0,0.410216,0.694390,0.0,0.0,0.0,1.0,5.0,1.0,-1.5,2.5
Members with age 5 - 17 years old,41544.0,1.362579,1.408000,0.0,0.0,1.0,2.0,8.0,2.0,-3.0,5.0
Total number of family members employed,41544.0,1.272699,1.149152,0.0,0.0,1.0,2.0,8.0,2.0,-3.0,5.0

In [12]:
new_stats_report.head()

,count,mean,std,min,25%,50%,75%,max
Household Head Age,41476.0,51.314278,14.067675,13.0,41.0,51.0,61.0,91.0
Total Number of Family members,40877.0,4.511094,2.067887,1.0,3.0,4.0,6.0,10.0
Members with age less than 5 year old,40955.0,0.370724,0.613618,0.0,0.0,0.0,1.0,2.0
Members with age 5 - 17 years old,41110.0,1.310314,1.318580,0.0,0.0,1.0,2.0,5.0
Total number of family members employed,41383.0,1.252930,1.106062,0.0,0.0,1.0,2.0,5.0

## 4

In [21]:
median_stats_df = df.copy()
median_stats_df = median_stats_df[quantitativa_cols]

In [22]:
for index, row in stats_report.iterrows():
    median_stats_df[index] = median_stats_df[index].apply(lambda x: row['50%'] if x< row['minimun_wo_outlier'] or x> row['maximun_wo_outlier'] else x)
# new_stats_df

In [24]:
median_stats_report = median_stats_df.describe().T

In [26]:
median_stats_report.head()

,count,mean,std,min,25%,50%,75%,max
Household Head Age,41544.0,51.313764,14.056162,13.0,41.0,51.0,61.0,91.0
Total Number of Family members,41544.0,4.502889,2.052225,1.0,3.0,4.0,6.0,10.0
Members with age less than 5 year old,41544.0,0.365468,0.610827,0.0,0.0,0.0,1.0,2.0
Members with age 5 - 17 years old,41544.0,1.307072,1.312054,0.0,0.0,1.0,2.0,5.0
Total number of family members employed,41544.0,1.251950,1.104028,0.0,0.0,1.0,2.0,5.0

In [27]:
new_stats_report.head()

,count,mean,std,min,25%,50%,75%,max
Household Head Age,41476.0,51.314278,14.067675,13.0,41.0,51.0,61.0,91.0
Total Number of Family members,40877.0,4.511094,2.067887,1.0,3.0,4.0,6.0,10.0
Members with age less than 5 year old,40955.0,0.370724,0.613618,0.0,0.0,0.0,1.0,2.0
Members with age 5 - 17 years old,41110.0,1.310314,1.318580,0.0,0.0,1.0,2.0,5.0
Total number of family members employed,41383.0,1.252930,1.106062,0.0,0.0,1.0,2.0,5.0